﻿
<div class="fix-header">
    <div id="wrapper">
        <header data-ng-include="'template/header.html'" data-ng-controller="headerCtrl as hctrl"></header>
        <aside data-ng-include="'template/sidebar-left.html'" data-ng-class="{ 'toggled': mactrl.sidebarToggle.left === true }"></aside>
        <div id="page-wrapper">
            
            <!--aside id="chat" data-ng-include="'template/chat.html'" data-ng-class="{ 'toggled': mactrl.sidebarToggle.right === true }"></aside-->

            <div class="container-fluid" data-ng-controller="apmcPurchasesCtrl">
                <div class="">
                    <!--vendorviewprofile-->
                    <div class="">
                        <h4 style="text-align:center;"><strong>BID HISTORY</strong></h4>
                    </div>
                    <div class="white-box">
                        <div style="max-height: 300px; overflow: auto">
                            <table class="table">
                                <thead style="font-weight:bold">
                                    <tr>
                                        <th>Price</th>
                                        <th>Bid Time</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="audit in apmcaudit">
                                        <td>
                                            <label ng-if="audit.customerPrice > 0" class="text-danger"> {{audit.customerPrice}} (C) </label>
                                            <lable ng-if="audit.vendorPrice > 0">
                                                <span ng-if="audit.isFrozen != 1"> {{audit.vendorPrice}} (V) </span>
                                                <span ng-if="audit.isFrozen == 1" class="text-success"> {{audit.vendorPrice}} (F) </span>
                                            </lable>
                                        </td>
                                        <td>{{audit.created}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>

                        <br />
                        <h4 style="text-align:center;"><strong>QTY HISTORY</strong></h4>


                        <table class="table table-striped table-vmiddle">
                            <tr>
                                <th>
                                    Quantity
                                </th>
                                <th>
                                    Units
                                </th>
                                <th>
                                    Price
                                </th>
                                <th>
                                    Time of Purchase
                                </th>
                            </tr>

                            <tr ng-repeat="quantity in vendorQuantityHistory">
                                <td>{{quantity.quantity}}</td>
                                <td>{{quantity.units}}</td>
                                <td>{{quantity.price}}</td>
                                <td>{{quantity.dateCreated}}</td>
                            </tr>
                        </table>



                    </div>
                </div>
            </div>
</div>
        </div>
    </div>
