﻿<header id="header" data-ng-include="'template/header.html'"></header>
<aside data-ng-include="'template/sidebar-left.html'" data-ng-class="{ 'toggled': mactrl.sidebarToggle.left === true }"></aside>

<section id="main1" class="top-half-buffer">
    <!--aside id="sidebar" data-ng-include="'template/sidebar-left.html'" data-ng-class="{ 'toggled': mactrl.sidebarToggle.left === true }"></aside-->
    <!--aside id="chat" data-ng-include="'template/chat.html'" data-ng-class="{ 'toggled': mactrl.sidebarToggle.right === true }"></aside-->

    <section id="content">
        <div>
            <div class="white-box" ng-controller="indentListCtrl">
                <div class="card-body card-padding">

                    <div class="row">
                        <div class="col-md-2">
                            <h4>Indent List</h4>
                        </div>
                        <div class="col-md-1">
                            &nbsp;
                        </div>
                        <div class="col-md-9 pull-right form-group">
                            <div class="col-md-4" style="text-align: right;padding-top: 5px;">
                                <input class="form-control white attribute-filter ng-pristine ng-valid ng-touched" ng-change="searchTable(searchKeyword);" ng-model="searchKeyword" type="text" placeholder="Search">
                            </div>
                            <div class="col-md-5 padding0" style="text-align: right;padding-top: 5px;">
                                <div class="col-md-3">
                                    <label class="radio-inline">
                                        <input class="mt1" type="radio" ng-model="statusFilter" value="all" ng-change="indentListFilter(statusFilter)" />All
                                    </label>
                                </div>
                                <div class="col-md-4">
                                    <label class="radio-inline">
                                        <input class="mt1" type="radio" ng-model="statusFilter" value="1" ng-change="indentListFilter(statusFilter)" />Medical
                                    </label>
                                </div>
                                <div class="col-md-5">
                                    <label class="radio-inline">
                                        <input class="mt1" type="radio" ng-model="statusFilter" value="0" ng-change="indentListFilter(statusFilter)" />Non Medical
                                    </label>
                                </div>
                                </div>
                                <div class="col-md-2  padding0">
                                    <!--ng-if="isUserEntitled(360360);"-->
                                    <button title="Create Indent" role="button" ng-click="goToIndent(0)" class="btn btn-primary btn-new-look pull-right">Create Indent</button>
                                </div>

                            </div>
                    </div>
                        <div class="row" style="margin-top:20px">
                            <div class="col-md-12 table-responsive">
                                <table class="table table-hover listcij" style="background-color:#f5f5f5;margin-left: 20px;" datatable="ng" dt-options="vm.dtOptions" dt-instance="vm.dtInstance">
                                    <thead>
                                        <tr style="font-weight: bold;border:solid;border-color:darkgrey;">
                                            <th class="listcij"></th>
                                            <th class="listcij">Indent Code</th>
                                            <th class="listcij">Category</th>
                                            <th class="listcij">Asset Type</th>
                                            <th class="listcij">Department</th>
                                            <th class="listcij">Date</th>
                                            <th class="listcij">Requested By</th>
                                            <th class="listcij">WF Status</th>
                                            <th class="listcij">WF User Status</th>
                                            <th class="listcij">Indent Status</th>
                                            <th class="text-center listcij">Actions</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat-start="indent in indentList.slice(((currentPage-1)*itemsPerPage), ((currentPage)*itemsPerPage)) | filterBy: ['indNo','isCapexName','cij.cijCode','isMedicalName','department','requestDate','requestedBy','status','userWFStatus','currentApproverName']: searchKeyword" class="listcij">
                                            <td style="line-height:20px;" class="listcij">
                                                <a role="button" ng-hide="indent.expanded" ng-click="indent.expanded = true;GetItemsList(indent.indID, 'INDENT', ($index + ((currentPage-1)*itemsPerPage)));" title="More Details"><i class="fa fa-plus-square expandplus" style="font-size:20px;color:green;line-height:1px" aria-hidden="true"></i></a>
                                                <a role="button" ng-hide="!indent.expanded" ng-click="indent.expanded = false" title="Hide Details"><i class="fa fa-minus-square expandminus" style="font-size:20px;color:red;line-height:1px" aria-hidden="true"></i></a>
                                            </td>
                                            <td ng-if="indent.isIndentAssigned <= 0" class="listcij">
                                                <a ng-click="goToIndent(indent.indID)" role="button">{{indent.indNo}}</a>
                                            </td>
                                            <td ng-if="indent.isIndentAssigned > 0" class="listcij">
                                                <!--<a ng-click="goToIndentView(indent.indID)" role="button"></a>-->
                                                <a ng-click="goToIndent(indent.indID)" role="button"><u>{{indent.indNo}}</u></a>
                                            </td>
                                            <!--<td>{{indent.cij.cijID>0 ? 'CAPEX':'NON-CAPEX'}}</td>-->
                                          
                                            <td class="listcij">
                                                <span ng-if="indent.isCapexName == 'CAPEX'">
                                                    <a ng-click="goToCIJ(indent.cij.cijID)" role="button"><u>{{indent.cij.cijCode}}</u></a>
                                                </span>
                                                <span ng-if="indent.isCapexName == 'NON-CAPEX' || indent.isCapexName == 'SERVICE REQUEST'">
                                                    {{indent.isCapexName}}
                                                </span>
                                            </td>

                                            <td class="listcij">
                                                {{indent.isMedicalName}}
                                            </td>
                                            <td class="listcij">
                                                {{indent.department}}
                                            </td>
                                            <td class="listcij" style="width:7%">
                                                {{indent.requestDate}}
                                            </td>
                                            <td class="listcij">
                                                {{indent.requestedBy}}
                                            </td>
                                            <td class="listcij">
                                                {{indent.status}} {{indent.currentApproverName == '' || indent.currentApproverName == null || indent.currentApproverName == undefined  ?'':'By'}} {{indent.currentApproverName}}
                                            </td>
                                            <td class="listcij">
                                                {{indent.userWFStatus}}
                                            </td>
                                            <td class="listcij">

                                                <!--<label>{{indent.isValid>0?'Active':'CANCELLED'}}</label>-->
                                                <div class="col-md-9">
                                                    <textarea type="text" ng-model="indent.userStatus" class="form-control" style="resize:vertical;" rows="1"></textarea>
                                                </div>
                                                <div class="col-md-1">
                                                    <a role="button" ng-click="SaveUserStatus('INDENT', indent.indID, indent.userStatus);">save</a>
                                                </div>
                                                <div class="col-md-2"></div>
                                            </td>
                                            <td class="text-center listcij" style="line-height:20px;">
                                                <label>
                                                    <i title="Edit Indent List " ng-click="goToIndent(indent.indID)" class="fa fa-edit" aria-hidden="true" style="line-height:4px"></i>
                                                    <i title="Edit Indent List" ng-show="indent.isValid>0" ng-click="cancelIndent(indent, 0)" class="fa fa-ban" aria-hidden="true"></i>
                                                </label>
                                                <!--   <div class="row" style="line-height:20px;">
                            <button ng-if="item.poID > 0" title=" vendor po" ng-click="goToViewPo(item, item.poID)" class="btn btn-primary btn-new-look">View PO</button>
                            <button ng-if="isCustomer && item.poID > 0" title=" vendor po" ng-click="goToVendorPo(item, item.poID)" class="btn btn-primary btn-new-look">Edit PO</button>
                            <!--<button ng-if="!isCustomer && item.poID > 0" title=" vendor po" ng-click="goToVendorPo(item, item.poID)" class="btn btn-primary btn-new-look">View PO</button>-->
                                                <!-- <a ng-if="item.poLink > 0 && item.poID > 0" target="_blank " href="FileDownload.aspx?attachid={{item.poLink}}&sessionid={{sessionID}}" class="btn btn-default">Download PO</a>
                                <button ng-if="item.poLink > 0 && item.poID > 0" ng-click="goToDispatchTrack(item.poID, 0);" class="btn btn-primary btn-new-look">Dispatch History</button>
                                <button ng-if="!isCustomer && item.poID > 0" title="Edit Dispatch Meterial" role="button" ng-click="goToDispatchTrackForm(item.poID, 0)" class="btn btn-primary btn-new-look">New Dispatch</button>
                                <button title="Edit Indent List" ng-show="indent.isValid<=0" role="button" ng-click="cancelIndent(indent, 1)" class="btn btn-primary btn-new-look">Enable</button>
                            </div>-->
                                            </td>
                                        </tr>
                                        <tr ng-repeat-end ng-if="indent.expanded">
                                            <td colspan="11">
                                                <table class="table listcij_lg listcij1" style="background-color:#ffffff;">
                                                    <thead class="listcij_lg">
                                                        <tr style="width:100%;" class=" dl-horizontal">
                                                            <th style="width:5%;text-align:center" class="listcij_lg"> Sl.No </th>
                                                            <th style="width:5%;text-align:center" class="listcij_lg"> Budget Code</th>
                                                            <th style="width:15%;text-align:center" class="listcij_lg"> material description</th>
                                                            <th style="width:12%;text-align:center" class="listcij_lg"> Make/model </th>
                                                            <!--<th style="width:15%;text-align:center" colspan="2" scope='colgroup' class="listcij_lg">
                                            <b> Existing Quantity </b>
                                            <table>
                                                <tr>
                                                    <td style="text-align:center;"> <small>  Functional </small> &nbsp;&nbsp; &nbsp;&nbsp;  &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp;  &nbsp;&nbsp;</td>
                                                    <td style="text-align:center;"> <small>  Non-Functional </small>  </td>
                                                </tr>
                                            </table>
                                        </th>-->
                                                            <th style="width:10%;text-align:center" class="listcij_lg"> E.QTY FUNCT </th>
                                                            <th style="width:10%;text-align:center" class="listcij_lg"> E.QTY NON-FUNCT </th>
                                                            <th style="width:10%;text-align:center" class="listcij_lg"> Required Qty</th>
                                                            <th style="width:10%;text-align:center" class="listcij_lg"> Units</th>
                                                            <th style="width:15%;text-align:center" class="listcij_lg"> Purpose of Material</th>
                                                        </tr>
                                                    </thead>

                                                    <tr ng-repeat="item in indent.ItemsList track by $index">
                                                        <td>{{$index + 1}}</td>
                                                        <td ng-if="!item.isErrorPurposeOfMaterial"><textarea type="text" ng-model="item.bcInfo.budgetCode" name="budgetCode" id="budgetCode" class="form-control fg-input" ng-disabled="true" style="resize: vertical;" rows="1"></textarea></td>
                                                        <td ng-if="!item.isErrorMaterialDescription"><textarea type="text" ng-model="item.materialDescription" name="materialDescription" id="materialDescription" class="form-control fg-input" ng-disabled="true||isEditDisable" required style="resize: vertical;" rows="1"></textarea></td>
                                                        <td ng-if="item.isErrorMaterialDescription"><textarea type="text" ng-model="item.materialDescription" name="materialDescription" id="materialDescription" class="form-control fg-input" ng-disabled="true||isEditDisable" required style="resize: vertical;border:1px solid #ff0000;" rows="1"></textarea></td>
                                                        <!--<td ng-if="!item.isErrorMaterialDescription"><input type="text" ng-model="item.materialDescription" name="materialDescription" id="materialDescription" class="form-control fg-input" ng-disabled="true||isEditDisable" required></td>-->
                                                        <td><textarea type="text" ng-model="item.makeModel" name="makeModel" id="makeModel" class="form-control fg-input" ng-disabled="true||isEditDisable" required style="resize: vertical;" rows="1"></textarea></td>
                                                        <td><input type="number" placeholder="Functional" ng-model="item.existFunctional" name="existFunctional" id="existFunctional" class="form-control fg-input" ng-disabled="true||isEditDisable" required></td>
                                                        <td><input type="number" placeholder="Non-Functional" ng-model="item.existNonFunctional" name="existNonFunctional" id="existNonFunctional" class="form-control fg-input" ng-disabled="true||isEditDisable" required></td>
                                                        <td ng-if="!item.isErrorRequiredQuantity"><input type="number" ng-model="item.requiredQuantity" name="requiredQuantity" id="requiredQuantity" class="form-control fg-input" ng-disabled="true||isEditDisable" required></td>
                                                        <td ng-if="item.isErrorRequiredQuantity"><input type="number" style="border:1px solid #ff0000" ng-model="item.requiredQuantity" name="requiredQuantity" id="requiredQuantity" class="form-control fg-input" ng-disabled="true||isEditDisable" required></td>
                                                        <td ng-if="!item.isErrorMaterialUnits"><textarea type="text" ng-model="item.units" name="materialUnits" id="materialUnits" class="form-control fg-input" ng-disabled="true||isEditDisable" required style="resize: vertical;" rows="1"></textarea></td>
                                                        <td ng-if="item.isErrorMaterialUnits"><textarea type="text" ng-model="item.units" name="materialUnits" id="materialUnits" class="form-control fg-input" ng-disabled="true||isEditDisable" required style="resize: vertical;border:1px solid #ff0000;" rows="1"></textarea></td>
                                                        <td ng-if="!item.isErrorPurposeOfMaterial"><textarea type="text" ng-model="item.purposeOfMaterial" name="purposeOfMaterial" id="purposeOfMaterial" class="form-control fg-input" ng-disabled="true||isEditDisable" required style="resize: vertical;" rows="1"></textarea></td>
                                                        <td ng-if="item.isErrorPurposeOfMaterial"><textarea type="text" ng-model="item.purposeOfMaterial" name="purposeOfMaterial" id="purposeOfMaterial" class="form-control fg-input" ng-disabled="true||isEditDisable" required style="resize: vertical;border:1px solid #ff0000;" rows="1"></textarea></td>
                                                    </tr>
                                                </table>
                                            </td>
                                        </tr>
                                        <tr ng-show="indentList.length==0" class="listcij">
                                            <td colspan="10" align="center" class="listcij">
                                                No data available
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                                <ul ng-show="totalItems > itemsPerPage" uib-pagination total-items="totalItems" ng-model="currentPage" items-per-page="itemsPerPage" max-size="maxSize" ng-change="pageChanged()" class="pagination-sm" boundary-links="true" force-ellipses="true" style="float: right;"></ul>
                            </div>
                        </div>
                    </div>
            </div>
        </div>
    </section>
</section>