﻿
<style>
    .form-control {
        text-align: center;
    }
</style>
<header id="header" data-current-skin={{mactrl.currentSkin}} data-ng-include="'template/header.html'" data-ng-controller="headerCtrl as hctrl"></header>
<aside data-ng-include="'template/sidebar-left.html'" data-ng-class="{ 'toggled': mactrl.sidebarToggle.left === true }"></aside>
<body class="fix-header">
    <div data-ng-controller="cijCtrl">
        <div id="wrapper">

            <div id="page-wrapper">
                <div class="container-fluid">
                    <div class="row bg-title top-grid" ">
                        <div class="pull-left col-md-6">
                            <h4> &nbsp;&nbsp; CAPITAL INVESTMENT JUSTIFICATION  </h4>
                        </div>
                        <div class="pull-right col-md-6" style=" padding-right: 0px">
                            <span class="col-md-5 text-right"> <strong>CIJ CODE</strong>  </span>
                            <span class="col-md-7"> <textarea type="text" ng-model="cij.code" name="dateinst" id="dateinst" class="form-control fg-input" required ng-disabled="true" style="resize: vertical;" rows="1"></textarea></span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="white-boxCIJ">
                                <div class="row">
                                    <div class="radio-list col-md-11">
                                        <label class="radio-inline p-0">
                                            <div class="radio radio-success">
                                                <input type="radio" ng-model="cijString.cijType" name="new" value="1" ng-disabled="isEditDisable">
                                                <label for="new">New</label>
                                            </div>
                                        </label>
                                        <label class="radio-inline">
                                            <div class="radio radio-success">
                                                <input type="radio" ng-model="cijString.cijType" name="replacement" value="0" ng-disabled="isEditDisable">
                                                <label for="replacement">Replacement</label>
                                            </div>

                                        </label>
                                        <span class="top-fliter-tab">
                                            <span class="top-flitergroup"> <strong> Asset Type</strong></span>
                                            <label class="radio-inline p-0">
                                                <div class="radio radio-success">
                                                    <input type="radio" ng-model="cij.assetType" name="medical" value="0" ng-disabled="isEditDisable && isEdit == false" />
                                                    <label for="medical">Medical</label>
                                                </div>
                                            </label>
                                            <label class="radio-inline">
                                                <div class="radio radio-success">
                                                    <input style="margin-left:8px;" type="radio" ng-model="cij.assetType" name="nonMedical" value="1" ng-disabled="isEditDisable && isEdit == false" />
                                                    <label for="non-medical">Non-Medical</label>
                                                    <a role="button" class="zmdi zmdi-edit editAlign" ng-click="isEditFunction(true);" ng-if="isEdit == false && cijID > 0"></a><a role="button" class="zmdi zmdi-check-circle editAlign" ng-click="isEditFunction(false);EditCijIndentDetails(cij.assetType, 'CIJ')" ng-if="isEdit == true && cijID > 0"></a>

                                                </div>
                                            </label>

                                            <span class="top-flitergroup"><strong> Asset Category </strong></span>
                                            <label class="radio-inline p-0">
                                                <div class="radio radio-success">
                                                    <input type="radio" ng-model="cij.assetCategory" name="revenueGenerating" value="0" ng-disabled="isEditDisable" />
                                                    <label for="revenue">Revenue Generating</label>
                                                </div>
                                            </label>
                                            <label class="radio-inline">
                                                <div class="radio radio-success">
                                                    <input type="radio" ng-model="cij.assetCategory" name="valueAdding" value="1" ng-disabled="isEditDisable" />
                                                    <label for="value">Value Adding  </label>
                                                </div>

                                            </label>


                                        </span>

                                    </div>
                                    <div class="col-md-1">
                                        <div style="margin-top: -13px;margin-left: -27px;">
                                            <label>Priority</label>
                                            <select ng-model="cij.userPriority" class="form-control" data-placeholder="priority" id="priority" ng-disabled="isEditDisable">
                                                <option value="CRITICAL">Critical</option>
                                                <option value="HIGH">High</option>
                                                <option value="MEDIUM" selected>Medium</option>
                                                <option value="LOW">Low</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-lg-12">
                            <div class="white-boxCIJ">

                                <div class="row">
                                    <div class="col-md-6 col-lg-2 form-groupCIJ">
                                        <label><h5>Department Name</h5></label>
                                        <input ng-model="cij.departmentName" name="deptname" id="deptname" class="form-control fg-input" required ng-disabled="isEditDisable">
                                    </div>
                                    <div class="col-md-6 col-lg-2 form-groupCIJ">
                                        <label><h5 ng-class="{'text-danger': isErrorHodName}">HOD Name<span style="color:red">*&nbsp;</span> </h5></label>
                                        <input type="text" ng-model="cij.hodName" name="hodName" id="hodName" class="form-control fg-input" required ng-disabled="isEditDisable">
                                    </div>
                                    <div class="col-md-6 col-lg-3 form-groupCIJ">
                                        <label> <h5> No. of Existing Equipment&nbsp;</h5></label>
                                        <input type="number" ng-model="cij.noOfExixstingEquipment" name="equipment" id="equipment" class="form-control fg-input" required ng-disabled="isEditDisable">
                                    </div>
                                    <div class="col-md-6 col-lg-3 form-groupCIJ">
                                        <label>
                                            <h5 ng-class="{'text-danger': isApproxErrorTotalCost}"> Approximate Cost Range<span style="color:red">*&nbsp;</span> </h5>
                                        </label>
                                        <input type="number" ng-change="priceChange('APPROX');" ng-model="cij.approximateCostRange" name="costRange" id="costRange" class="form-control fg-input input-sm" required ng-disabled="isEditDisable">
                                    </div>
                                    <div class="col-md-6 col-lg-2 form-groupCIJ">
                                        <label> <h5>Exp Delivery&nbsp;</h5></label>
                                        <input ng-disabled="isEditDisable" type="text" placeholder="DD-MM-YYYY" ng-model="cij.expectedDelivery" name="date" id="date" class="form-control fg-input input-prm-md" required rows="1">
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-6 form-groupCIJ inline-group">
                                        <label for="">
                                            <strong ng-class="{'text-danger': isErrorSpecificationsText}"> Specifications<span style="color:red">*&nbsp;</span></strong>
                                        </label>

                                        <div class="input-group">
                                            <div class="col-md-8 form-groupCIJ inline-group">
                                                <textarea type="text" ng-model="cij.specifications.Text" name="Specifications" id="Specifications" rows="2" cols="50" class="form-control" required ng-disabled="isEditDisable" style="margin-left: -13px;"> </textarea>
                                            </div>
                                            <div class="col-md-4 form-groupCIJ">
                                                <span class="input-group-btn">
                                                    <div class="btn-file m-t-1" data-provides="fileinput">
                                                        <div class="fileupload btn btn-info waves-effect waves-light">
                                                            <span class="btn-file m-r-1  btn-new-look">
                                                                <i roll="button" class="fa fa-upload "> </i>
                                                                <input type="file" accept="" id="specificationsquotation" itemscope itemid="specificationsquotation" ng-file-select-items="onFileSelect($files)" ng-disabled="isEditDisable" />
                                                            </span>
                                                        </div>
                                                    </div>

                                                    <div>
                                                        <small>
                                                            <span class="prmellipsis">{{cij.specifications.LinkName}}</span><a title="Specifications" target="_blank" ng-if="cij.specifications.Link" href="FileDownload.aspx?attachid={{cij.specifications.Link}}&sessionid={{sessionid}}">Download</a>
                                                            <i class="fa fa-window-close" style="line-height:1px;color:#e93163" aria-hidden="true" ng-if="cij.specifications.Link" ng-click="deleteFile('specifications');"></i>
                                                        </small>
                                                    </div>
                                                </span>

                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6 form-groupCIJ inline-group">
                                        <label for="">
                                            <strong ng-class="{'text-danger': isErrorNeedText}"> Need<span style="color:red">*&nbsp;</span> </strong>
                                        </label>
                                        <div class="input-group">
                                            <div class="col-md-8 form-groupCIJ inline-group">
                                                <textarea type="text" ng-model="cij.need.Text" name="hodName" id="hodName" rows="2" cols="50" class="form-control" required ng-disabled="isEditDisable" style="margin-left: -13px;"></textarea>
                                            </div>
                                            <div class="col-md-4 form-groupCIJ">
                                                <span class="input-group-btn">
                                                    <div class="btn-file m-t-1" data-provides="fileinput">
                                                        <div class="fileupload btn btn-info waves-effect waves-light">
                                                            <span class="btn-file m-r-1  btn-new-look">
                                                                <i roll="button" class="fa fa-upload "> </i>
                                                                <input type="file" accept="" id="needquotation" itemscope itemid="needquotation" ng-file-select-items="onFileSelect($files)" ng-disabled="isEditDisable" />
                                                            </span>
                                                        </div>
                                                    </div>
                                                    <div>
                                                        <small>
                                                            <span class="prmellipsis">{{cij.need.LinkName}}</span>
                                                            <a title="Need" target="_blank" ng-if="cij.need.Link" href="FileDownload.aspx?attachid={{cij.need.Link}}&sessionid={{sessionid}}">Download</a>
                                                            <i class="fa fa-window-close" style="line-height:1px;color:#e93163" aria-hidden="true" ng-if="cij.need.Link" ng-click="deleteFile('need');"></i>
                                                        </small>
                                                    </div>
                                                </span>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                                <div class="row">
                                    <h5 ng-class="{'text-danger': isErrorSupplierName1}" style="margin-left: 17px;"> Proposed Suppliers </h5>
                                    <div class="col-md-6 col-lg-3 form-groupCIJ">
                                        <label for="">
                                            <a class="wb-inv" for="department name">1</a>
                                            <a class="wb-inv" for="department name">
                                                <h6 ng-if="!isErrorSupplierName1"></h6><h6 ng-if="isErrorSupplierName1" class="text-danger"> 1* </h6>
                                            </a>
                                        </label>
                                        <textarea ng-model="cij.proposedSuppliers.supplier1.name" name="proposedsuppliers" rows="1" id="proposedsuppliers" class="fg-input form-control " style="resize: vertical;" ng-disabled="isEditDisable"></textarea>
                                    </div>
                                    <div class="col-md-6 col-lg-3 form-groupCIJ">
                                        <label for="">
                                            <a class="wb-inv" for="department name">2</a>
                                            <a class="wb-inv" for="department name"><h6 ng-if="!isErrorSupplierName2"></h6><h6 ng-if="isErrorSupplierName2" class="text-danger"> 2* </h6></a>
                                        </label>
                                        <textarea ng-model="cij.proposedSuppliers.supplier2.name" name="proposedsuppliers1" rows="1" id="proposedsuppliers1" class="fg-input form-control " style="resize: vertical;" ng-disabled="isEditDisable"></textarea>
                                    </div>
                                    <div class="col-md-6 col-lg-3 form-groupCIJ">
                                        <label for="">
                                            <a class="wb-inv" for="department name">3</a>
                                            <a class="wb-inv" for="department name">
                                                <h6 ng-if="!isErrorSupplierName3"></h6><h6 ng-if="isErrorSupplierName3" class="text-danger"> 3* </h6>
                                            </a>
                                        </label>
                                        <textarea ng-model="cij.proposedSuppliers.supplier3.name" name="proposedDescription" rows="1" id="ProposedDescription" class="fg-input form-control " style="resize: vertical;" ng-disabled="isEditDisable"></textarea>
                                    </div>
                                    <div class="col-md-6 col-lg-3 form-groupCIJ">
                                        <label for="">
                                            <a class="wb-inv" for="department name">4</a>
                                            <a class="wb-inv" for="department name">

                                                <h6 ng-if="!isErrorSupplierName4"></h6><h6 ng-if="isErrorSupplierName4" class="text-danger"> 4* </h6>
                                            </a>
                                        </label>
                                        <textarea ng-model="cij.proposedSuppliers.supplier4.name" name="proposedDescription1" rows="1" id="ProposedDescription1" class="fg-input form-control " style="resize: vertical;" ng-disabled="isEditDisable"></textarea>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>



                    <div class="row">
                        <div class="col-lg-12">
                            <div class="white-boxCIJ">
                                <div class="table table-responsive" style="overflow-y:scroll">
                                    <table class=" table table-vmiddle table-responsive">
                                        <thead>
                                            <tr style="width:100%;" class=" dl-horizontal">
                                                <th style="width:4%;text-align:center"> S.No </th>
                                                <th style="width:10%;text-align:center"> Budget Code<span style="color:red;font-size:20px">*</span> </th>
                                                <th style="width:13%;text-align:center"> Material Description<span style="color:red;font-size:20px">*</span>  </th>
                                                <th style="width:8%;text-align:center"> Make/model </th>
                                                <th style="width:10%;text-align:center"> E.QTY FUNCT </th>
                                                <th style="width:10%;text-align:center"> E.QTY NON-FUNCT </th>
                                                <th style="width:8%;text-align:center"> Required Qty<span style="color:red;font-size:20px">*</span> </th>
                                                <th style="width:10%;text-align:center"> Units<span style="color:red;font-size:20px">*</span></th>
                                                <th style="width:13%;text-align:center"> Purpose of Material<span style="color:red;font-size:20px">*</span> </th>
                                                <th style="width:10%;text-align:center">File</th>
                                                <th style="width:10%;text-align:center" colspan="2">Actions</th>
                                            </tr>
                                        </thead>
                                        <tr ng-repeat="item in indentDetails.listIndentItems track by $index">
                                            <td class="text-center">{{item.sNO}}</td>
                                            <td>
                                                <select ng-style="item.style" style="margin-left:-5px;" ng-disabled="isEditDisable" ng-model="item.budgetID" ng-options="BC.budgetID as BC.budgetCode for BC in BudgetCodes" class="form-control-dropdown" title="Cat Code: {{item.bcInfo.workCatCode}} &#013;Cat Desc: {{item.bcInfo.workCatDesc}} &#013;Budget Code Desc: {{item.bcInfo.budgetDesc}}">
                                                    <option value="">Select Budget Code</option>
                                                </select>
                                            </td>

                                            <td ng-if="!item.isErrorMaterialDescription"><textarea type="text" ng-model="item.materialDescription" name="materialDescription" id="materialDescription" class="form-control fg-input" ng-disabled="isEditDisable" required style="resize: vertical;" rows="1"></textarea></td>
                                            <td ng-if="item.isErrorMaterialDescription"><textarea type="text" ng-model="item.materialDescription" name="materialDescription" id="materialDescription" class="form-control fg-input" ng-disabled="isEditDisable" required style="resize: vertical;border:1px solid #ff0000;" rows="1"></textarea></td>

                                            <td><textarea type="text" ng-model="item.makeModel" name="makeModel" id="makeModel" class="form-control fg-input" ng-disabled="isEditDisable" required style="resize: vertical;" rows="1"></textarea></td>


                                            <td><input type="number" style="margin-left:-4px" placeholder="Functional" ng-model="item.existFunctional" name="existFunctional" id="existFunctional" class="form-control fg-input" ng-disabled="isEditDisable" required></td>
                                            <td><input type="number" style="margin-left:-4px" placeholder="Non-Functional" ng-model="item.existNonFunctional" name="existNonFunctional" id="existNonFunctional" class="form-control fg-input" ng-disabled="isEditDisable" required></td>


                                            <td ng-if="!item.isErrorRequiredQuantity"><input type="number" style="margin-left:-4px" ng-model="item.requiredQuantity" name="requiredQuantity" id="requiredQuantity" class="form-control fg-input" ng-disabled="isEditDisable" required></td>
                                            <td ng-if="item.isErrorRequiredQuantity"><input type="number" style="border:1px solid #ff0000;margin-left:-4px" ng-model="item.requiredQuantity" name="requiredQuantity" id="requiredQuantity" class="form-control fg-input" ng-disabled="isEditDisable" required></td>

                                            <td ng-if="!item.isErrorMaterialUnits"><textarea type="text" ng-model="item.units" name="materialUnits" id="materialUnits" class="form-control fg-input" ng-disabled="isEditDisable" required style="resize: vertical;" rows="1"></textarea></td>
                                            <td ng-if="item.isErrorMaterialUnits"><textarea type="text" ng-model="item.units" name="materialUnits" id="materialUnits" class="form-control fg-input" ng-disabled="isEditDisable" required style="resize: vertical;border:1px solid #ff0000;" rows="1"></textarea></td>



                                            <td ng-if="!item.isErrorPurposeOfMaterial"><textarea type="text" ng-model="item.purposeOfMaterial" name="purposeOfMaterial" id="purposeOfMaterial" class="form-control fg-input" ng-disabled="isEditDisable" required style="resize: vertical;" rows="1"></textarea></td>
                                            <td ng-if="item.isErrorPurposeOfMaterial"><textarea type="text" ng-model="item.purposeOfMaterial" name="purposeOfMaterial" id="purposeOfMaterial" class="form-control fg-input" ng-disabled="isEditDisable" required style="resize: vertical;border:1px solid #ff0000;" rows="1"></textarea></td>

                                            <td class="text-center">
                                                <div class="row">
                                                    <div class="col-md-6">
                                                        <div class="btn-file m-t-2 fileuploadStyle" data-provides="fileinput">
                                                            <div class="fileupload btn btn-info waves-effect waves-light">
                                                                <span class="btn-file m-r-1  btn-new-look">
                                                                    <i roll="button" class="fa fa-upload "> </i>
                                                                    <input type="file" accept="" id="itemFileUploadquotation" itemscope itemid="{{$index}}" ng-file-select-items="onFileSelect($files)" ng-disabled="isEditDisable" style="margin-bottom:200px" />
                                                                </span>
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div class="col-md-4">
                                                        <a target="_blank" ng-if="item.fileName.fileName > 0" href="FileDownload.aspx?attachid={{item.fileName.fileName}}&sessionid={{sessionid}}"><i roll="button" class="fa fa-download "> </i></a>
                                                    </div>
                                                    <div class="col-md-2">
                                                    </div>
                                                </div>

                                            </td>
                                            <td style="text-align:center">
                                                <a role="button" class="fa fa-plus-square fa-hc-lg fa-hc-2x" ng-click="addItem();" ng-disabled="isEditDisable"></a>
                                                <a role="button" class="fa fa-trash fa-hc-lg fa-hc-2x" ng-click="delItem($index, item.indentItemID);"></a>
                                            </td>
                                        </tr>
                                    </table>
                                    </div>
                                </div>
                            </div>
                    </div>



                    <div class="row">
                        <div class="col-lg-12">
                            <div class="white-boxCIJ">
                                <h3 class="box-title">PROPOSED TOTAL INVESTMENT</h3>
                                <div class="row">
                                    <div class="col-md-5 col-lg-3 form-groupCIJ">
                                        <label><h5>Basic Eqp. Cost&nbsp;</h5></label>
                                        <input type="number" ng-change="totalPrice(); priceChange('BASIC');" ng-model="cij.proposedTotallInvestment.baicEquipmentCost" name="eqCost" id="eqCost" class="form-control fg-input input-prm-sm" required ng-disabled="isEditDisable">
                                    </div>
                                    <div class="col-md-5 col-lg-3 form-groupCIJ">
                                        <label><h5>Accessories Cost&nbsp;</h5></label>
                                        <input type="number" ng-change="totalPrice();" ng-model="cij.proposedTotallInvestment.accessoriesCost" name="accCost" id="accCost" class="form-control fg-input input-prm-sm" required ng-disabled="isEditDisable">
                                    </div>
                                    <div class="col-md-5 col-lg-2 form-groupCIJ">
                                        <label><h5>Installation Cost&nbsp;</h5></label>
                                        <input type="number" ng-change="totalPrice();" ng-model="cij.proposedTotallInvestment.installationCost" name="InstCost" id="InstCost" class="form-control fg-input input-prm-sm" required ng-disabled="isEditDisable">
                                    </div>
                                    <div class="col-md-5 col-lg-2 form-groupCIJ">
                                        <label><h5>Any Other Cost&nbsp;</h5></label>
                                        <input type="number" ng-change="totalPrice();" ng-model="cij.proposedTotallInvestment.anyOtherCost" name="OthCost" id="OthCost" class="form-control fg-input input-prm-sm" required ng-disabled="isEditDisable">
                                    </div>
                                    <div class="col-md-5 col-lg-2 form-groupCIJ">
                                        <label>
                                            <h5 ng-class="{'text-danger': isErrorTotalCost}"> Total Cost <span style="color:red">*&nbsp;</span> </h5>
                                        </label>
                                        <input type="number" ng-change="totalPrice();" ng-model="cij.proposedTotallInvestment.totalCost" name="totCost" id="totCost" class="form-control fg-input input-prm-sm" required ng-disabled="isEditDisable">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>






                    <div class="row">
                        <div class="col-lg-12">
                            <div class="white-boxCIJ">
                                <div class="row" ng-if="cijString.cijType > 0">
                                    <h4 class="box-title">Payback Period Analysis(Incase of Revenue Generate Equipment)</h4>
                                </div>
                                <div class="row">
                                    <div ng-if="cijString.cijType > 0">

                                        <div class="col-md-4 col-lg-3 form-groupCIJ">
                                            <label><h6 ng-class="{'text-danger': isErrorProceduresPerMonth}"> Exp. No of Pro./Month &nbsp;</h6></label>
                                            <input type="number" ng-model="cij.paybackPeriodAnanysis.expectedNoOfProceduresPerMonth" name="paybackmonth" id="paybackmonth" class="form-control fg-input input-prm-vsm" required ng-disabled="isEditDisable">
                                        </div>
                                        <div class="col-md-4 col-lg-3 form-groupCIJ">
                                            <label><h6 ng-class="{'text-danger': isErrorTarrifPerProcedure}">Prop Tariff/Proc. &nbsp;</h6></label>
                                            <input type="number" ng-model="cij.paybackPeriodAnanysis.proposedTarrifPerProcedure" name="paybackProcedure" id="paybackProcedure" class="form-control fg-input input-prm-vsm" required ng-disabled="isEditDisable">
                                        </div>
                                        <div class="col-md-4 col-lg-2 form-groupCIJ">
                                            <label>
                                                <h6 ng-class="{'text-danger': isErrorRunningCostPerMonth}">Approx Run Cost/Month 1&nbsp;</h6>

                                            </label>
                                            <input type="number" ng-model="cij.paybackPeriodAnanysis.approximateRunningCostPerMonth" name="paybackApprmonth" id="paybackApprmonth" class="form-control fg-input input-prm-vsm" required ng-disabled="isEditDisable">
                                        </div>
                                        <div class="col-md-4 col-lg-2 form-groupCIJ">
                                            <label>
                                                <h6 ng-class="{'text-danger': isErrorApproxRunningCostPerMonth}">Approx Run Cost/Month 2&nbsp;</h6>

                                            </label>
                                            <input type="number" ng-model="cij.paybackPeriodAnanysis.approximateRunningCostPerMonth1" name="paybackApprmonth" id="paybackApprmonth" class="form-control fg-input input-prm-vsm" required ng-disabled="isEditDisable">
                                        </div>
                                        <div class="col-md-4 col-lg-2 form-groupCIJ">
                                            <label>
                                                <h6 ng-class="{'text-danger': isErrorPaybackPeriod}"> Payback Period&nbsp;</h6>
                                            </label>
                                            <input type="number" ng-model="cij.paybackPeriodAnanysis.paybackPeriod" name="paybackPeriod" id="paybackPeriod" class="form-control fg-input input-prm-vsm" required ng-disabled="isEditDisable">
                                        </div>

                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>




                    <div class="row">
                        <div class="col-lg-12">
                            <div class="white-boxCIJ">
                                <div class="row" ng-if="cijString.cijType > 0">
                                    <h4 class="box-title">Value Addition To The Patient(Incase of Non-Revenue Generate Equipment) </h4>
                                </div>
                                <div class="row">
                                    <div class="col-md-6 col-lg-4 form-groupCIJ">
                                        <label> <h5> Patient Outcome&nbsp;&nbsp;</h5></label>
                                        <textarea type="text" ng-model="cij.valueAdditionToThePatient.patientOutcome" name="patientOutcome" id="patientOutcome" class="form-control fg-input input-prm-md" required ng-disabled="isEditDisable" rows="1"></textarea>
                                    </div>
                                    <div class="col-md-6 col-lg-4 form-groupCIJ">
                                        <label><h5> Patient Safety&nbsp;&nbsp;</h5></label>
                                        <textarea type="text" ng-model="cij.valueAdditionToThePatient.patiencySafety" name="patientSafety" id="patientSafety" class="form-control fg-input input-prm-md" required ng-disabled="isEditDisable" rows="1"></textarea>
                                    </div>
                                    <div class="col-md-6 col-lg-4 form-groupCIJ">
                                        <label><h5> Operational Efficiency&nbsp;&nbsp;</h5></label>
                                        <textarea type="text" ng-model="cij.valueAdditionToThePatient.operationalEfficiency" name="OperEfficiency" id="OperEfficiency" class="form-control fg-input input-prm-md" required ng-disabled="isEditDisable" rows="1"></textarea>
                                    </div>


                                </div>
                            </div>
                        </div>
                    </div>




                    <div class="row">
                        <div class="col-lg-12">
                            <div class="white-boxCIJ">
                                <div ng-if="cijString.cijType > 0">
                                    <h4 class="box-title">Value Addition (Incase of Non-Medical Equipment)</h4>
                                </div>
                                <div class="row" ng-if="cijString.cijType > 0">
                                    <div class="col-md-6 col-lg-4 form-groupCIJ">
                                        <label><h5> Cost Reduction &nbsp;&nbsp;</h5> </label>
                                        <input type="number" ng-model="cij.valueAdditionNonMedicalEquipment.costReduction" name="costReduction" id="costReduction" class="form-control fg-input input-prm-md" required ng-disabled="isEditDisable">
                                    </div>
                                    <div class="col-md-6 col-lg-4 form-groupCIJ">
                                        <label><h5> Operational Efficiency &nbsp;&nbsp;</h5> </label>
                                        <input type="number" ng-model="cij.valueAdditionNonMedicalEquipment.operationalEfficiency" name="operEfficiency" id="operEfficiency" class="form-control fg-input input-prm-md" required ng-disabled="isEditDisable">
                                    </div>
                                    <div class="col-md-6 col-lg-4 form-groupCIJ">
                                        <label> <h5> Increase In Employee Productivity &nbsp;&nbsp;</h5></label>
                                        <input type="number" ng-model="cij.valueAdditionNonMedicalEquipment.increaseInEmployee" name="EmplProductivity" id="EmplProductivity" class="form-control fg-input input-prm-sm" required ng-disabled="isEditDisable">
                                    </div>
                                </div>
                              
                            </div>
                        </div>
                    </div>


                    <div class="row" ng-if="cijString.cijType == 0">
                        <div class="col-lg-12">
                            <div class="white-boxCIJ">
                                <div class="row">
                                    <h4 class="box-title">Aging Analysis</h4>
                                </div>
                                <div class="row" ng-if="cijString.cijType == 0">
                                    <div class="col-md-6 col-lg-4 form-groupCIJ">
                                        <label><h5> Date of Installation &nbsp;&nbsp;</h5></label>
                                        <textarea type="text" placeholder="DD-MM-YYYY" ng-change="getDateDiff(cij.agingAnalysis.dateOfDeInstallation, cij.agingAnalysis.dateOfInstallation);" ng-model="cij.agingAnalysis.dateOfInstallation" name="dateinst" id="dateinst" class="form-control fg-input input-prm-sm" required ng-disabled="isEditDisable" style="resize: vertical;" rows="1"></textarea>
                                    </div>

                                    <div class="col-md-6 col-lg-4 form-groupCIJ">
                                        <label><h5> Date of De-instillation &nbsp;&nbsp;</h5></label>
                                        <textarea type="text" placeholder="DD-MM-YYYY" ng-change="getDateDiff(cij.agingAnalysis.dateOfDeInstallation, cij.agingAnalysis.dateOfInstallation);" ng-model="cij.agingAnalysis.dateOfDeInstallation" name="datedinst" id="datedinst" class="form-control fg-input input-prm-sm" required ng-disabled="isEditDisable" style="resize: vertical;" rows="1"></textarea>
                                    </div>

                                    <div class="col-md-6 col-lg-4 form-groupCIJ">
                                        <label> <h5 ng-class="{'text-danger': isErrorYearsServed}">  No of Years Served <span style="color:red">*&nbsp;</span> </h5></label>
                                        <input type="number" ng-change="getDateDiff(cij.agingAnalysis.dateOfDeInstallation, cij.agingAnalysis.dateOfInstallation);" ng-model="cij.agingAnalysis.noOfYearsServed" name="served" id="served" class="form-control fg-input input-prm-sm" required ng-disabled="isEditDisable || true">
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="form-groupCIJ row" ng-if="cijString.cijType == 0">
                            <div style='border-bottom:1px solid #ccc;'></div>
                        </div>
                    </div>




                    <div class="row" ng-if="cijString.cijType == 0">
                        <div class="col-lg-12">
                            <div class="white-boxCIJ">
                                <div>
                                    <h4 class="box-title">Expenditure Analysis</h4>
                                </div>
                                <div class="row" ng-if="cijString.cijType == 0">
                                    <div class="col-md-6 col-lg-4 form-groupCIJ">
                                        <label> <h5 ng-class="{'text-danger': isErrorEquipmentcost}"> Equipment Cost <span style="color:red">*&nbsp;</span> </h5></label>
                                        <input type="number" ng-model="cij.expenditureAnalysis.equipmentCost" name="expCost" id="expCost" class="form-control fg-input" required ng-disabled="isEditDisable">
                                    </div>

                                    <div class="col-md-6 col-lg-4 form-groupCIJ">
                                        <label> <h5 ng-class="{'text-danger': isErrorServiceCost}">  Service Cost <span style="color:red">*&nbsp;</span> </h5></label>
                                        <input type="number" ng-model="cij.expenditureAnalysis.service" name="serviceCost" id="serviceCost" class="form-control fg-input" required ng-disabled="isEditDisable">
                                    </div>

                                    <div class="col-md-6 col-lg-4 form-groupCIJ">
                                        <label>
                                            <h5 ng-class="{'text-danger': isErrorSparesCost}"> Spares Cost <span style="color:red">*&nbsp;</span> </h5>
                                        </label>
                                        <input type="number" ng-model="cij.expenditureAnalysis.sparesCost" name="spareCost" id="spareCost" class="form-control fg-input" required ng-disabled="isEditDisable">
                                    </div>
                                </div>

                            </div>
                        </div>

                        <div class="form-groupCIJ row" ng-if="cijString.cijType == 0">
                            <div style='border-bottom:1px solid #ccc;'></div>
                        </div>
                    </div>




                    <div class="row" ng-if="cijString.cijType == 0">
                        <div class="col-lg-12">
                            <div class="white-boxCIJ">
                                <div class="row">
                                    <h4 class="box-title">Revenue Analysis (Incase of Revenue Generate equipment)</h4>
                                </div>
                                <div class="row" ng-if="cijString.cijType == 0">
                                    <div class="col-md-6 col-lg-4 form-groupCIJ">
                                        <label>
                                            <h5 ng-class="{'text-danger': isErrorProceduresDone}"> No.of Procedures Done <span style="color:red">*&nbsp;</span> </h5>
                                        </label>
                                        <input type="number" ng-model="cij.revenueAnalysis.noOfProceduresDone" name="procRevenue" id="procRevenue" class="form-control fg-input" required ng-disabled="isEditDisable">
                                    </div>
                                    <div class="col-md-6 col-lg-4 form-groupCIJ">
                                        <label>
                                            <h5 ng-class="{'text-danger': isErrorIncomeFromProcedures}"> Income From Procedures <span style="color:red">*&nbsp;</span> </h5>
                                        </label>
                                        <input type="number" ng-model="cij.revenueAnalysis.incomeFromProcedures" name="procIncome" id="procIncome" class="form-control fg-input" required ng-disabled="isEditDisable">
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-groupCIJ col-md-12" ng-if="cijString.cijType == 0">
                        <div style='border-bottom:1px solid #ccc;'></div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="white-boxCIJ">
                                <div class="row">
                                    <div class="col-md-4 form-groupCIJ inline-group">
                                        <label><h5> &nbsp;&nbsp; Requested By :</h5></label>
                                        <textarea type="text" placeholder="Name" ng-model="cij.revenueAnalysis.requestedBy.name" name="reqName" id="reqName" class="form-control fg-input" required ng-disabled="isEditDisable" rows="1"></textarea>
                                    </div>
                                    <div class="col-md-4 form-groupCIJ inline-group">
                                        <label><h5> &nbsp;&nbsp;</h5></label>
                                        <div class="input-group">
                                            <div class="col-md-8 form-groupCIJ inline-group">
                                                <textarea type="text" placeholder="Signature" ng-model="cij.revenueAnalysis.requestedBy.signature.Text" name="reqSign" id="reqSign" class="form-control fg-input" required ng-disabled="isEditDisable" rows="1"></textarea>
                                            </div>
                                            <div class="col-md-4 form-groupCIJ">
                                                <span class="input-group-btn">
                                                    <div class="btn-file m-t-1" data-provides="fileinput">
                                                        <div class="fileupload btn btn-info waves-effect waves-light">
                                                            <span class="btn-file m-r-1  btn-new-look">
                                                                <i roll="button" class="fa fa-upload "> </i>
                                                                <input type="file" accept="" id="reqstmsignquotation" itemid="reqstmsignquotation" ng-file-select-items="onFileSelect($files)" ng-disabled="isEditDisable" />
                                                            </span>
                                                        </div>
                                                    </div>

                                                    <small>
                                                        {{cij.revenueAnalysis.requestedBy.signature.LinkName}} <a title="signature" target="_blank" ng-if="cij.revenueAnalysis.requestedBy.signature.Link" href="FileDownload.aspx?attachid={{cij.revenueAnalysis.requestedBy.signature.Link}}&sessionid={{sessionid}}">Download</a>
                                                        <button ng-if="cij.revenueAnalysis.requestedBy.signature.Link" class="danger" ng-click="deleteFile('revenueAnalysis.requestedBy.signature');">X</button>
                                                    </small>
                                                </span>
                                            </div>
                                        </div>

                                    </div>
                                    <div class="col-md-4 form-groupCIJ inline-group">
                                        <label><h5> &nbsp;&nbsp;</h5></label>
                                        <textarea type="text" placeholder="DD-MM-YYYY" ng-model="cij.revenueAnalysis.requestedBy.date" name="reqDate" id="reqDate" class="form-control fg-input" required ng-disabled="isEditDisable" rows="1"></textarea>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="white-boxCIJ">
                                <div class="row">
                                    <div class="col-md-4 form-groupCIJ">
                                        <label><h5> &nbsp;&nbsp; Recommended By :</h5></label>
                                        <textarea type="text" placeholder="Name" ng-model="cij.revenueAnalysis.recommendedBy.name" name="recName" id="recName" class="form-control fg-input" required ng-disabled="isEditDisable" rows="1"></textarea>
                                    </div>
                                    <div class="col-md-4 form-groupCIJ inline-group">
                                        <label><h5> &nbsp;&nbsp;</h5></label>
                                        <div class="input-group">
                                            <div class="col-md-8 form-groupCIJ inline-group">
                                                <textarea type="text" placeholder="Signature" ng-model="cij.revenueAnalysis.recommendedBy.signature.Text" name="recSign" id="recSign" class="form-control fg-input" required ng-disabled="isEditDisable" style="resize: vertical;" rows="1"></textarea>
                                            </div>
                                            <div class="col-md-4 form-groupCIJ">
                                                <span class="input-group-btn">
                                                    <div class="btn-file m-t-1" data-provides="fileinput">
                                                        <div class="fileupload btn btn-info waves-effect waves-light">
                                                            <span class="btn-file m-r-1  btn-new-look">
                                                                <i roll="button" class="fa fa-upload "> </i>
                                                                <input type="file" accept="" id="recmsignquotation" itemid="recmsignquotation" ng-file-select-items="onFileSelect($files)" ng-disabled="isEditDisable" />
                                                            </span>
                                                        </div>
                                                    </div>


                                                    <small>
                                                        {{cij.revenueAnalysis.recommendedBy.signature.LinkName}} <a title="signature" target="_blank" ng-if="cij.revenueAnalysis.recommendedBy.signature.Link" href="FileDownload.aspx?attachid={{cij.revenueAnalysis.recommendedBy.signature.Link}}&sessionid={{sessionid}}">Download</a>
                                                        <button ng-if="cij.revenueAnalysis.recommendedBy.signature.Link" class="danger" ng-click="deleteFile('revenueAnalysis.recommendedBy.signature');">X</button>
                                                    </small>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4 form-groupCIJ">
                                        <label><h5> &nbsp;&nbsp;</h5></label>
                                        <textarea type="text" placeholder="DD-MM-YYYY" ng-model="cij.revenueAnalysis.recommendedBy.date" name="recDate" id="recDate" class="form-control fg-input" required ng-disabled="isEditDisable" style="resize: vertical;" rows="1"></textarea>

                                    </div>
                                    </div>
                                </div>
                            </div>
                        </div>


                        <div class="row">
                            <div class="col-lg-12">
                                <div class="white-boxCIJ">
                                    <h4 class="box-title">Purchase Department</h4>


                                    <div class="row">
                                        <div class="col-md-6 col-lg-4 form-groupCIJ">
                                            <label><h5>Name</h5></label>
                                            <textarea type="text" ng-model="cij.purchaseDepartmentUse.name" name="purchasename" id="purchasename" class="form-control fg-input" required ng-disabled="isPurchaseDisable" rows="1"></textarea>
                                        </div>
                                        <div class="col-md-6 col-lg-4 form-groupCIJ">
                                            <label> <h5> Mobile </h5></label>
                                            <textarea type="text" ng-model="cij.purchaseDepartmentUse.mobile" style="resize: vertical;" name="purchaseother" id="purchaseother" class="form-control fg-input" required ng-disabled="isPurchaseDisable" rows="1"></textarea>
                                        </div>
                                        <div class="col-md-6 col-lg-4 form-groupCIJ inline-group">
                                            <label>
                                                <h5 ng-if="!isErrorSignatureInfo"> Signature </h5>
                                                <h5 ng-if="isErrorSignatureInfo" class="text-danger"> Signature* </h5>
                                            </label>
                                            <textarea type="text" ng-model="cij.purchaseDepartmentUse.signature.Text" style="resize: vertical;" name="purchaseSigna" id="purchaseSigna" class="form-control fg-input" required ng-disabled="isPurchaseDisable" rows="1"></textarea>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-md-6 col-lg-4 form-groupCIJ">
                                            <label><h5> Po No </h5></label>
                                            <textarea type="text" ng-model="cij.purchaseDepartmentUse.poNo" name="purchasePoNo" id="purchasePoNo" class="form-control fg-input" required ng-disabled="isPurchaseDisable" rows="1"></textarea>
                                        </div>
                                        <div class="col-md-6 col-lg-4 form-groupCIJ">
                                            <label> <h5> Po Date </h5></label>
                                            <textarea type="text" placeholder="DD-MM-YYYY" ng-model="cij.purchaseDepartmentUse.poDate" name="purchasePoDate" id="purchasePoDate" class="form-control fg-input" required ng-disabled="isPurchaseDisable" rows="1"></textarea>
                                        </div>
                                        <div class="col-md-4 col-lg-2 form-groupCIJ">
                                            <label> <h5> Supplier Name </h5></label>
                                            <textarea type="text" ng-model="cij.purchaseDepartmentUse.supplierName" name="purchaseName" id="purchaseName" class="form-control fg-input" required ng-disabled="isPurchaseDisable" rows="1"></textarea>
                                        </div>
                                        <div class="col-md-4 col-lg-2 form-groupCIJ">
                                            <label><h5> Other Info </h5></label>
                                            <textarea type="text" ng-model="cij.purchaseDepartmentUse.otherInfo" name="purchaseother" id="purchaseother" class="form-control fg-input" required ng-disabled="isPurchaseDisable" style="resize: vertical;" rows="1"></textarea>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>




                        <div class="row">
                            <div class="col-lg-12">
                                <div class="white-boxCIJ">
                                    <h4 class="box-title">Assessed and Approved By (Director)</h4>

                                    <div class="row">
                                        <div class="col-md-6 col-lg-4 form-groupCIJ">
                                            <label>
                                                <h5 ng-if="!isErrorApprovedByName"> Director </h5><h5 ng-if="isErrorApprovedByName" class="text-danger"> Name* </h5>
                                            </label>
                                            <textarea type="text" ng-model="cij.assessedAndApprovedBy.name" name="apprName" id="apprName" class="form-control fg-input" required ng-disabled="isEditDisable || !isEndUser" rows="1"></textarea>
                                        </div>
                                        <div class="col-md-6 col-lg-4 form-groupCIJ">
                                            <label><h5> Mobile </h5></label>
                                            <textarea type="text" ng-model="cij.assessedAndApprovedBy.mobile" name="apprMobile" id="apprMobile" class="form-control fg-input" required ng-disabled="isEditDisable || !isEndUser" rows="1"></textarea>
                                        </div>
                                        <div class="col-md-4 col-lg-2 form-groupCIJ">
                                            <label>
                                                <h5 ng-if="!isErrorApprovedBySignature"> Signature </h5><h5 ng-if="isErrorApprovedBySignature" class="text-danger"> Signature* </h5>
                                            </label>
                                            <textarea type="text" ng-model="cij.assessedAndApprovedBy.signature.Text" name="apprSign" id="apprSign" class="form-control fg-input" required ng-disabled="isEditDisable || !isEndUser" rows="1"></textarea>
                                        </div>
                                        <div class="col-md-4 col-lg-2 form-groupCIJ">
                                            <label><h5> Date </h5></label>
                                            <textarea type="text" placeholder="DD-MM-YYYY" ng-model="cij.assessedAndApprovedBy.date" name="apprDate" id="apprDate" class="form-control fg-input" required ng-disabled="isEditDisable || !isEndUser" style="resize: vertical;" rows="1"></textarea>

                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-lg-12">
                                <div class="white-boxCIJ">
                                    <h4 class="box-title">Budget Approved By (Central Finance Department)</h4>

                                    <div class="row">
                                        <div class="col-md-6 col-lg-4 form-groupCIJ">
                                            <label><h5 ng-if="!isErrorBudgetApprovedByName"> Finance </h5><h5 ng-if="isErrorBudgetApprovedByName" class="text-danger"> Name* </h5></label>
                                            <textarea type="text" ng-model="cij.budgetApprovedBy.name" name="budgtName" id="budgtName" class="form-control fg-input" required ng-disabled="isFinanceDisable" rows="1"></textarea>
                                        </div>
                                        <div class="col-md-6 col-lg-4 form-groupCIJ">
                                            <label> <h5> Mobile </h5></label>
                                            <textarea type="text" ng-model="cij.budgetApprovedBy.mobile" name="budgtMobile" id="budgtMobile" class="form-control fg-input" required ng-disabled="isFinanceDisable" rows="1"></textarea>
                                        </div>
                                        <div class="col-md-4 col-lg-2 form-groupCIJ">
                                            <label>
                                                <h5 ng-if="!isErrorBudgetApprovedBySignature"> Signature </h5><h5 ng-if="isErrorBudgetApprovedBySignature" class="text-danger"> Signature* </h5>
                                            </label>
                                            <textarea type="text" ng-model="cij.budgetApprovedBy.signature.Text" name="budgtSign" id="budgtSign" class="form-control fg-input" required ng-disabled="isFinanceDisable" rows="1"></textarea>
                                            <small>
                                                {{cij.budgetApprovedBy.signature.LinkName}}<a title="Signature" target="_blank" ng-if="cij.budgetApprovedBy.signature.Link" href="FileDownload.aspx?attachid={{cij.budgetApprovedBy.signature.Link}}&sessionid={{sessionid}}">Download</a>
                                                <button ng-if="cij.budgetApprovedBy.signature.Link" class="danger" ng-click="deleteFile('budgetApprovedBy.signature');">X</button>
                                            </small>
                                        </div>
                                        <div class="col-md-4 col-lg-2 form-groupCIJ">
                                            <label><h5> Date </h5></label>
                                            <textarea type="text" placeholder="DD-MM-YYYY" ng-model="cij.budgetApprovedBy.date" name="budgtDate" id="budgtDate" class="form-control fg-input" required ng-disabled="isFinanceDisable" rows="1"></textarea>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>



                        <div class="row">
                            <div class="col-lg-12">
                                <div class="white-boxCIJ">
                                    <div class="row">
                                        <div class="col-md-12">

                                            <div style="font-size:18px;" ng-if="itemWorkflow.length <= 0 || (itemWorkflow[0].WorkflowTracks && itemWorkflow[0].WorkflowTracks.length <= 0)" class="col-md-3 text-left">

                                                <label>  <strong ng-class="{'text-danger': isErrorworkflowID}"> Respective Workflow </strong></label>
                                                <select chosen name="workflowType" ng-model="workflowObj.workflowID" ng-options="wf.workflowID as wf.workflowTitle for wf in workflowList" required class="form-control pull-right">
                                                    <option value="">SelectWorkflow</option>
                                                </select>

                                            </div>
                                            <div class="col-md-3 pull-right">
                                                <button class="btn btn-primary btn-file btn-new-look" ng-click="saveCIJ(true)" ng-disabled="((isSaveEnabled() || isEditDisable) && itemWorkflow[0].WorkflowTracks && itemWorkflow[0].WorkflowTracks.length > 0) || isSaveDisable">
                                                    Save
                                                </button>
                                                <button class="btn btn-primary btn-file btn-new-look" ng-click="saveCIJ(false)" ng-disabled="((isSaveEnabled() || isEditDisable) && itemWorkflow[0].WorkflowTracks && itemWorkflow[0].WorkflowTracks.length > 0)|| isSaveDisable">Save & Send</button>
                                                <button class="btn btn-primary btn-new-look" ng-click="cancelClick()">Cancel</button>
                                            </div>
                                        </div>

                                    </div>
                                    <div class="row col-md-12 text-center">
                                        <!--  <label ng-if="isError == true">Please fill {{errorMessage}}</label>-->
                                        <label ng-if="isError == true">Please fill all mandatoryfields(*)</label>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row text-center" style="margin-left:15px !important; margin-right:15px !important;max-width:100%; overflow-x:auto;"
                             ng-if="itemWorkflow[0].WorkflowTracks && itemWorkflow[0].WorkflowTracks.length > 0">
                            <div class="col-md-12">
                                <div class="row">
                                    <div class="col-md-3" ng-repeat="step in itemWorkflow[0].WorkflowTracks">
                                        <!--ng-style="{'background-color':(IsUserApprover != true || currentAccess != step.order?'':'lavender')}"-->
                                        <div class="row approvalRowHeight">
                                            <div class="col-md-12">
                                                <P ng-style="step.status == 'APPROVED' && {'color':'#266A2D'} || step.status == 'REJECTED' && {'color':'Red'}">
                                                    <b> {{step.status+' '+'By'+' '+step.approverDetails.firstName+' '+step.approverDetails.lastName+'/'+step.approver.desigCode+'/'+step.department.deptCode }}</b>
                                                </P>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-md-12 list-group-item" href="#"
                                                 ng-style="step.status == 'APPROVED' && {'color':'#266A2D'} || step.status == 'REJECTED' && {'color':'Red'}" style="min-height:85px;">
                                                <div class="row">
                                                    <div class="col-md-1 col-xs-1">
                                                        <h5>{{$index + 1}}. </h5>
                                                    </div>
                                                    <div class="col-md-10 col-xs-11" ng-show="IsUserApprover != true || currentAccess != step.order">
                                                        <textarea ng-disabled="IsUserApprover != true || currentAccess != step.order" rows="2" cols="50" ng-model="step.comments" placeholder="Comments" type="text" class="form-control fg-input" style="resize: vertical;"></textarea>
                                                        <lable ng-hide="IsUserApprover != true || currentAccess != step.order" class="text-danger">  {{commentsError}} </lable>
                                                    </div>
                                                    <div class="col-md-5 col-xs-5" ng-hide="IsUserApprover != true || currentAccess != step.order">
                                                        <textarea ng-disabled="IsUserApprover != true || currentAccess != step.order" rows="2" cols="50" ng-model="step.comments" placeholder="Comments" type="text" class="form-control fg-input" style="resize: vertical;"></textarea>
                                                        <lable ng-hide="IsUserApprover != true || currentAccess != step.order" class="text-danger">  {{commentsError}} </lable>
                                                    </div>
                                                    <div class="col-md-5 col-xs-5" ng-hide="IsUserApprover != true || currentAccess != step.order">
                                                        <div class="row">
                                                            <div class="col-md-4 col-xs-4">
                                                                <i role="button" ng-click="updateTrack(step, 'REJECTED')" ng-hide="IsUserApprover != true || currentAccess != step.order"><i class="fa fa-stop-circle-o fa-2x" style="color:brown;" title="Hold" aria-hidden="true"></i></i>
                                                                <small>Hold</small>
                                                            </div>
                                                            <div class="col-md-4 col-xs-4">
                                                                <i role="button" ng-click="updateTrack(step, 'APPROVED')" ng-hide="IsUserApprover != true || currentAccess != step.order"><i class="fa fa-thumbs-up fa-2x" style="color:#266A2D;" title="Approve" aria-hidden="true"></i></i>
                                                                <small>Approve</small>
                                                            </div>
                                                            <div class="col-md-4 col-xs-4">
                                                                <i role="button" ng-click="updateTrack(step, 'REJECTED')" ng-hide="IsUserApprover != true || currentAccess != step.order"><i class="fa fa-thumbs-down fa-2x" style="color:red;" title="Reject" aria-hidden="true"></i></i>
                                                                <small>Reject</small>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row" style="margin-top:0px;">
                                                    <div class="">
                                                        <b class="pull-left" ng-if="$index == 0">Recieved: {{dateFormat(step.dateCreated)}}</b>
                                                        <b class="" ng-if="$index == 0 && (step.status == 'APPROVED' || step.status == 'REJECTED')"> / Sent: {{dateFormat(step.dateModified)}}</b>

                                                        <b class="" ng-if="$index > 0 && itemWorkflow[0].WorkflowTracks[$index-1].status == 'APPROVED'">Recieved: {{dateFormat(itemWorkflow[0].WorkflowTracks[$index-1].dateModified)}}</b>
                                                        <b class="" ng-if="$index > 0 && (step.status == 'APPROVED' || step.status == 'REJECTED')"> / Sent: {{dateFormat(step.dateModified)}}</b>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div style='border-bottom:1px solid #ccc;'></div>
                                        </div>
                                        <br />
                                        <br />
                                    </div>
                                </div>
                            </div>
                            <br /><br />
                        </div>



                    </div>
                </div>
                   </div>
        </div>
</body>
