<div class="fix-header">
    <div id="wrapper">
        <header data-ng-include="'template/header.html'" data-ng-controller="headerCtrl as hctrl"></header>
        <aside data-ng-include="'template/sidebar-left.html'" data-ng-class="{ 'toggled': mactrl.sidebarToggle.left === true }"></aside>
        <div id="page-wrapper">
            <div class="container-fluid">
                <div>

                    <h4>Pending Contracts</h4>

                    <div class="white-box">
                        <div class="pmb-block ng-scope" ng-controller="pendingContractsCtrl">
                            <div class="pmbb-header">
                            </div>
                            <div ng-if="!isVendor">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-control white-box">
                                            <h4 class="text-center" style="margin-top:-10px;">Open Contracts ::  {{openContracts}}</h4>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-control white-box">
                                            <h4 class="text-center" style="margin-top:-10px;">Total No.of Contracts ::  {{totalContracts}}</h4>
                                        </div>
                                    </div>

                                </div>
                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="form-control white-box">
                                            <h4 class="text-center" style="margin-top:-10px;">Total Contractual Value ::  {{contractValue}}</h4>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-control white-box">
                                            <h4 class="text-center" style="margin-top:-10px;">Total No.of Contracts Closed ::  {{closedContracts}}</h4>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-control white-box">
                                            <h4 class="text-center" style="margin-top:-10px;">Contracts Utilization  ::  {{utility}}%</h4>
                                        </div>
                                    </div>

                                </div>
                                <div class="row">

                                    <div class="col-md-3">
                                        <h5><strong>Contract Number</strong></h5>
                                        <input class="form-control white attribute-filter ng-pristine ng-valid ng-touched" ng-change="setFilters();" ng-model="filters.searchKeyword"
                                               type="text" placeholder="Search By Contract Number">
                                    </div>

                                    <div class="col-md-3">
                                        <h5><strong>Product Name </strong></h5>
                                        <select class="form-control" ng-model="filters.productName" ng-options="item for item in itemArr"
                                                ng-change="setFilters()">

                                            <option selected value="">All</option>
                                        </select>
                                    </div>
                                    <div class="col-md-3">
                                        <h5><strong>Supplier Name </strong></h5>
                                        <select class="form-control" ng-model="filters.supplierName" ng-options="item for item in supplierArr"
                                                ng-change="setFilters()">

                                            <option selected value="">All</option>
                                        </select>
                                    </div>
                                    <div class="col-md-3">
                                        <h5><strong>Status </strong></h5>
                                        <select class="form-control" ng-model="filters.status"
                                                ng-change="setFilters()">
                                            <option selected value="Active">Active</option>
                                            <option selected value="Closed">Closed</option>
                                            <option selected value="On Hold">On Hold</option>
                                            <option selected value="Delete">Delete</option>
                                        </select>
                                    </div>

                                    <div class="col-md-12" ng-if="showDelete" style="margin-top:10px">
                                        <div class="col-md-4" ng-init="status = 'Delete'">
                                            <h5>
                                                <strong>
                                                    Status
                                                    <button type="button" class="btn btn-info btn-sm" ng-click="bulkUpdateStatus()"> Update Bulk Contract Status</button>
                                                </strong>
                                            </h5>
                                            <select class="form-control" ng-model="filters.bulkStatus">
                                                <option value="Active">Active</option>
                                                <option value="Closed">Closed</option>
                                                <option value="On Hold">On Hold</option>
                                                <option selected value="Delete">Delete</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>


                                <div class="row">&nbsp;</div>
                                <div class="table table-responsive z-depth-2" ng-if="!isVendor">
                                    <table ng-table="tctrl.tableSorting" class="table table-vmiddle table-bordered table-striped" show-filter="false">
                                        <tr ng-repeat="wf in MyPendingContracts.slice(((currentPage-1)*itemsPerPage), ((currentPage)*itemsPerPage))">
                                            <td header="'headerCheckbox.html'"><input type="checkbox" ng-model="wf.isChecked" ng-click="checkEachRow(wf)" /></td>
                                            <td data-title="'Product Name'" sortable="'ID'">
                                                {{ wf.ProductName}}
                                            </td>
                                            <td data-title="'Start Time'" sortable="'ID'">
                                                {{ wf.startTime}}
                                            </td>
                                            <td data-title="'End Time'" sortable="'ID'">
                                                {{ wf.endTime}}
                                            </td>
                                            <td data-title="'Quantity'" sortable="'ID'">
                                                {{ wf.quantity}}
                                            </td>
                                            <td data-title="'Availed Quantity'" sortable="'ID'">
                                                {{ wf.availedQuantity}}
                                            </td>
                                            <td data-title="'Contract Status'" sortable="'ID'">
                                                {{ wf.contractStatus}}
                                            </td>
                                            <td data-title="'Vendor Company Name'" sortable="'ID'">
                                                {{ wf.companyName}}
                                            </td>
                                            <td data-title="'Contract Number'" sortable="'ID'">
                                                {{ wf.contractNumber}}
                                            </td>

                                            <td data-title="'Site Code'" sortable="'ID'">
                                                {{wf.SITE_CODE ? wf.SITE_CODE : wf.VENDOR_SITE_CODE}}
                                            </td>

                                            <td data-title="'Contract Value'" sortable="'ID'">
                                                {{ wf.contractValue}}
                                            </td>
                                            <!--<td data-title="'Phone Number'" sortable="'ID'">
        {{ wf.phoneNumber}}
    </td>-->
                                            <td data-title="'Supplier Name'" sortable="'ID'">
                                                {{ wf.supplierName}}
                                            </td>
                                            <!--<td data-title="'Phone Number'" sortable="'ID'">
        {{ wf.poNumber}}
    </td>-->
                                            <td data-title="'Attachment download '" sortable="'ID'">
                                                <span class="dropdown" ng-if="wf.multipleAttachments && wf.multipleAttachments.length > 0">
                                                    <a title="Attachments" class="dropdown-toggle btn btn-info btn-outline btn-circle m-r-5" data-toggle="dropdown">
                                                        <i class="fa fa-copy text-primary"></i>
                                                    </a>
                                                    <span class="dropdown-menu col-md-12">
                                                        <span class="col-md-12" ng-if="attch.FileID > 0" ng-repeat="attch in wf.multipleAttachments">
                                                            <a target="_blank" class="prmellipsis" title="{{attch.FileName}}" href="FileDownload.aspx?attachid={{attch.FileID}}&sessionid={{sessionid}}">{{$index + 1}}.{{attch.FileName}}</a>
                                                            <br />
                                                        </span>
                                                    </span>
                                                </span>
                                            </td>
                                            <td data-title="'Actions'" sortable="'ID'" style="min-width:100px">
                                                <!--<div class="col-md-6">-->
                                                <a class="m-r-5" role="button" ng-if="isSuperUser || isUserEntitled(591166)" ng-click="editContract(wf)" style="cursor:pointer" title="Edit Contract" aria-hidden="true"><i class="fa fa-edit fa-1x" style="color: orange; cursor: pointer"></i></a>
                                                <a class="m-r-5" role="button" ng-click="utiliseContract(wf)" style="cursor:pointer" title="Utilise Contract" aria-hidden="true"><i class="fa fa-chart-line fa-1x" style="color: lawngreen; cursor: pointer" aria-hidden="true"></i></a>
                                                <a class="m-r-5" role="button" ng-click="populateItems(wf)" style="cursor:pointer" title="Create PO" aria-hidden="true"><i class="fa fa-shopping-cart" cursor: pointer" aria-hidden="true"></i></a>

                                                <!--</div>-->
                                                <!--<div class="col-md-6">
            <a class="" role="button" ng-click="deleteContract(wf)" style="cursor:pointer" title="Delete Contract" aria-hidden="true"><i class="fa fa-trash" style="color:#057cb5"></i>Delete Contract</a>
        </div>-->
                                            </td>
                                        </tr>
                                    </table>
                                    <ul uib-pagination total-items="totalItems" ng-model="currentPage" items-per-page="itemsPerPage" max-size="maxSize" ng-change="pageChanged()" class="pagination-sm" boundary-links="true" force-ellipses="true" style="float: right;"></ul>
                                </div>

                            </div>

                            <div class="pull-right">
                                <div class="modal" id="potemplateSelection" tabindex="-1">
                                    <div class="modal-dialog" style="width: 90%;height:90%">
                                        <div class="modal-content">
                                            <div class="row m-t-20 m-l-5">

                                                <div class="row">
                                                    <div class="col-md-12">
                                                        <div class="modal-body" style="margin:25px;">
                                                            <div class="pmbb-view" style="overflow-wrap: break-word;">
                                                                <div class="row" ng-if="linkContractArray && linkContractArray.length > 0">
                                                                    <h3 style="margin: 50px 0px 0px 20px;">Contract Items</h3>
                                                                    <div class="col-md-12 table-responsive" double-scroll-bar-horizontal>
                                                                        <table class="table table-striped table-bordered table-sm">
                                                                            <thead>
                                                                                <tr>
                                                                                    <th style="width:5%;text-align:center">Contract Number</th>
                                                                                    <th style="width:10%;text-align:center">Vendor</th>
                                                                                    <th style="width:10%;text-align:center">Item</th>
                                                                                    <th style="width:5%;text-align:center">Total Quantity</th>
                                                                                    <th style="width:5%;text-align:center">Utilised Quantity</th>
                                                                                    <th style="width:5%;text-align:center">PR Number</th>
                                                                                    <th style="width:5%;text-align:center">Contract Price</th>
                                                                                    <th style="width:5%;text-align:center">Site Code</th>
                                                                                    <th style="width:3%;text-align:center"> Qty Selection</th>
                                                                                    <th style="width:3%;text-align:center">Start Time</th>
                                                                                    <th style="width:3%;text-align:center">End Time</th>

                                                                                </tr>
                                                                            </thead>
                                                                            <tbody>
                                                                                <tr ng-repeat="requirement in linkContractArray">


                                                                                    <td style="text-align:left" width="5%">
                                                                                        {{requirement.contractNumber}}
                                                                                    </td>

                                                                                    <td style="text-align:left" width="15%">
                                                                                        {{requirement.companyName}}
                                                                                    </td>

                                                                                    <td style="text-align:left" width="15%">
                                                                                        {{requirement.ProductName}}
                                                                                    </td>

                                                                                    <td style="text-align:left" width="5%">
                                                                                        {{requirement.quantity}}
                                                                                    </td>
                                                                                    <td style="text-align:left" width="5%">
                                                                                        {{requirement.availedQuantity}}
                                                                                    </td>

                                                                                    <td style="text-align:left" width="5%">
                                                                                        {{requirement.PR_NUMBER}}
                                                                                    </td>

                                                                                    <td style="text-align:left" width="5%">
                                                                                        {{requirement.price}}
                                                                                    </td>

                                                                                    <td style="text-align:left" width="5%">
                                                                                        <select ng-if="requirement.PLANT_CODE == '912'"
                                                                                                ng-disabled="(requirement.PLANT_CODE != '912')"
                                                                                                title="{{requirement.VENDOR_SITE_CODE}}"
                                                                                                name="siteCode" ng-model="requirement.VENDOR_SITE_CODE"
                                                                                                ng-options="value.VENDOR_SITE_CODE as value.VENDOR_SITE_CODE for value in requirement.vendorSitCodeList" class="form-control p-0"></select>
                                                                                        <span ng-if="requirement.PLANT_CODE != '912'">{{requirement.VENDOR_SITE_CODE}}</span>
                                                                                    </td>


                                                                                    <td style="text-align:left" width="5%">
                                                                                        <input class="form-control" placeholder="Edit Quantity"
                                                                                               valid-number allow-decimal="false" allow-negative="false"
                                                                                               ng-model="requirement.editQuantity"
                                                                                               ng-change="validateQuantity(requirement)" />
                                                                                        <span ng-if="requirement.showQtyErrorMessage" style="color:tomato">{{requirement.showQtyErrorMessage}}</span>
                                                                                    </td>


                                                                                    <td style="text-align:left" width="5%">
                                                                                        {{requirement.startTime}}
                                                                                    </td>

                                                                                    <td style="text-align:left" width="5%">
                                                                                        {{requirement.endTime}}
                                                                                    </td>

                                                                                </tr>
                                                                            </tbody>
                                                                        </table>
                                                                    </div>
                                                                </div>
                                                                <!--<div class="row" style="text-align:center">
                                                                    <span><label style="font-size:15px;color:red">Please Enter the Quantity</label></span>
                                                                </div>-->
                                                            </div>
                                                        </div>
                                                        <div class="modal-footer">
                                                            <button type="button" data-dismiss="modal" ng-if="linkContractArray[0].showQtyErrorMessage == ''" ng-click="linkContract(linkContractArray[0].PC_ID,linkContractArray[0].editQuantity,linkContractArray[0].VENDOR_SITE_CODE)" class="btn btn-info">Generate PO</button>
                                                            <button type="button" data-dismiss="modal" ng-click="cancelContractRequirements()" class="btn btn-info">Cancel</button>

                                                        </div>
                                                    </div>
                                                </div>
                                                <!-- Requirements END-->
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>

                        </div>

                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/ng-template" id="headerCheckbox.html">
    <input type="checkbox" ng-model="wf.checkAll" ng-click="checkAll(wf)"/>
</script>
<footer id="footer" data-ng-include src="'template/footer.html'"></footer>