﻿<style>
    .col-sm-12 strong span {
        color: grey
    }
</style>


<div class="fix-header">
    <div id="wrapper">

        <header data-ng-include="'template/header.html'" data-ng-controller="headerCtrl as hctrl"></header>
        <aside id="sidebar" data-ng-include="'template/sidebar-left.html'" data-ng-class="{ 'toggled': mactrl.sidebarToggle.left === true }"></aside>
        <!--<aside id="chat" data-ng-include="'template/chat.html'" data-ng-class="{ 'toggled': mactrl.sidebarToggle.right === true }"></aside>-->
        <div id="page-wrapper">
            <div class="container-fluid" ng-controller="listPendingPOOverallCtrl">
                <div class="white-box">


                    <div class="row">

                        <div class="col-md-12">
                            <div class="col-md-3" style="text-align:left">
                                <h4 class="text-primary"><strong>PO Details</strong></h4>
                                <hr style="border:1px solid black">
                                <div class="col-sm-12">
                                    <div><strong><span>PO Number: </span>{{filteredPendingPOsList.PO_NUMBER}}</strong></div>
                                </div><br /><br />
                                <div class="col-sm-12">
                                    <div><strong><span>Creation Date: </span>{{filteredPendingPOsList.PO_DATE}}</strong></div>
                                </div><br /><br />
                                <div class="col-sm-12">
                                    <div><strong><span>PO creator: </span>{{filteredPendingPOsList.PO_CREATOR_NAME ? filteredPendingPOsList.PO_CREATOR_NAME : '-'}}</strong></div>
                                </div><br /><br />
                                <div class="col-sm-12">
                                    <div><strong><span>Currency: </span>{{filteredPendingPOsList.CURRENCY}}</strong></div>
                                </div><br /><br />
                                <div class="col-sm-12">
                                    <div><strong><span>Total Base Value: </span>{{filteredPendingPOsList.TOTAL_VALUE}}</strong></div>
                                </div><br /><br />
                                <!--<div class="col-sm-12">
                                    <div><strong><span>Plant: </span>{{filteredPendingPOsList.PLANT_NAME}}</strong></div>
                                </div><br /><br />
                                <div class="col-sm-12">
                                    <div style="word-wrap: break-word;"><strong><span>Plant Address: </span>{{filteredPendingPOsList.PLANT_LOCATION}}</strong></div>
                                </div><br /><br />-->

                                <!--<div class="col-sm-12">
                                    <div><strong><span>PO Delivery Date:</span> {{filteredPendingPOsList.DELIVERY_DATE}}</strong></div>
                                </div><br /><br />-->
                                <!--<div class="col-sm-12">
                                    <div><strong><span>Expected Receipt Date: </span>{{filteredPendingPOsList.PO_RECEIPT_DATE}}</strong></div>
                                </div><br /><br />-->
                                <!--<div class="col-sm-12">
                                    <div><strong>Return Schedule date: {{filteredPendingPOsList.returnScheduleDate}}</strong></div>
                                </div><br /><br />

                                <div class="col-sm-12">
                                    <div><strong>Item Last Received Date: {{filteredPendingPOsList.ItemLastReceivedDate}}</strong></div>
                                </div><br /><br />-->
                                <!--<div class="col-sm-12">
                                    <div><strong><span>PO closed Date: </span>{{filteredPendingPOsList.PO_CLOSED_DATE}}</strong></div>
                                </div><br /><br />
                                <div class="col-sm-12">
                                    <div><strong><span>PO Release Date: </span>{{filteredPendingPOsList.PO_RELEASE_DATE}}</strong></div>
                                </div><br /><br />-->
                                <!--<div class="col-sm-12">
                                    <div><strong><span>PO Status: </span>{{filteredPendingPOsList.PO_STATUS}}</strong></div>
                                </div><br /><br />-->
                                <!--<div class="col-sm-12">
                                    <div><strong><span>Delivery Status: </span>{{filteredPendingPOsList.DELIVERY_STATUS}}</strong></div>
                                </div><br /><br />-->


                            </div>
                            <!--<div class="col-md-3" style="text-align:left">
                                <h4 class="text-warning"><strong>PO Quantity Details</strong></h4>

                                <hr style="border:1px solid black">
                                <div class="col-sm-12">
                                    <div><strong><span>Ordered Qty: </span>{{billedQty}}</strong></div>
                                </div><br /><br />
                                <div class="col-sm-12">
                                    <div><strong><span>Received Qty: </span>{{receivedQty}}</strong></div>
                                </div><br /><br />
                                <div class="col-sm-12">
                                    <div><strong><span>Rejected Qty: </span>{{rejectedQty}}</strong></div>
                                </div><br /><br />
                                <div class="col-sm-12">
                                    <div><strong><span>Pending Qty: </span>{{remainingQty}}</strong></div>
                                </div><br /><br />
                                <div class="col-sm-12">
                                    <div><strong><span>Rej Qty Return/Remove: </span>{{removeQty}}</strong></div>
                                </div><br /><br />


                            </div>-->

                            <div class="col-md-3" style="text-align:left">
                                <h4 class="text-danger"><strong>Supplier Details</strong></h4>
                                <hr style="border:1px solid black">
                                <div class="col-sm-12">
                                    <div><strong><span>Supplier Code: </span>{{filteredPendingPOsList.VENDOR_CODE}}</strong></div>
                                </div><br /><br />
                                <div class="col-sm-12">
                                    <div><strong><span>Supplier Name: </span>{{filteredPendingPOsList.VENDOR_COMPANY}}</strong></div>
                                </div><br /><br />
                                <!--<div class="col-sm-12">
                                    <div><strong><span>Supplier Address: </span>{{filteredPendingPOsList.ADDRESS}}</strong></div>
                                </div><br /><br />-->
                                <div class="col-sm-12">
                                    <div><strong><span>Supplier Phone Number: </span>{{filteredPendingPOsList.VENDOR_PRIMARY_PHONE_NUMBER}}</strong></div>
                                </div><br /><br />

                                <div class="col-sm-12">
                                    <div><strong><span>Supplier Email: </span>{{filteredPendingPOsList.VENDOR_PRIMARY_EMAIL}}</strong></div>
                                </div><br /><br />

                                <div class="col-sm-12">
                                    <div><strong><span>GST Number: </span>{{filteredPendingPOsList.GST_NUMBER}}</strong></div>
                                </div><br /><br />
                                <!--<div class="col-sm-12">
                                    <div><strong><span>Remarks: </span>{{filteredPendingPOsList.REMARKS}}</strong></div>
                                </div><br /><br />-->

                                <!--<div class="col-sm-12">
                                    <div><strong><span>Purchase Group: </span>{{filteredPendingPOsList.PURCHASE_GROUP}}</strong></div>
                                </div><br /><br />-->
                            </div>
                            <div class="col-md-3" style="text-align:left" ng-show="false">
                                <h4 class="text-success"><strong>Payment Details</strong></h4>
                                <hr style="border:1px solid black">
                                <div class="col-sm-12">
                                    <div style="word-wrap: break-word;"><strong><span>Payment Terms: </span>{{filteredPendingPOsList.PAYMENT_TERMS_DESC}}</strong></div>
                                </div><br /><br />
                                <div class="col-sm-12">
                                    <div><strong><span>Inco Terms: </span>{{filteredPendingPOsList.INCO_TERMS}}</strong></div>
                                </div><br /><br />
                                <div class="col-sm-12">
                                    <div><strong><span>Header Text Point: </span>{{filteredPendingPOsList.HEADER_TEXT}}</strong></div>
                                </div><br /><br />


                                <!--<div class="col-sm-12">
                                    <div><strong><span>Net Prices: </span>{{filteredPendingPOsList.NET_PRICE}}</strong></div>
                                </div><br /><br />-->




                            </div>
                            <div class="col-md-3" style="text-align:left">
                                <h4 class="text-warning"><strong>PO Status</strong></h4>

                                <hr style="border:1px solid black">
                                <div class="col-sm-12">
                                    <div>
                                        <strong>
                                            <span>ACK.Status:<small>&nbsp;{{filteredPendingPOsList.VENDOR_ACK_STATUS}}</small>
                                            </span>
                                        </strong>
                                    </div>
                                </div><br /><br />
                                <div class="col-sm-12" ng-if="isCustomer">

                                    <div>
                                        <strong><span>View ASN: </span></strong>&nbsp;&nbsp;
                                        <label ng-repeat="asn in asnList">
                                            <a title="View ASN" role="button" ng-click="viewASN(filteredPendingPOsList.PO_NUMBER,asn.ASN_CODE)">{{asn.ASN_CODE}}</a>
                                        </label>
                                    </div>
                                </div><br /><br />
                                <div class="col-sm-12">
                                    <div><strong><span>GRN: </span>{{filteredPendingPOsList.GRN_STATUS}}</strong></div>
                                </div><br /><br />
                                <div class="col-sm-12">
                                    <div><strong><span>MIRO: </span>{{filteredPendingPOsList.MIRO}}</strong></div>
                                </div><br /><br />
                                <div class="col-sm-12">
                                    <strong>
                                        <span>Invoice: </span>
                                    </strong>
                                    <div ng-repeat="item in invoiceList">


                                        <label ng-if="attch.fileID > 0" ng-repeat="attch in item.attachmentsArray">
                                            <a target="_blank" title="{{attch.fileName}}" class="prmellipsis" href="FileDownload.aspx?attachid={{attch.fileID}}&sessionid={{sessionID}}">{{attch.fileName}}</a>
                                        </label>&nbsp;&nbsp;

                                    </div><br /><br />

                                </div><br /><br />
                                            <!--<div class="col-sm-12" ng-if="!isCustomer && !(pendingPOItems && pendingPOItems.length > 0 && (pendingPOItems[0].VENDOR_ACK_STATUS === 'ACKNOWLEDGE' || pendingPOItems[0].VENDOR_ACK_STATUS === 'APPROVED'))">-->
                                                <!--<div class="col-sm-12" ng-if="!isCustomer && filteredPendingPOsList.VENDOR_ACK_STATUS=='FULLY ACKNOWLEDGED'">

                                                    <div>
                                                        <strong>
                                                            <span>Acknowledgement: </span>
                                                            I Acknowledge
                                                            <input ng-model="ackPO.isPOAck"
                                                                   ng-change="openAckModel(ackPO)"
                                                                   type="checkbox"
                                                                   style="height:15px;width:15px;"
                                                                   ng-true-value="1" ng-false-value="0" />
                                                            <a ng-show="ackPO.isPOAck" title="View PO" role="button" ng-click="acknowledge(pendingPODetails,pendingPODetails.PO_NUMBER)" data-toggle="modal" data-target="#acknowledgeModal"><i class="fa fa-info" aria-hidden="true"></i></a>&nbsp;&nbsp;
                                                        </strong>
                                                    </div>-->
                                                    <!--<div>
            <strong>Acknowledgement
            <label ng-if="pendingPOItems[0].VENDOR_ACK_STATUS == 'REJECTED'" style="color:red">REJECTED</label>
            <label ng-if="pendingPOItems[0].VENDOR_ACK_STATUS == 'APPROVED'" style="color:green">APPROVED</label>
            </strong>
        </div>
        <div ng-if="pendingPOItems[0].VENDOR_ACK_STATUS == 'REJECTED'">
            <span>
               Comments: {{pendingPOItems[0].VENDOR_ACK_REJECT_COMMENTS}}
            </span>
        </div>-->
                                                <!--</div><br /><br />-->
                                                <!--<div class="col-sm-12" ng-if="pendingPOItems && pendingPOItems.length > 0 && (pendingPOItems[0].VENDOR_ACK_STATUS === 'ACKNOWLEDGE' || pendingPOItems[0].VENDOR_ACK_STATUS === 'APPROVED' || pendingPOItems[0].VENDOR_ACK_STATUS === 'EDIT')" style="margin-bottom:10px;">-->
                                                <div class="col-sm-12">

                                                    <!--<div class="text-success" ng-if="filteredPendingPOsList.VENDOR_ACK_STATUS=='FULLY ACKNOWLEDGED' ">
                                                        <span>Acknowledgement: ACKNOWLEDGED</span><br />
                                                        <span>Comments: {{pendingPOItems[0].VENDOR_ACK_COMMENTS}}</span><br />
                                                        <span>Expected Delivery Date: {{pendingPOItems[0].VENDOR_EXPECTED_DELIVERY_DATE_LOCAL}}</span><br />
                                                    </div>-->
                                                    <!--<div ng-if="isCustomer && (pendingPOItems[0].VENDOR_ACK_STATUS === 'ACKNOWLEDGE' || pendingPOItems[0].VENDOR_ACK_STATUS === 'APPROVED') || pendingPOItems[0].VENDOR_ACK_STATUS === 'EDIT' ">-->
                                                    <div ng-if="isCustomer && (filteredPendingPOsList.VENDOR_ACK_STATUS=='PARTIALLY ACKNOWLEDGED'||filteredPendingPOsList.VENDOR_ACK_STATUS=='-')">

                                                        <label><strong>Approve/Reject:</strong></label>
                                                        <!--<div class="btn btn-info">
                <button>Approve</button>

            </div>


            <button class="w3-button w3-red">Reject</button>-->

                                                        <label for="yes" class="btn btn-xs btn-success" role="button">
                                                            <input type="radio" id="yes"
                                                                   ng-model="approveRejectObj.isApproveVendorPo"
                                                                   ng-value='true' />
                                                        </label>
                                                        <label for="no" class="btn btn-xs btn-danger" role="button">
                                                            <input type="radio" id="no"
                                                                   ng-model="approveRejectObj.isApproveVendorPo"
                                                                   ng-value='false' />
                                                        </label>
                                                        <label class="radio-inline" ng-if="approveRejectObj.isApproveVendorPo == true || approveRejectObj.isApproveVendorPo == false">
                                                            <a ng-click="PoApproval(filteredPendingPOsList,approveRejectObj)">
                                                                <!--<i class="fas fa-check btn btn-success btn-outline btn-xs btn-circle"></i>-->
                                                                <i title="Submit" class="fa fa-check btn btn-info btn-xm btn-outline btn-circle"></i>
                                                            </a>
                                                        </label>
                                                        <div ng-if="!approveRejectObj.isApproveVendorPo">
                                                            <textarea placeholder="Please enter comments" rows="2" type="text"
                                                                      ng-model="approveRejectObj.isApproveRejectComments"
                                                                      id="rejectreson" name="rejectreson"
                                                                      class="form-control" style="resize: both;"
                                                                      required>
                                                    </textarea>

                                                        </div>
                                                    </div>
                                                    <!--<div>
            <strong>
                Acknowledgement
                <label ng-if="pendingPOItems[0].VENDOR_ACK_STATUS == 'REJECTED'" style="color:red">REJECTED</label>
                <label ng-if="pendingPOItems[0].VENDOR_ACK_STATUS == 'APPROVED'" style="color:green">APPROVED</label>
            </strong>
        </div>-->
                                                    <div ng-if="pendingPOItems[0].VENDOR_ACK_STATUS == 'REJECTED'">
                                                        <span>
                                                            Comments: {{pendingPOItems[0].VENDOR_ACK_REJECT_COMMENTS}}
                                                        </span>
                                                    </div>
                                                </div>
                                                <div class="col-sm-12" style="max-height:160px; overflow-y:auto;" ng-if="false">
                                                    <table>
                                                        <thead>
                                                            <tr>
                                                                <th>
                                                                    Vendor Attachments :
                                                                </th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            <tr ng-if="attch1.fileID > 0" ng-repeat="attch1 in filteredPendingPOsList.vendorAttachmentsArray">
                                                                <td>
                                                                    <label>
                                                                        <a class="prmellipsisforQcs" title="{{attch1.fileName}}" target="_blank" href="FileDownload.aspx?attachid={{attch1.fileID}}&sessionid={{sessionID}}">{{$index+1}}.{{attch1.fileName}}</a>
                                                                    </label>
                                                                </td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                    <!--<span><strong>Vendor Attachments : </strong></span>
        <label ng-if="attch1.fileID > 0" ng-repeat="attch1 in filteredPendingPOsList.vendorAttachmentsArray" style="overflow-y:auto">
            <label class="prmellipsisforQcs">
                <a title="{{attch1.fileName}}" target="_blank" href="FileDownload.aspx?attachid={{attch1.fileID}}&sessionid={{sessionID}}">{{$index+1}}.{{attch1.fileName}}</a>
            </label>
            <strong ng-show="!isCustomer" ng-click="removeVendAttach($index,filteredPendingPOsList)" class="fa fa-trash-alt"></strong>
        </label>-->
                                                </div>
                                                <br />
                                                <strong ng-if="isCustomer">
                                                    <!--Acknowledgement :-->
                                                    Technical document/COA :
                                                    <label ng-if="pendingPOItems[0].VENDOR_ACK_STATUS == 'REJECTED'" style="color:red">REJECTED</label>
                                                    <label ng-if="pendingPOItems[0].VENDOR_ACK_STATUS == 'APPROVED'" style="color:green">APPROVED</label>
                                                </strong>
                                                <br /><br />


                                            </div>


                        </div>
                        <div class="col-md-12" ng-show="false">
                            <div class="form-group fg-float col-md-4" ng-if="isCustomer">
                                <div class="fileupload btn btn-sm btn-info waves-effect waves-light">
                                    <span><i title="Upload Documents" class="fa fa-upload  m-r-5"></i>Upload Documents</span>
                                    <input type="file" class="upload" accept=".pdf,.xlsx,.xls,.txt,.jpeg,.png,.jpg" id="{{selectedIndex}}" itemid="{{selectedIndex}}" multiple ng-file-select-items="onFileSelect($files)">
                                </div>
                                <label ng-if="attch.fileID <= 0" ng-repeat="attch in filteredPendingPOsList.multipleAttachments">
                                    {{$index+1}}.{{attch.fileName}}
                                    <strong ng-click="removeAttach($index,filteredPendingPOsList)" class="fa fa-trash-alt"></strong>&nbsp;&nbsp;&nbsp;&nbsp;<br />
                                </label>
                            </div>
                            <div class="col-md-1" ng-if="isCustomer">
                                <button class="btn btn-info btn-sm btn-file btn-new-look" ng-click="saveAttachments(filteredPendingPOsList)">Save Attachments</button>
                            </div>
                            <div class="form-group fg-float col-md-6 display_inline_block" style="margin-left: 50px; display: inline-table">
                                <span><strong>Attachments : </strong></span>
                                <label class="prmellipsisforQcs" ng-if="attch1.fileID > 0" ng-repeat="attch1 in filteredPendingPOsList.attachmentsArray">
                                    <a class="prmellipsis" title="{{attch1.fileName}}" target="_blank" href="FileDownload.aspx?attachid={{attch1.fileID}}&sessionid={{sessionID}}">{{$index+1}}.{{attch1.fileName}}</a>
                                    <!--<strong ng-show="isCustomer" ng-click="removeAttach1($index,filteredPendingPOsList)" class="fa fa-trash-alt"></strong>&nbsp;&nbsp;&nbsp;&nbsp;<br />-->
                                </label>

                            </div>
                        </div>
                        <h4><strong>Item Level</strong></h4>

                        <hr style="border:1px solid black">
                        <div class="row">
                            <div class="col-md-12 col-sm-12 col-lg-12 table-responsive" double-scroll-bar-horizontal>
                                <table class="table">
                                    <thead>
                                        <tr style="font-weight: bold">
                                            <th></th>
                                            <th style="min-width:100px;">PO Line Item</th>
                                            <th ng-if="SERVICE_CODE!=''">Service Code</th>
                                            <th ng-if="SERVICE_DESCRIPTION!=''">Service Description</th>
                                            <th>Material Code</th>
                                            <!--<th>Item Name</th>
                                            <th>Material Desc</th>
                                            <th>Material PO text</th>-->
                                            <!--<th>HSN Code</th>-->
                                            <th>UOM</th>
                                            <th ng-if="ALTERNATIVE_UOM!=''">Alternate UOM</th>
                                            <th ng-if="ALTERNATIVE_UOM_QTY!=''" style="min-width:110px;">Qty in Alternate UOM</th>
                                            <th>Order Quantity</th>
                                            <th>Received Quantity</th>
                                            <th>Rejected Quantity</th>
                                            <th>Pending Quantity</th>
                                            <!--<th>Delivery Date</th>-->
                                            <!--<th>Currency</th>-->
                                            <th>Unit Price</th>
                                            <th>CGST</th>
                                            <th>SGST</th>
                                            <th>IGST</th>
                                            <!--<th>UGST</th>-->
                                            <!--<th>CESS</th>
                                            <th>TCS</th>
                                            <th style="min-width:100px;">Tax Code desc.</th>-->
                                            <th>Total Value</th>
                                            <!--<th>Gross Price</th>
                                            <th>Discount Price</th>
                                            <th>Discount Perc</th>
                                            <th>Valid To</th>
                                            <th>Item Text PO</th>
                                            <th>PO Contract</th>-->
                                            <!--<th>PR Qty</th>
                                            <th style="min-width:100px;">PR Release Date</th>-->
                                            <!--<th>Freight</th>
                                            <th ng-if="MISC_CHARGES!=''">Misc Changes</th>
                                            <th>Packing Charges</th>
                                            <th style="min-width:145px;">Delivery Completion Indicator</th>
                                            <th style="min-width:100px;">Deleted Indicator</th>
                                            <th>Material Type</th>
                                            <th>Valid From</th>
                                            <th style="min-width:110px;">Item Modified Date</th>-->
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat-start="item in pendingPOItems">
                                            <td>
                                                <a role="button" ng-hide="pendingPODetails.expanded" ng-click="pendingPODetails.expanded = true;" title="More Details"><i class="fa fa-angle-right fa-2x"></i></a>
                                                <a role="button" ng-hide="!pendingPODetails.expanded" ng-click="pendingPODetails.expanded = false" title="Hide Details"><i class="fa fa-angle-down fa-2x"></i></a>&nbsp;
                                            </td>
                                            <td style="min-width:100px;">{{item.PO_LINE_ITEM}}</td>
                                            <td ng-if="SERVICE_CODE!=''">{{ITEM.SERVICE_CODE}}</td>
                                            <td ng-if="SERVICE_DESCRIPTION!=''">{{ITEM.SERVICE_DESCRIPTION}}</td>
                                            <td>{{item.PRODUCT_CODE}}</td>
                                            <!--<td>{{item.PRODUCT_NAME}}</td>
    <td>{{item.PO_MATERIAL_DESC}}</td>
    <td>{{item.ITEM_MAT_TEXT}}</td>
    <td>{{item.HSN_CODE}}</td>-->
                                            <td>{{item.UOM}}</td>
                                            <td ng-if="ALTERNATIVE_UOM!=''">{{item.ALTERNATIVE_UOM}}</td>
                                            <td ng-if="ALTERNATIVE_UOM_QTY!=''" style="min-width:110px;">{{item.ALTERNATIVE_UOM_QTY}}</td>
                                            <td>{{item.ORDER_QTY}}</td>
                                            <td>{{item.RECEIVED_QTY}}</td>
                                            <td>{{item.REJECTED_QTY}}</td>
                                            <td>{{item.REMAINING_QTY}}</td>
                                            <!--<t-->
                                            <!--d>{{item.DELIVERY_DATE}}</td>-->
                                            <!--<td>{{item.CURRENCY}}</td>-->
                                            <td>{{item.NET_PRICE}}</td>
                                            <td>{{item.CGST}}</td>
                                            <td>{{item.SGST}}</td>
                                            <td>{{item.IGST}}</td>
                                            <!--<td>{{item.UGST}}</td>-->
                                            <!--<td>{{item.CESS}}</td>
    <td>{{item.TCS}}</td>
    <td style="min-width:100px;">{{item.TAX_CODE}}</td>-->
                                            <!--<td>{{item.TOTAL_VALUE + (item.CGST + item.SGST + item.IGST + item.CESS + item.TCS)}}</td>-->
                                            <td>{{item.LINE_BASE_AMT}}</td>
                                            <!--<td>{{item.ITEM_GROSS_PRICE}}</td>
    <td>{{item.ITEM_DISCOUNT_VALUE}}</td>
    <td>{{item.ITEM_DISCOUNT_PERCENTAGE}}</td>
    <td>{{item.VALID_TO}}</td>
    <td style="min-width:100px;">{{item.ITEM_TEXT_PO}}</td>
    <td>{{item.PO_CONTRACT}}</td>-->
                                            <!--<td>{{item.PR_QTY}}</td>
    <td style="min-width:100px;">{{item.PR_RELEASE_DATE}}</td>-->
                                            <!--<td>{{item.FREIGHT}}</td>
    <td ng-if="MISC_CHARGES!=''">{{item.MISC_CHARGES}}</td>
    <td>{{item.PACKING_CHARGES}}</td>
    <td style="min-width:145px;">{{item.DELIVERY_COMPLETED}}</td>
    <td style="min-width:100px;">{{item.DELETED_INDICATOR}}</td>
    <td>{{item.MAT_TYPE}}</td>
    <td>{{item.VALID_FROM}}</td>
    <td style="min-width:110px;">{{item.PO_ITEM_CHANGE_DATE}}</td>-->

                                        </tr>
                                        <tr ng-repeat-end ng-if="pendingPODetails.expanded">
                                            <td colspan="16">
                                                <table class="table-striped table">
                                                    <thead>
                                                        <tr>
                                                            <th>PR Number</th>
                                                            <!--<th>PR Requisitioner</th>
                                                            <th style="min-width:100px;">PR Delivery Date</th>-->
                                                            <th>GRN Number</th>
                                                            <th>GRN Line Item</th>
                                                            <th>GRN Delivery Date</th>
                                                            <th>GRN Received Quantity</th>
                                                            <th>Rejected Quantity</th>
                                                            <th>View GRN</th>
                                                        </tr>

                                                    </thead>


                                                    <tr ng-repeat="grnItem in item.GRNItems">
                                                        <td>{{item.PR_NUMBER}}</td>
                                                        <!--<td>{{item.PR_REQUISITIONER}}</td>
                                                        <td style="min-width:100px;">{{item.PR_DELIVERY_DATE}}</td>-->
                                                        <td>{{grnItem.GRN_NUMBER}}</td>
                                                        <td>{{grnItem.GRN_LINE_ITEM}}</td>
                                                        <td>{{grnItem.GRN_DELIVERY_DATE_LOCAL}}</td>
                                                        <td>{{grnItem.GRN_RECEIVED_QTY}}</td>
                                                        <td>{{grnItem.GRN_REJECTED_QTY}}</td>
                                                        <td>
                                                            <a title="View GRN" role="button" ng-if="grnItem.GRN_NUMBER" ng-click="viewPO(grnItem.GRN_NUMBER)"><i class="fa fa-eye" aria-hidden="true"></i></a>&nbsp;&nbsp;
                                                        </td>
                                                    </tr>
                                                </table>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>


                    </div>


                    <div class="modal fade" id="acknowledgeModal" tabindex="-1" role="dialog" aria-labelledby="acknowledgeModalLabel" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h3 class="modal-title" id="acknowledgeModalLabel"><strong>Acknowledgement</strong></h3>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <form novalidate>
                                        <div class="form-group">
                                            <label for="recipient-name">PO Delivery Date:</label>
                                            <div moment-picker="filteredPendingPOsList.PO_DELIVERY_DATE" format="DD-MM-YYYY">
                                                <input class="form-control" ng-disabled="true" placeholder="Select a date" ng-model="filteredPendingPOsList.DELIVERY_DATE" ng-model-options="{ updateOn: 'blur' }">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="recipient-name" class="col-form-label">Expected Delivery Date:</label>
                                            <div moment-picker="filteredPendingPOsList.EXPECTED_DELIVERY_DATE" format="DD-MM-YYYY">
                                                <input class="form-control" placeholder="Select a date" ng-model="filteredPendingPOsList.EXPECTED_DELIVERY_DATE" ng-model-options="{ updateOn: 'blur' }">
                                                <span ng-if="ackExpectedDeldateError">{{ackExpectedDeldateError}}</span>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="message-text" class="col-form-label">Comments:</label>
                                            <textarea ng-model="filteredPendingPOsList.COMMENTS" class="form-control" id="message-text"></textarea>
                                            <span ng-if="ackcommentsError">{{ackcommentsError}}</span>
                                        </div>
                                        <div ng-if="ackError">
                                            <label class="text-danger">{{ackError}}</label>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="fileupload btn btn-sm btn-info waves-effect waves-light">
                                                    <span><i title="Upload Documents" class="fa fa-upload  m-r-5"></i>Upload Documents</span>
                                                    <input type="file" class="upload" accept=".pdf,.xlsx,.xls,.txt,.jpeg,.png,.jpg" id="vendorAttach" itemid="vendorAttach" multiple ng-file-select-items="onFileSelect($files)">
                                                </div>
                                                <div>
                                                    <label ng-if="attch.fileID <= 0" ng-repeat="attch in vendAttachments.vendorMultipleAttachments">
                                                        {{$index+1}}.{{attch.fileName}}
                                                        <strong ng-click="removeVendAttachPopUp($index,vendAttachments)" class="fa fa-trash-alt"></strong>&nbsp;&nbsp;&nbsp;&nbsp;<br />
                                                    </label>
                                                </div>

                                            </div>
                                        </div>

                                        <div class="form-group row ">
                                            <div class="col-md-12">
                                                <label><strong>I Acknowledge</strong></label>
                                                <input ng-model="ackPO.isPOAck"
                                                       type="checkbox"
                                                       style="height:15px;width:15px;"
                                                       ng-true-value="1" ng-false-value="0" />
                                                <div ng-if="ackPO.isPOAck == 0">
                                                    <label class="text-danger">Acknowledgement is mandatory</label>
                                                </div>
                                            </div>

                                            <div class="col-xs-6">
                                                <label style="color:forestgreen">

                                                    <strong>Thank You for Acknowledging the order.. The Confirmation would be sent to Customer</strong>

                                                </label>
                                            </div>
                                            <div class="col-xs-6 text-right">
                                                <button ng-disabled="ackPO.isPOAck == 0" class="btn btn-primary" type="button" ng-click="saveAcknowledgementForm(filteredPendingPOsList)">Save</button>
                                                <button class="btn btn-warning" type="button" ng-click="closeAcknowledgementForm()">Cancel</button>
                                            </div>
                                        </div>
                                    </form>
                                </div>


                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

<footer id="footer" data-ng-include="'template/footer.html'"></footer>
