<div ng-class="isMobile ? '' : 'login-content login_background'">
    <!-- Login -->
    <div welcome-page></div>
    <div class="col-md-4">
        <div class="lc-block login toggled" id="l-login">
            <img class="logo text-center" src="img/logos/acadslogo_black.png">
            <form ng-submit="loginForm.$valid && loginSubmit()" class="loginForm" name="loginForm" novalidate>
                <div class="alert alert-danger alert-dismissible" ng-if="msg" ng-show="showMessage">
                    <button type="button" class="close" ng-click="closeMsg()">
                        <span aria-hidden="true">×</span>
                    </button>
                    <span class="logininput" ng-bind-html="msg"></span>
                </div>
                <div class="alert alert-danger alert-dismissible" ng-if="successmsg" ng-show="sucessshowMessage">
                    <button type="button" class="close" ng-click="closeMsg()">
                        <span aria-hidden="true">×</span>
                    </button>
                    <span class="logininput" ng-bind-html="successmsg"></span>
                </div>
                <div class="input-group">
                    <span class="input-group-addon"><!-- <i class="zmdi zmdi-account"></i> --></span>
                    <div class="form-group fg-float">
                        <div class="fg-line input-field">
                            <i class="mdi-social-person-outline prefix"></i>
                            <input ng-model="user.username" name="username" type="text" class="form-control logininput" id="exampleInputEmail1" ng-change="change()"
                                required />
                            <label class="fg-label" for="username">Email/Phone No.</label>
                        </div>
                        <div ng-show="loginForm.$submitted || loginForm.username.$touched">
                            <div class="help-block error logininput" ng-show="loginForm.username.$error.required">Please enter Email or Phone Number</div>
                        </div>
                    </div>
                </div>
                <div class="input-group">
                    <span class="input-group-addon"><!-- <i class="zmdi zmdi-male"></i> --></span>
                    <div class="form-group fg-float">
                        <div class="fg-line input-field">
                            <i class="mdi-action-lock-outline prefix"></i>
                            <input ng-model="user.password" name="password" type="password" class="form-control logininput" id="exampleInputPassword1"
                                required />
                            <label class="fg-label" for="password">Password</label>
                        </div>
                        <div ng-show="loginForm.$submitted || loginForm.password.$touched">
                            <div class="help-block error logininput" ng-show="loginForm.password.$error.required">Please enter Password</div>
                        </div>
                    </div>
                </div>
                <div class="input-group" style="padding-right:15px;">
                    <button type="submit" class="btn btn-danger pull-left btn-new-look login-btn">Login</button>
                    <a ui-sref="forgotpassword" class="forgotcolor">Forgot Password</a>
                </div>
                <div class="clearfix"></div>
                <div class="clearfix">
                    <!-- <button type="submit" class="btn btn-login btn-danger btn-float"><i class="zmdi zmdi-arrow-forward"></i></button> -->
                </div>
            </form>
            <div class="col-xs-12 text-center registrationDiv">
                <!--  <div class="col-xs-2 text-center">
                 </div> -->
                <div class="text-center">
                    <a ui-sref="register" tooltip-placement="top" uib-tooltip="Registration" class="">Registration</a>
                </div>
            </div>
        </div>
    </div>
</div>