<div ng-class="isMobile ? '' : 'login-content login_background'">
    <div welcome-page></div>
    <div class="col-md-4">
       <div class="lc-block vendor-registration toggled" id="l-register_vendor">
            <img class="logo text-center" src="img/logos/acadslogo_black.png">
            <div class="col-xs-12 text-center padding0">
                <div class="col-xs-12 padding0 text-right reg-login-button-div">
                    Already have an account? <a ui-sref="login" tooltip-placement="top" uib-tooltip="Login"
                        class="registerations reg-login-button">Log In</a> here.
                </div>
            </div>
            <form ng-submit="vendorregisterForm.$valid && RegisterVendor1()" class="vendorregisterForm" name="vendorregisterForm" novalidate>
                <div class="alert alert-danger alert-dismissible" ng-if="msg" ng-show="showMessage">
                    <button type="button" class="close" ng-click="closeMsg()">
                        <span aria-hidden="true">×</span>
                    </button>
                    <span class="logininput" ng-bind-html="msg"></span>
                </div>
                <div class="alert alert-danger alert-dismissible" ng-if="successmsg" ng-show="sucessshowMessage">
                    <button type="button" class="close" ng-click="closeMsg()">
                        <span aria-hidden="true">×</span>
                    </button>
                    <span class="logininput" ng-bind-html="successmsg"></span>
                </div>
                <div class="input-group">
                    <span class="input-group-addon"></span>
                    <div class="form-group fg-float">
                        <div class="fg-line input-field">
                            <i class="mdi-social-person-outline prefix"></i>
                            <input ng-model="vendorregisterobj.firstName" name="firstName" type="text" class="form-control logininput" id="firstName"
                                required />
                            <!--<input ng-model="vendorregisterobj.firstName" name="firstName" type="text" id="firstName"/>-->
                            <label class="fg-label" for="firstName">First Name</label>
                        </div>
                        <div ng-show="vendorregisterForm.$submitted || vendorregisterForm.firstName.$touched">
                            <div class="help-block error logininput" ng-show="vendorregisterForm.firstName.$error.required">Please enter First Name</div>
                        </div>
                    </div>
                </div>
                <div class="input-group">
                    <span class="input-group-addon"></span>
                    <div class="form-group fg-float">
                        <div class="fg-line input-field">
                            <i class="mdi-social-person-outline prefix"></i>
                            <input ng-model="vendorregisterobj.lastName" name="lastName" type="text" class="form-control logininput" id="lastName" required
                            />
                            <label class="fg-label" for="lastName">Last Name</label>
                        </div>
                        <div ng-show="vendorregisterForm.$submitted || vendorregisterForm.lastName.$touched">
                            <div class="help-block error logininput" ng-show="vendorregisterForm.lastName.$error.required">Please enter Last Name</div>
                        </div>
                    </div>
                </div>
                <div class="input-group">
                    <span class="input-group-addon"></span>
                    <div class="form-group fg-float">
                        <div class="fg-line input-field">
                            <i class="mdi-social-person-outline prefix"></i>
                            <select chosen data-placeholder="Select a role..." name="role" ng-model="vendorregisterobj.role" required class="form-control">
                                <option value="VENDOR">Vendor</option>
                                <option value="CUSTOMER">Customer</option>
                            </select>
                            <label class="fg-label" for="role">Select a Role...</label>
                        </div>
                        <div ng-show="(vendorregisterForm.$submitted || vendorregisterForm.role.$touched)">
                            <div class="help-block error logininput" ng-show="vendorregisterForm.role.$error.required">Please Select a Role</div>
                        </div>
                    </div>
                </div>
                <div class="input-group">
                    <span class="input-group-addon"></span>
                    <div class="form-group fg-float">
                        <div class="fg-line input-field">
                            <i class="mdi-social-person-outline prefix"></i>
                            <input ng-model="vendorregisterobj.institution" name="institution" type="text" class="form-control logininput" id="institution"
                                ng-change="change()" required />
                            <label class="fg-label" for="institution">Company Name</label>
                        </div>
                        <div ng-show="vendorregisterForm.$submitted || vendorregisterForm.institution.$touched">
                            <div class="help-block error logininput" ng-show="vendorregisterForm.institution.$error.required">Please enter Company Name</div>
                        </div>
                        <!-- <div class="help-block error logininput" ng-show="checkCompanyUniqueResult">Company Name already exists</div> -->
                    </div>
                </div>
                <div class="input-group" ng-if="vendorregisterobj.role == 'VENDOR'">
                    <span class="input-group-addon"></span>
                    <div class="form-group fg-float">
                        <div class="fg-line input-field">
                            <i class="mdi-social-person-outline prefix"></i>
                            <select ng-change="loadSubCategories();" chosen data-placeholder="Select a category..." name="category" ng-model="vendorregisterobj.category"
                                ng-options="category for category in categories" required class="form-control"></select>
                            <label class="fg-label" for="category">Select a Category...</label>
                        </div>
                        <div ng-show="(vendorregisterForm.$submitted || vendorregisterForm.category.$touched)">
                            <div class="help-block error logininput" ng-show="vendorregisterForm.category.$error.required">Please Select Category</div>
                        </div>
                    </div>
                </div>


                <div ng-show="vendorregisterobj.role == 'VENDOR'" isteven-multi-select input-model="subcategories" output-model="sub.selectedSubcategories"
                    button-label="subcategory" item-label="subcategory" tick-property="ticked" max-labels="1" max-height="150px">
                </div>




                <div class="input-group">
                    <span class="input-group-addon"></span>
                    <div class="form-group fg-float">
                        <div class="fg-line input-field">
                            <!--ng-class="{'fg-toggled': true===true}"-->
                            <i class=" mdi-social-person-outline prefix">
                            </i>
                            <select data-placeholder="Select a Currency..." name="currency" id="currency" ng-model="vendorregisterobj.currency" ng-options="currency.value for currency in currencies"
                                required class="form-control"></select>
                            <label class="fg-label" for="currency">Select a Currency...</label>
                        </div>
                        <div ng-show="(vendorregisterForm.$submitted || vendorregisterForm.currency.$touched)">
                            <div class="help-block error logininput" ng-show="vendorregisterForm.currency.$error.required">Please Select Currency</div>
                        </div>
                    </div>
                </div>


                <div class="input-group">
                    <span class="input-group-addon"></span>
                    <div class="form-group fg-float">
                        <div class="fg-line input-field">
                            <!--ng-class="{'fg-toggled': true===true}"-->
                            <i class="mdi-social-person-outline prefix"></i>
                            <select data-placeholder="Select a Timezone..." name="timezone" id="timezone" ng-model="vendorregisterobj.timeZone" ng-options="timezone.value for timezone in timezones"
                                required class="form-control"></select>
                            <label class="fg-label" for="timezone">Select a Timezone...</label>
                        </div>
                        <div ng-show="(vendorregisterForm.$submitted || vendorregisterForm.timezone.$touched)">
                            <div class="help-block error logininput" ng-show="vendorregisterForm.timezone.$error.required">Please Select Timezone</div>
                        </div>
                    </div>
                </div>
                <div class="input-group">
                    <span class="input-group-addon"></span>
                    <div class="form-group fg-float">
                        <div class="fg-line input-field">
                            <i class="mdi-social-person-outline prefix"></i>
                            <input ng-model="vendorregisterobj.email" ng-blur="checkUserUniqueResult('EMAIL',vendorregisterobj.email)" name="email" type="email"
                                class="form-control logininput" id="exampleInputEmail1" ng-change="EmailValidateVendor()" ; required
                            />
                            <label class="fg-label" for="email">Email Address</label>
                        </div>
                        <div ng-show="vendorregisterForm.$submitted || vendorregisterForm.email.$touched">
                            <div class="help-block error logininput" ng-show="vendorregisterForm.email.$error.required">Please enter Email</div>
                            <div class="help-block error logininput" ng-show="!vendorregisterForm.email.$error.required && vendorregisterForm.email.$error.email">Please enter a valid Email</div>

                        </div>
                        <div class="help-block error logininput" ng-show="checkEmailUniqueResult">Email already exists</div>
                    </div>
                </div>
                <div class="input-group">
                    <span class="input-group-addon"></span>
                    <div class="form-group fg-float">
                        <div class="fg-line input-field">
                            <i class="mdi-social-person-outline prefix"></i>
                            <input type="number" ng-change="change()" ng-model="vendorregisterobj.phoneNum" name="phoneNum" class="form-control logininput"
                                id="phoneNum" ng-minlength="10" ng-maxlength="10" ng-blur="checkUserUniqueResult('PHONE',vendorregisterobj.phoneNum)"
                                required />
                            <label class="fg-label" for="phoneNum">Phone Number</label>
                        </div>
                        <div ng-show="vendorregisterForm.$submitted || vendorregisterForm.phoneNum.$touched">
                            <div class="help-block error logininput" ng-show="vendorregisterForm.phoneNum.$error.required">Please enter Phone Number</div>
                            <div class="help-block error logininput" ng-show="vendorregisterobj.phoneNum.$error.number">Please enter a valid phonenumber</div>
                            <div class="help-block error logininput nowrap" ng-show="vendorregisterForm.phoneNum.$error.minlength">Phone Number must be exactly 10 digits.</div>
                            <div class="help-block error logininput nowrap" ng-show="vendorregisterForm.phoneNum.$error.maxlength">Phone Number must be exactly 10 digits.</div>
                        </div>
                        <div class="help-block error logininput" ng-show="checkPhoneUniqueResult && !vendorregisterForm.phoneNum.$error.minlength && !vendorregisterForm.phoneNum.$error.minlength && !vendorregisterForm.phoneNum.$error.required">Phone number already exists</div>
                    </div>
                </div>
                <div class="input-group">
                    <span class="input-group-addon"></span>
                    <div class="form-group fg-float">
                        <div class="fg-line input-field">
                            <i class="mdi-action-lock-outline prefix"></i>
                            <input ng-model="vendorregisterobj.password" name="password" type="password" ng-minlength="6" class="form-control logininput"
                                id="password" required />
                            <label class="fg-label" for="password">Password</label>
                        </div>
                        <div ng-show="vendorregisterForm.$submitted || vendorregisterForm.password.$touched">
                            <div class="help-block error logininput" ng-show="vendorregisterForm.password.$error.required">Please enter Password</div>
                            <div class="help-block error logininput" ng-show="vendorregisterForm.password.$error.minlength">Password must be at least 6 characters.</div>
                        </div>
                    </div>
                </div>

                <div class="input-group">
                    <span class="input-group-addon"></span>
                    <div class="form-group fg-float">
                        <div class="fg-line input-field">
                            <i class="mdi-action-lock-outline prefix"></i>
                            <input ng-model="vendorregisterobj.confirmpassword" name="confirmpassword" type="password" class="form-control logininput"
                                id="confirmpassword" pw-check="password" required />
                            <label class="fg-label" for="confirmpassword">Confirm Password</label>
                        </div>
                        <div ng-show="vendorregisterForm.$submitted || vendorregisterForm.confirmpassword.$touched">
                            <div class="help-block error logininput" ng-show="vendorregisterForm.confirmpassword.$error.required">Please enter Confirm Password</div>
                        </div>
                        <div ng-show="vendorregisterForm.$submitted || vendorregisterForm.confirmpassword.$touched">
                            <div class="help-block error logininput" ng-show="!vendorregisterForm.confirmpassword.$error.required && vendorregisterForm.confirmpassword.$error.pwmatch">Passwords don't match.</div>
                        </div>
                    </div>
                </div>
                <div class="input-group">
                    <span class="input-group-addon"></span>
                    <div class="form-group fg-float">
                        <div class="fg-line input-field">
                            <i class="mdi-social-person-outline prefix"></i>
                            <input ng-model="vendorregisterobj.panno" ng-minlength="10" ng-blur="checkUserUniqueResult('PAN',vendorregisterobj.panno)"
                                ng-pattern="/^([a-zA-Z]{5})(\d{4})([a-zA-Z]{1})$/" name="panno" type="text" class="form-control logininput"
                                id="panno" />
                            <label class="fg-label" for="panno">PAN</label>
                        </div>
                        <div ng-show="vendorregisterForm.$submitted || vendorregisterForm.panno.$touched">
                            <div class="help-block error logininput" ng-show="vendorregisterForm.panno.$error.pattern">Please enter a valid Pan Number (Ex : ABCDE1234F)</div>
                        </div>
                        <div class="help-block error logininput" ng-show="checkPANUniqueResult && !vendorregisterForm.panno.$error.pattern && vendorregisterobj.panno != ''">PAN already exists</div>
                    </div>
                </div>
                <div class="input-group">
                    <span class="input-group-addon"></span>
                    <div class="form-group fg-float">
                        <div class="fg-line input-field">
                            <i class="mdi-social-person-outline prefix"></i>
                            <input ng-model="vendorregisterobj.vatno" name="vatno" ng-blur="checkUserUniqueResult('TIN',vendorregisterobj.vatno)" ng-minlength="11"
                                ng-maxlength="11" type="number" class="form-control logininput" id="vatno" />
                            <label class="fg-label" for="vatno">TIN</label>
                        </div>
                        <div ng-show="vendorregisterForm.$submitted || vendorregisterForm.vatno.$touched">
                            <div class="help-block error logininput" ng-show="vendorregisterForm.vatno.$error.minlength">TIN must be at least 11 characters.</div>
                            <div class="help-block error logininput" ng-show="vendorregisterForm.vatno.$error.maxlength">TIN must be at least 11 characters.</div>
                        </div>
                        <div class="help-block error logininput" ng-show="checkTINUniqueResult && !vendorregisterForm.vatno.$error.minlength && !vendorregisterForm.vatno.$error.maxlength && vendorregisterobj.vatno != ''">TIN already exists</div>
                    </div>
                </div>
                <div class="input-group">
                    <span class="input-group-addon"></span>
                    <div class="form-group fg-float">
                        <div class="fg-line input-field">
                            <i class="mdi-social-person-outline prefix"></i>
                            <input ng-model="vendorregisterobj.taxno" ng-blur="checkUserUniqueResult('STN',vendorregisterobj.taxno)" ng-minlength="15"
                                ng-maxlength="15" name="taxno" type="text" class="form-control logininput" id="taxno" />
                            <label class="fg-label" for="taxno">STN</label>
                        </div>
                        <div ng-show="vendorregisterForm.$submitted || vendorregisterForm.taxno.$touched">
                            <div class="help-block error logininput" ng-show="vendorregisterForm.taxno.$error.minlength">TAX Number must be at least 15 characters.</div>
                            <div class="help-block error logininput" ng-show="vendorregisterForm.taxno.$error.maxlength">TAX Number must be at least 15 characters.</div>
                        </div>
                        <div class="help-block error logininput" ng-show="checkSTNUniqueResult && !vendorregisterForm.taxno.$error.minlength && !vendorregisterForm.taxno.$error.maxlength && vendorregisterobj.taxno != ''">STN already exists</div>
                    </div>
                </div>
                <button ng-if="checked" type="submit" class="btn btn-danger create-account-btn btn-new-look">Create Account</button>

                <div class="card">
                    <div class="card-header">
                        <div class="fileinput fileinput-new" data-provides="fileinput" id="alerts">
                            <a ng-click="clickToOpen()">Read Terms & Condition</a>
                        </div>
                        <div>
                            <h5>I Accept the Terms & Conditions : <input type="checkbox" id="checkbox1" ng-model="checked"></h5>
                        </div>
                    </div>
                </div>



                <div class="clearfix">
                    <!-- <button type="submit" class="btn btn-login btn-danger btn-float"><i class="zmdi zmdi-arrow-forward"></i></button> -->
                </div>
            </form>
        </div>       
    </div>
</div>