﻿<div class="fix-header">
    <div id="wrapper">
        <header data-ng-include="'template/header.html'" data-ng-controller="headerCtrl as hctrl"></header>
        <aside data-ng-include="'template/sidebar-left.html'" data-ng-class="{ 'toggled': mactrl.sidebarToggle.left === true }"></aside>
        <div id="page-wrapper">
            <div class="container-fluid">



                <div class="card" ng-controller="POListCtrl">
                    <div class="card-body card-padding">

                        <div class="row">
                            <div class="col-md-6">
                                <h4>My POs</h4>
                            </div>

                            <div class="col-md-4">
                                <strong>Req ID :</strong>{{ po.req.requirementID}}
                            </div>
                            <div class="col-md-4">
                                <strong>  Title : </strong> {{po.req.title}}
                            </div>
                            <div class="col-md-4">
                                <strong> Name :</strong>{{po.vendor.firstName}}{{po.vendor.lastName}}
                            </div>


                            <div class="col-md-6">
                                <button ng-if="isCustomer" class="pull-right btn btn-info btn-new-look" title="Vendor PO" ng-click="goToVendorPo(po.listPOItems[0], 0)">New PO</button>
                            </div>

                           
                        </div>

                        <br />


                        <div class="row">
                            <div class="table-responsive z-depth-1 clear-both">
                                <table class="table table-hover" style="background-color:#f5f5f5">
                                    <thead>
                                        <tr style="font-weight: bold">
                                            <th>Po ID</th>
                                            <th>Indent ID</th>
                                            <th class="text-center">Actions</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="item in po.listPOItems">

                                            <td>
                                                <label>{{item.purchaseID}}</label>
                                            </td>

                                            <td>
                                                <label>{{item.indentID}}</label>
                                            </td>

                                            <td class="text-center">
                                                <div class="row">

                                                    <button ng-if="item.poID > 0" title=" vendor po" ng-click="goToViewPo(item, item.poID)" class="btn btn-info btn-new-look">View PO</button>

                                                    <button ng-if="isCustomer && item.poID > 0" title=" vendor po" ng-click="goToVendorPo(item, item.poID)" class="btn btn-info btn-new-look">Edit PO</button>

                                                    <a ng-if="item.poLink > 0 && item.poID > 0" target="_blank " href="FileDownload.aspx?attachid={{item.poLink}}&sessionid={{sessionID}}" class="btn btn-default">Download PO</a>
                                                    <button ng-if="item.poLink > 0 && item.poID > 0" ng-click="goToDispatchTrack(item.poID, 0);" class="btn btn-info btn-new-look">Dispatch History</button>
                                                    <button ng-if="!isCustomer && item.poID > 0" title="Edit Dispatch Meterial" role="button" ng-click="goToDispatchTrackForm(item.poID, 0)" class="btn btn-info btn-new-look">New Dispatch</button>

                                                    <button ng-if="item.poID > 0" title="Edit Dispatch Meterial" role="button" ng-click="goTopaymentTrack(item.poID)" class="btn btn-info btn-new-look">Payment Track</button>

                                                </div>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>





            </div>
        </div>
    </div>
</div>
<footer id="footer" data-ng-include src="'template/footer.html'"></footer>
