﻿
<div class="fix-header">
    <div id="wrapper">
        <header data-ng-include="'template/header.html'" data-ng-controller="headerCtrl as hctrl"></header>
        <aside data-ng-include="'template/sidebar-left.html'" data-ng-class="{ 'toggled': mactrl.sidebarToggle.left === true }"></aside>
        <div id="page-wrapper">
            <div class="container-fluid">
                <div id="widget">
                    <div class="white-box" data-ng-controller="qcsCtrl">

                        <div class="row">
                            <div class="col-md-6">
                                <h2 class="center-block">QUOTATIONS&nbsp;COMPARATIVE&nbsp;STATEMENT</h2>
                            </div>
                            <div class="col-md-6">
                                <div class="dropdown pull-right" ng-if="!htmlToCanvasSaveLoading">
                                    <button class="btn btn-info dropdown-toggle" type="button" data-toggle="dropdown">
                                        <i class="fa fa-download" aria-hidden="true"></i>
                                        <span class="caret"></span>
                                    </button>
                                    <ul class="dropdown-menu">
                                        <li ng-click="htmlToCanvasSave('jpg');" role="button">
                                            <a class="pull-left" data-toggle="modal" style="width:100%"><i class="fas fa-image"></i> .JPEG</a>
                                        </li>
                                        <li ng-click="htmlToCanvasSave('png');" role="button">
                                            <a class="pull-left" data-toggle="modal" style="width:100%"><i class="fas fa-image"></i> .PNG</a>
                                        </li>
                                    </ul>
                                </div>
                                <img ng-if="htmlToCanvasSaveLoading" src="img/logos/acadslogo_black.png" ng-click="htmlToCanvasSaveLoading=false" class="pull-right" width="100" height="50">
                            </div>

                        </div>

                        <div class="white-box">
                            <div class="row">
                                <div class="row">
                                    <div class="col-md-12 text-right">
                                        <button class="btn btn-info btn-sm" ng-show="editForm" ng-click="editForm = false">View QCS</button>
                                        <button class="btn btn-info btn-sm" ng-show="!editForm" ng-click="editForm = true">Edit QCS</button>
                                        <button class="btn btn-info btn-sm"
                                                onclick="tableToExcel('testTable', 'Comparitives')"
                                                value="Export to Excel"
                                                ng-show="!editForm">
                                            <i class="fa fa-download" aria-hidden="true"></i>
                                            Export to Excel
                                        </button>
                                    </div>
                                </div>
                                <br />
                                <div class="table-responsive" double-scroll-bar-horizontal>
                                    <br />
                                    <table id="testTable" class="table" style="width:100%;">
                                        <tr style="background-color:lightblue;">
                                            <td colspan="{{ReqReportForExcel.reqItems[0].reqVendors.length + 5}}" style="border:1px solid black;text-align:center;">
                                                <h3><strong>QUOTATIONS&nbsp;COMPARATIVE&nbsp;STATEMENT</strong></h3>
                                            </td>
                                        </tr>
                                        <tr style="background-color:lightblue;">
                                            <td colspan="2" style="border:1px solid black;">
                                                <strong>QCS ID</strong>
                                            </td>
                                            <td colspan="2" style="border:1px solid black;">
                                                {{qcsID > 0 ? qcsID : '-'}}
                                            </td>
                                            <td colspan="{{((ReqReportForExcel.reqItems[0].reqVendors.length)) + 1}}" style="border:1px solid black;">
                                                <strong>RFQ ID:</strong> {{ReqReportForExcel.requirementID}}
                                            </td>
                                        </tr>

                                        <tr style="background-color:lightblue;">
                                            <td colspan="2" style="border:1px solid black;">
                                                <strong><!--QCS No.-->PROJECT NAME</strong>
                                            </td>
                                            <td colspan="2" style="border:1px solid black;">
                                                <label ng-show="!editForm">{{QCSDetails.QCS_CODE}}</label>
                                                <input ng-if="editForm" type="text" class="form-control" ng-model="QCSDetails.QCS_CODE"
                                                       style="margin-top:-5px;margin-bottom:-5px;height:27px;" />
                                            </td>
                                            <td colspan="{{((ReqReportForExcel.reqItems[0].reqVendors.length)) + 1}}" style="border:1px solid black;">
                                                <strong>TITLE:</strong> {{ReqReportForExcel.title}}
                                            </td>
                                        </tr>

                                        <tr style="background-color:lightblue;">
                                            <td colspan="2" style="border:1px solid black;">
                                                <strong><!--UNIT-->PURPOSE OF REQUIREMENT</strong>
                                            </td>
                                            <td colspan="2" style="border:1px solid black;">
                                                <label ng-show="!editForm">{{QCSDetails.UNIT_CODE}}</label>
                                                <input ng-if="editForm" type="text" class="form-control" ng-model="QCSDetails.UNIT_CODE"
                                                       style="margin-top:-5px;margin-bottom:-5px;height:27px;" />
                                            </td>
                                            <td colspan="{{((ReqReportForExcel.reqItems[0].reqVendors.length)) + 1}}" style="border:1px solid black;">
                                                <strong>PR NO:</strong> {{ReqReportForExcel.prCode}}
                                            </td>
                                        </tr>

                                        <tr style="background-color:lightblue;">
                                            <td colspan="2" style="border:1px solid black;">
                                                <strong><!--PO:-->WBS Element</strong>
                                            </td>
                                            <td colspan="2" style="border:1px solid black;">
                                                <label ng-show="!editForm">{{QCSDetails.PO_CODE}}</label>
                                                <input ng-if="editForm" type="text" class="form-control" ng-model="QCSDetails.PO_CODE" style="margin-top:-5px;margin-bottom:-5px;height:27px;" />
                                            </td>
                                            <td colspan="{{((ReqReportForExcel.reqItems[0].reqVendors.length)) + 1}}" style="border:1px solid black;">
                                                <strong>DATE:</strong> {{ReqReportForExcel.currentDate}}
                                            </td>
                                        </tr>

                                        <tr>
                                            <td rowspan="2" style="background-color:lightblue;border:1px solid black;vertical-align:middle">
                                                S.NO
                                            </td>
                                            <td rowspan="2" style="background-color:lightblue;border:1px solid black;vertical-align:middle">
                                                Product Details
                                            </td>
                                            <td rowspan="2" style="background-color:lightblue;border:1px solid black;vertical-align:middle">
                                                Quantity / Units
                                            </td>
                                            <td rowspan="2" style="background-color:lightblue;border:1px solid black;vertical-align:middle">
                                                Make
                                            </td>
                                            <td ng-repeat="vendor in ReqReportForExcel.reqItems[0].reqVendors" style="background-color:lightblue;border:1px solid black;">
                                                <table style="text-align:center;width:100%;">
                                                    <tr>
                                                        <td colspan="4">
                                                            <strong>
                                                                {{vendor.companyName}} ({{vendor.selectedVendorCurrency}})
                                                                <br />

                                                                <small ng-if="vendor.isQuotationRejected == -1">( QP: Not viewed )</small>
                                                                <small ng-if="vendor.isQuotationRejected == 0" style="color:green">( QP: Approved )</small>
                                                                <small ng-if="vendor.isQuotationRejected == 1" style="color:red;">( QP: Rejected )</small>

                                                                <span ng-if="ReqReportForExcel.status != 'UNCONFIRMED' && ReqReportForExcel.status != 'NOTSTARTED' && ReqReportForExcel.status != 'STARTED'">
                                                                    <small ng-if="vendor.isRevQuotationRejected == -1">( NP: Not viewed )</small>
                                                                    <small ng-if="vendor.isRevQuotationRejected == 0" style="color:green">( QP: Approved )</small>
                                                                    <small ng-if="vendor.isRevQuotationRejected == 1" style="color:red;">( QP: Rejected )</small>
                                                                </span>
                                                            </strong>
                                                        </td>
                                                    </tr>
                                                </table>
                                            </td>
                                            <td style="background-color:lightblue;border:1px solid black;">
                                                <table style="text-align:center;width:100%;">
                                                    <tr>
                                                        <td colspan="2" style="min-width:130px;text-align:center;vertical-align:top;padding:0;border-right:1px solid black;">
                                                            <strong>
                                                                &nbsp;
                                                            </strong>
                                                        </td>
                                                        <td colspan="2" style="min-width:130px;text-align:center;vertical-align:top;padding:0;border-right:1px solid black;">
                                                            <strong>
                                                                LPP
                                                            </strong>
                                                        </td>
                                                        <td colspan="2" style="min-width:130px;text-align:center;vertical-align:top;padding:0;">
                                                            <strong>
                                                                SAVINGS
                                                            </strong>
                                                        </td>
                                                    </tr>
                                                </table>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td ng-repeat="vendor in ReqReportForExcel.reqItems[0].reqVendors" style="background-color:lightblue;border:1px solid black;">
                                                <table style="text-align:center;width:100%;">
                                                    <tr>
                                                        <td style="min-width:130px;text-align:center;vertical-align:top;padding:0;border-right:1px solid black;"
                                                            title="QUOTATION UNIT PRICE">
                                                            <strong>
                                                                QP
                                                            </strong>
                                                        </td>
                                                        <td style="min-width:130px;text-align:center;vertical-align:top;padding: 0;border-right:1px solid black;"
                                                            title="NEW UNIT PRICE">
                                                            <strong>
                                                                NP
                                                            </strong>
                                                        </td>
                                                        <td style="min-width:130px;text-align:center;vertical-align:top;padding:0;border-right:1px solid black;">
                                                            <strong>
                                                                TAX (%)
                                                            </strong>
                                                        </td>
                                                        <td style="min-width:130px;text-align:center;vertical-align:top;padding:0;"
                                                            title="TOTAL NEW PRICE = NEW PRICE x QUANTITY">
                                                            <strong>
                                                                TOTAL NP <br /> <small><small>(NP x QTY)</small></small>
                                                            </strong>
                                                        </td>
                                                    </tr>
                                                </table>
                                            </td>
                                            <td style="background-color:lightblue;border:1px solid black;">
                                                <table style="text-align:center;width:100%;">
                                                    <tr>
                                                        <td rowspan="2" style="min-width:130px;text-align:center;vertical-align:top;padding:0;border-right:1px solid black;">
                                                            <strong>
                                                                INDIVIDUAL <br /> L1 PRICE
                                                            </strong>
                                                        </td>
                                                        <td rowspan="2" style="min-width:130px;text-align:center;vertical-align:top;padding: 0;border-right:1px solid black;">
                                                            <strong>
                                                                INDIVIDUAL <br /> L1 NAME
                                                            </strong>
                                                        </td>
                                                        <td rowspan="2" style="min-width:130px;text-align:center;vertical-align:top;padding:0;border-right:1px solid black;">
                                                            <strong>
                                                                LPP (Rs.)
                                                            </strong>
                                                        </td>
                                                        <td rowspan="2" style="min-width:130px;text-align:center;vertical-align:top;padding:0;border-right:1px solid black;">
                                                            <strong>
                                                                PO & DATE
                                                            </strong>
                                                        </td>
                                                        <td rowspan="2" style="min-width:130px;text-align:center;vertical-align:top;padding:0;border-right:1px solid black;">
                                                            <strong>
                                                                LPP vs NEG.
                                                            </strong>
                                                        </td>
                                                        <td rowspan="2" style="min-width:130px;text-align:center;vertical-align:top;padding:0;">
                                                            <strong>
                                                                L2 vs L1
                                                            </strong>
                                                        </td>
                                                    </tr>
                                                </table>
                                            </td>
                                        </tr>
                                        <tr ng-repeat="item in ReqReportForExcel.reqItems">
                                            <td style="border:1px solid black;">
                                                <table style="width:100%">
                                                    <tr>
                                                        <td style="min-width:10px;text-align:center;vertical-align:top;padding:0;"><strong>{{$index + 1}}</strong></td>
                                                    </tr>
                                                </table>
                                            </td>
                                            <td style="border:1px solid black;">
                                                <table style="width:100%">
                                                    <tr>
                                                        <td style="min-width:130px;text-align:left;vertical-align:top;padding:0;"><strong>{{item.productIDorName}}</strong></td>
                                                    </tr>
                                                </table>
                                            </td>
                                            <td style="width:100%;border:1px solid black;">
                                                <table>
                                                    <tr>
                                                        <td style="min-width:130px;text-align:left;vertical-align:top;padding:0;"><strong>{{item.productQuantity}}  {{item.productQuantityIn}}</strong></td>
                                                    </tr>
                                                </table>
                                            </td>
                                            <td style="width:100%;border:1px solid black;">
                                                <table>
                                                    <tr>
                                                        <td style="min-width:130px;text-align:left;vertical-align:top;padding:0;"><strong>{{item.productBrand}}</strong></td>
                                                    </tr>
                                                </table>
                                            </td>

                                            <td ng-repeat="vendor in item.reqVendors" style="border:1px solid black;">
                                                <table style="text-align:center;width:100%;">
                                                    <tr>
                                                        <td style="min-width:130px;text-align:center;vertical-align:top;padding:0;border-right:1px solid black;">
                                                            <strong>
                                                                {{vendor.quotationPrices.unitPrice | number : companyRoundingDecimalSetting}}
                                                            </strong>
                                                        </td>
                                                        <td style="min-width:130px;text-align:center;vertical-align:top;padding: 0;border-right:1px solid black;">
                                                            <strong>
                                                                {{vendor.quotationPrices.revUnitPrice | number : companyRoundingDecimalSetting}}
                                                            </strong>
                                                        </td>
                                                        <td style="min-width:130px;text-align:center;vertical-align:top;padding:0;border-right:1px solid black;">
                                                            <strong>
                                                                {{vendor.quotationPrices.Gst | number : companyRoundingDecimalSetting}}
                                                            </strong>
                                                        </td>
                                                        <td style="min-width:130px;text-align:center;vertical-align:top;padding:0;">
                                                            <strong>
                                                                {{vendor.quotationPrices.revItemPriceWithoutTax | number : companyRoundingDecimalSetting}}
                                                            </strong>
                                                        </td>
                                                    </tr>
                                                </table>
                                            </td>

                                            <td style="background-color:lightblue;border:1px solid black;">
                                                <table style="text-align:center;width:100%;">
                                                    <tr>
                                                        <td style="min-width:130px;text-align:center;vertical-align:top;padding:0;border-right:1px solid black;">
                                                            <strong>
                                                                {{item.ITEM_L1_PRICE | number : companyRoundingDecimalSetting}}
                                                            </strong>
                                                        </td>
                                                        <td style="min-width:130px;text-align:center;vertical-align:top;padding: 0;border-right:1px solid black;">
                                                            <strong>
                                                                {{item.ITEM_L1_COMPANY_NAME}}
                                                            </strong>
                                                        </td>
                                                        <td style="min-width:130px;text-align:center;vertical-align:top;padding:0;border-right:1px solid black;">
                                                            <strong>
                                                                {{item.itemLastPrice | number : companyRoundingDecimalSetting}}
                                                            </strong>
                                                        </td>
                                                        <td style="min-width:130px;text-align:center;vertical-align:top;padding:0;border-right:1px solid black;">
                                                            <strong>
                                                                {{item.I_LLP_DETAILS}}
                                                            </strong>
                                                        </td>
                                                        <td style="min-width:130px;text-align:center;vertical-align:top;padding:0;border-right:1px solid black;">
                                                            <strong>
                                                                <label ng-if="item.itemLastPrice> 0">{{item.itemLastPrice - item.ITEM_L1_PRICE | number : companyRoundingDecimalSetting}}</label>
                                                            </strong>
                                                        </td>
                                                        <td style="min-width:130px;text-align:center;vertical-align:top;padding:0;">
                                                            <strong ng-if="ReqReportForExcel.reqItems[0].reqVendors.length > 1">
                                                                {{item.ITEM_L2_PRICE - item.ITEM_L1_PRICE | number : companyRoundingDecimalSetting}}
                                                            </strong>
                                                            <strong ng-if="ReqReportForExcel.reqItems[0].reqVendors.length <= 1">
                                                                Only one vendor participated.
                                                            </strong>
                                                        </td>
                                                    </tr>
                                                </table>
                                            </td>
                                        </tr>

                                        <tr>
                                            <td colspan="4" style="background-color:darkseagreen;border:1px solid black;text-align:center;">
                                                <!--SUB TOTAL--> TOTAL BASIC
                                            </td>
                                            <td ng-repeat="vendor in ReqReportForExcel.reqItems[0].reqVendors" style="background-color:lightblue;border:1px solid black;">
                                                <table style="text-align:right;width:100%;">
                                                    <tr>
                                                        <td style="min-width:130px;text-align:center;vertical-align:top;padding:0;">
                                                            <strong>

                                                            </strong>
                                                        </td>
                                                        <td style="min-width:130px;text-align:center;vertical-align:top;padding: 0;">
                                                            <strong>

                                                            </strong>
                                                        </td>
                                                        <td style="min-width:130px;text-align:center;vertical-align:top;padding:0;">
                                                            <strong>

                                                            </strong>
                                                        </td>
                                                        <td style="min-width:130px;text-align:center;vertical-align:top;padding:0;">
                                                            <strong>
                                                                {{vendor.revVendorSubTotalWithoutGST | number : companyRoundingDecimalSetting}}
                                                            </strong>
                                                        </td>
                                                    </tr>
                                                </table>
                                            </td>
                                            <td colspan="1" style="background-color:lightblue;border:1px solid black;"></td>
                                        </tr>
                                         <!--<tr>
                                            <td colspan="4" style="background-color:darkseagreen;border:1px solid black;text-align:center;">
                                                DISCOUNTED FINAL PRICE
                                            </td>
                                            <td ng-repeat="vendor in ReqReportForExcel.reqItems[0].reqVendors" style="background-color:lightblue;border:1px solid black;">
                                                <table style="text-align:center;width:100%;">
                                                    <tr>
                                                        <td style="min-width:130px;text-align:center;vertical-align:top;padding:0;">
                                                            <strong>

                                                            </strong>
                                                        </td>
                                                        <td style="min-width:130px;text-align:center;vertical-align:top;padding: 0;">
                                                            <strong>

                                                            </strong>
                                                        </td>
                                                        <td style="min-width:130px;text-align:center;vertical-align:top;padding:0;;">
                                                           
                                                        </td>
                                                        <td style="min-width:130px;text-align:center;vertical-align:top;padding:0;">
                                                            <strong>
                                                                {{calcuateDiscountedPrice(vendor, 1) | number : companyRoundingDecimalSetting}}
                                                                {{vendor.revVendorTotalPrice | number : companyRoundingDecimalSetting}}
                                                            </strong>
                                                        </td>
                                                    </tr>
                                                </table>
                                            </td>
                                            <td colspan="1" style="background-color:lightblue;border:1px solid black;"></td>
                                        </tr>-->
                                         <tr>
                                            <td colspan="4" style="background-color:darkseagreen;border:1px solid black;text-align:center;">
                                                DISCOUNTED FINAL PRICE (%)
                                            </td>
                                            <td ng-repeat="vendor in ReqReportForExcel.reqItems[0].reqVendors" style="background-color:lightblue;border:1px solid black;">
                                                <table style="text-align:center;width:100%;">
                                                    <tr>
                                                        <td style="min-width:130px;text-align:center;vertical-align:top;padding:0;">
                                                            <strong>

                                                            </strong>
                                                        </td>
                                                        <td style="min-width:130px;text-align:center;vertical-align:top;padding: 0;">
                                                            <strong>

                                                            </strong>
                                                        </td>
                                                        <td style="min-width:130px;text-align:center;vertical-align:top;padding:0;;">
                                                           
                                                        </td>
                                                        <td style="min-width:130px;text-align:center;vertical-align:top;padding:0;">
                                                            <strong>
                                                                {{calcuateDiscountedPrice(vendor, 100) | number : companyRoundingDecimalSetting}} %
                                                            </strong>
                                                        </td>
                                                    </tr>
                                                </table>
                                            </td>
                                            <td colspan="1" style="background-color:lightblue;border:1px solid black;"></td>
                                        </tr>
                                        <!--<tr>
                                            <td colspan="4" style="background-color:darkseagreen;border:1px solid black;text-align:center;">
                                                PACKING & FORWARDING
                                            </td>
                                            <td ng-repeat="vendor in ReqReportForExcel.reqItems[0].reqVendors" style="background-color:lightblue;border:1px solid black;">
                                                <table style="text-align:center;width:100%;">
                                                    <tr>
                                                        <td style="min-width:130px;text-align:center;vertical-align:top;padding:0;">
                                                            <strong>

                                                            </strong>
                                                        </td>
                                                        <td style="min-width:130px;text-align:center;vertical-align:top;padding: 0;">
                                                            <strong>

                                                            </strong>
                                                        </td>
                                                        <td style="min-width:130px;text-align:center;vertical-align:top;padding:0;border-right:1px solid black;">
                                                            <strong>
                                                                {{vendor.packingChargesTaxPercentage | number : companyRoundingDecimalSetting}}
                                                            </strong>
                                                        </td>
                                                        <td style="min-width:130px;text-align:center;vertical-align:top;padding:0;">
                                                            <strong>
                                                                {{vendor.revpackingCharges | number : companyRoundingDecimalSetting}}
                                                            </strong>
                                                        </td>
                                                    </tr>
                                                </table>
                                            </td>
                                            <td colspan="1" style="background-color:lightblue;border:1px solid black;"></td>
                                        </tr>-->
                                        <!--<tr>
                                            <td colspan="4" style="background-color:darkseagreen;border:1px solid black;text-align:center;">
                                                FREIGHT
                                            </td>
                                            <td ng-repeat="vendor in ReqReportForExcel.reqItems[0].reqVendors" style="background-color:lightblue;border:1px solid black;">
                                                <table style="text-align:center;width:100%;">
                                                    <tr>
                                                        <td style="min-width:130px;text-align:center;vertical-align:top;padding:0;">
                                                            <strong>

                                                            </strong>
                                                        </td>
                                                        <td style="min-width:130px;text-align:center;vertical-align:top;padding: 0;">
                                                            <strong>

                                                            </strong>
                                                        </td>
                                                        <td style="min-width:130px;text-align:center;vertical-align:top;padding:0;border-right:1px solid black;">
                                                            <strong>
                                                                {{vendor.freightChargesTaxPercentage | number : companyRoundingDecimalSetting}}
                                                            </strong>
                                                        </td>
                                                        <td style="min-width:130px;text-align:center;vertical-align:top;padding:0;">
                                                            <strong>
                                                                {{vendor.revfreightCharges | number : companyRoundingDecimalSetting}}
                                                            </strong>
                                                        </td>
                                                    </tr>
                                                </table>
                                            </td>
                                            <td colspan="1" style="background-color:lightblue;border:1px solid black;"></td>
                                        </tr>-->
                                        <!--<tr>
                                            <td colspan="4" style="background-color:darkseagreen;border:1px solid black;text-align:center;">
                                                INSTALLATION & COMMISSIONING
                                            </td>
                                            <td ng-repeat="vendor in ReqReportForExcel.reqItems[0].reqVendors" style="background-color:lightblue;border:1px solid black;">
                                                <table style="text-align:center;width:100%;">
                                                    <tr>
                                                        <td style="min-width:130px;text-align:center;vertical-align:top;padding:0;">
                                                            <strong>

                                                            </strong>
                                                        </td>
                                                        <td style="min-width:130px;text-align:center;vertical-align:top;padding: 0;">
                                                            <strong>

                                                            </strong>
                                                        </td>
                                                        <td style="min-width:130px;text-align:center;vertical-align:top;padding:0;border-right:1px solid black;">
                                                            <strong>
                                                                {{vendor.installationChargesTaxPercentage | number : companyRoundingDecimalSetting}}
                                                            </strong>
                                                        </td>
                                                        <td style="min-width:130px;text-align:center;vertical-align:top;padding:0;">
                                                            <strong>
                                                                {{vendor.revinstallationCharges | number : companyRoundingDecimalSetting}}
                                                            </strong>
                                                        </td>
                                                    </tr>
                                                </table>
                                            </td>
                                            <td colspan="1" style="background-color:lightblue;border:1px solid black;"></td>
                                        </tr>-->
                                        <tr>
                                            <td colspan="4" style="background-color:darkseagreen;border:1px solid black;text-align:center;">
                                                NOM COST IN INR
                                            </td>
                                            <td ng-repeat="vendor in ReqReportForExcel.reqItems[0].reqVendors" style="background-color:lightblue;border:1px solid black;">
                                                <table style="text-align:center;width:100%;">
                                                    <tr>
                                                        <td style="min-width:130px;text-align:center;vertical-align:top;padding:0;">
                                                            <strong>

                                                            </strong>
                                                        </td>
                                                        <td style="min-width:130px;text-align:center;vertical-align:top;padding: 0;">
                                                            <strong>

                                                            </strong>
                                                        </td>
                                                        <td style="min-width:130px;text-align:center;vertical-align:top;padding:0;">
                                                            <strong>

                                                            </strong>
                                                        </td>
                                                        <td style="min-width:130px;text-align:center;vertical-align:top;padding:0;">
                                                            <strong>
                                                                {{vendor.NOM | number : companyRoundingDecimalSetting}}
                                                            </strong>
                                                        </td>
                                                    </tr>
                                                </table>
                                            </td>
                                            <td colspan="1" style="background-color:lightblue;border:1px solid black;"></td>
                                        </tr>
                                        <tr>
                                            <td colspan="4" style="background-color:darkseagreen;border:1px solid black;text-align:center;">
                                                SGST / IGST / CGST / UTGST
                                            </td>
                                            <td ng-repeat="vendor in ReqReportForExcel.reqItems[0].reqVendors" style="background-color:lightblue;border:1px solid black;">
                                                <table style="text-align:center;width:100%;">
                                                    <tr>
                                                        <td style="min-width:130px;text-align:center;vertical-align:top;padding:0;">
                                                            <strong>

                                                            </strong>
                                                        </td>
                                                        <td style="min-width:130px;text-align:center;vertical-align:top;padding: 0;">
                                                            <strong>

                                                            </strong>
                                                        </td>
                                                        <td style="min-width:130px;text-align:center;vertical-align:top;padding:0;">
                                                            <strong>

                                                            </strong>
                                                        </td>
                                                        <td style="min-width:130px;text-align:center;vertical-align:top;padding:0;">
                                                            <strong>
                                                                {{vendor.totalTAX | number : companyRoundingDecimalSetting}}
                                                            </strong>
                                                        </td>
                                                    </tr>
                                                </table>
                                            </td>
                                            <td colspan="1" style="background-color:lightblue;border:1px solid black;"></td>
                                        </tr>
                                        <tr>
                                            <td colspan="4" style="background-color:darkseagreen;border:1px solid black;text-align:center;">
                                                <!--DELIVERY SCHEDULE-->DELIVERY & COMPLETION
                                            </td>
                                            <td ng-repeat="vendor in ReqReportForExcel.reqItems[0].reqVendors" style="background-color:lightblue;border:1px solid black;">
                                                <table style="text-align:left;width:100%;">
                                                    <tr>
                                                        <td colspan="4" style="min-width:130px;text-align:left;vertical-align:top;padding:0;">
                                                            <strong>
                                                                {{vendor.duration}}
                                                            </strong>
                                                        </td>
                                                    </tr>
                                                </table>
                                            </td>
                                            <td colspan="1" style="background-color:lightblue;border:1px solid black;"></td>
                                        </tr>
                                        <!--<tr>
                                            <td colspan="4" style="background-color:darkseagreen;border:1px solid black;text-align:center;">
                                                INCO TERMS
                                            </td>
                                            <td ng-repeat="vendor in ReqReportForExcel.reqItems[0].reqVendors" style="background-color:lightblue;border:1px solid black;">
                                                <table style="text-align:left;width:100%;">
                                                    <tr>
                                                        <td colspan="4" style="min-width:130px;text-align:left;vertical-align:top;padding:0;">
                                                            <strong>
                                                                {{vendor.INCO_TERMS}}
                                                            </strong>
                                                        </td>
                                                    </tr>
                                                </table>
                                            </td>
                                            <td colspan="1" style="background-color:lightblue;border:1px solid black;"></td>
                                        </tr>-->
                                        <tr>
                                            <td colspan="4" style="background-color:darkseagreen;border:1px solid black;text-align:center;">
                                                <!--WARRANTY--> WARRANTY/GUARANTEE
                                            </td>
                                            <td ng-repeat="vendor in ReqReportForExcel.reqItems[0].reqVendors" style="background-color:lightblue;border:1px solid black;">
                                                <table style="text-align:left;width:100%;">
                                                    <tr>
                                                        <td colspan="4" style="min-width:130px;text-align:left;vertical-align:top;padding:0;">
                                                            <strong>
                                                                {{vendor.warranty}}
                                                            </strong>
                                                        </td>
                                                    </tr>
                                                </table>
                                            </td>
                                            <td colspan="1" style="background-color:lightblue;border:1px solid black;"></td>
                                        </tr>
                                        <tr>
                                            <td colspan="4" style="background-color:darkseagreen;border:1px solid black;text-align:center;">
                                                PAYMENT TERMS
                                            </td>
                                            <td ng-repeat="vendor in ReqReportForExcel.reqItems[0].reqVendors" style="background-color:lightblue;border:1px solid black;">
                                                <table style="text-align:left;width:100%;">
                                                    <tr>
                                                        <td colspan="4" style="min-width:130px;text-align:left;vertical-align:top;padding:0;">
                                                            <strong>
                                                                {{vendor.payment}}
                                                            </strong>
                                                        </td>
                                                    </tr>
                                                </table>
                                            </td>
                                            <td colspan="1" style="background-color:lightblue;border:1px solid black;"></td>
                                        </tr>
                                        <tr>
                                            <td colspan="4" style="background-color:darkseagreen;border:1px solid black;text-align:center;">
                                                ORDERING COST
                                            </td>
                                            <td ng-repeat="vendor in ReqReportForExcel.reqItems[0].reqVendors" style="background-color:lightblue;border:1px solid black;">
                                                <table style="text-align:center;width:100%;">
                                                    <tr>
                                                        <td style="min-width:130px;text-align:center;vertical-align:top;padding:0;">
                                                            <strong>

                                                            </strong>
                                                        </td>
                                                        <td style="min-width:130px;text-align:center;vertical-align:top;padding: 0;">
                                                            <strong>

                                                            </strong>
                                                        </td>
                                                        <td style="min-width:130px;text-align:center;vertical-align:top;padding:0;">
                                                            <strong>

                                                            </strong>
                                                        </td>
                                                        <td style="min-width:130px;text-align:center;vertical-align:top;padding:0;">
                                                            <strong>
                                                                {{vendor.revVendorTotalPrice | number : companyRoundingDecimalSetting}}
                                                            </strong>
                                                        </td>
                                                    </tr>
                                                </table>
                                            </td>
                                            <td colspan="1" style="background-color:lightblue;border:1px solid black;"></td>
                                        </tr>

                                        <tr>
                                            <td colspan="4" style="background-color:lightblue;border:1px solid black;text-align:center;vertical-align:middle;">
                                                <!--RECOMMENDATIONS / JUSTIFICATION--> TECHNICAL COMMENTS
                                            </td>
                                            <td colspan="{{((ReqReportForExcel.reqItems[0].reqVendors.length)) + 1}}" style="background-color:lightblue;border:1px solid black;">
                                                <label ng-if="!editForm">{{QCSDetails.RECOMMENDATIONS}}</label>
                                                <input ng-if="editForm" type="text" class="form-control" ng-model="QCSDetails.RECOMMENDATIONS" />
                                            </td>
                                        </tr>

                                        <tr style="background-color:lightblue;">
                                            <td colspan="2" style="border:1px solid black;">
                                                PREPARED BY - PURCHASE
                                            </td>
                                            <td colspan="1" style="border:1px solid black;">
                                                EAM/TECHNICAL
                                            </td>
                                            <td colspan="1" style="border:1px solid black;">
                                                CHECKED/APPROVED BY - PURCHASE
                                            </td>
                                            <td colspan="1" style="border:1px solid black;text-align:center">
                                                SCM
                                            </td>
                                            <td colspan="{{((ReqReportForExcel.reqItems[0].reqVendors.length)) + 1}}" style="border:1px solid black;text-align:center">
                                                FINANCE
                                            </td>
                                        </tr>
                                        
                                        <tr>
                                            <td colspan="2" rowspan="3" style="border:1px solid black;">
                                                &nbsp;
                                            </td>
                                            <td colspan="2" rowspan="3" style="border:1px solid black;">
                                                &nbsp;
                                            </td>
                                            <td colspan="{{((ReqReportForExcel.reqItems[0].reqVendors.length)) + 1}}" rowspan="3" style="border:1px solid black;">
                                                &nbsp;
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    &nbsp;
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-12" style="font-size:18px;">
                                    <div class="row" ng-if="itemWorkflow.length <= 0 || (itemWorkflow[0].WorkflowTracks && itemWorkflow[0].WorkflowTracks.length <= 0)">
                                        <select ng-style="isErrorworkflowIDStyle" chosen name="workflowType" ng-model="workflowObj.workflowID"
                                                ng-options="wf.workflowID as wf.workflowTitle for wf in workflowList" required class="form-control-dropdown">
                                            <option value="">Select Workflow</option>
                                        </select>
                                        <strong ng-if="!isErrorworkflowID"> Respective Workflow </strong><strong ng-if="isErrorworkflowID"
                                                                                                                 class="text-danger">Respective Workflow*</strong>
                                        <a role="button" ng-click="getWorkflows();" title="Reload workflows">
                                            <i class="fa fa-sync"></i>
                                        </a>
                                    </div>
                                    <div class="row" ng-show="itemWorkflow.length > 0 || itemWorkflow[0].WorkflowTracks || itemWorkflow[0].WorkflowTracks.length > 0">
                                        <select ng-style="isErrorworkflowIDStyle" chosen name="workflowType" ng-model="workflowObj.workflowID"
                                                ng-options="wf.workflowID as wf.workflowTitle for wf in workflowListTemp" required class="form-control-dropdown"
                                                ng-disabled="true">
                                            <option value="">Select Workflow</option>
                                        </select>
                                    </div>
                                </div>
                            </div>

                            <div class="row" ng-repeat="wf in workflowList" ng-if="itemWorkflow.length <= 0 || (itemWorkflow[0].WorkflowTracks && itemWorkflow[0].WorkflowTracks.length <= 0)">
                                <div ng-if="wf.workflowID == workflowObj.workflowID">
                                    <div class="col-md-12 text-center">
                                        <h4>{{wf.workflowTitle}}</h4>
                                    </div>
                                    <div class="col-md-6" ng-repeat="ws in wf.WorkflowStages">
                                        <div class="white-box">
                                            <div class="row">
                                                <div class="col-md-1">
                                                    <h3>{{$index+1}}</h3>
                                                </div>
                                                <div class="col-md-10">
                                                    <span class="top-buffer">
                                                        Department:&nbsp;<strong> {{ws.department.deptCode}}</strong>
                                                        <br />
                                                        Designation: <strong>{{ws.approver.desigCode}}</strong>
                                                    </span>
                                                </div>
                                                <div class="col-md-1">
                                                    <i class="fas fa-arrow-right top-buffer"></i>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row" ng-show="editForm">
                                <div class="col-md-12 text-center">
                                    <button class="btn btn-info" ng-click="SaveQCSDetails();"> Save </button>
                                </div>
                            </div>


                        </div>


                            <fieldset ng-disabled="isSuperUser">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="row">
                                            <div class="col-md-6" ng-repeat="step in itemWorkflow[0].WorkflowTracks track by $index">
                                                <br />
                                                <br />
                                                <div class="row approvalRowHeight">
                                                    <div class="col-md-12">
                                                        <P ng-show="step.status == 'PENDING'" ng-style="step.status == 'APPROVED' && {'color':'#266A2D'} || step.status == 'REJECTED' && {'color':'Red'}">
                                                            <!--<strong> {{step.status + ' By '+' - ' + step.approver.desigCode + ' ' + step.department.deptCode }}</strong>
                                    </br>-->
                                                            <strong> <label style="color:darkorange">{{step.status + ' By ' + ' - ' + step.approverDetails.firstName}}</label>({{step.approver.desigCode + ' ' + step.department.deptCode}}) </strong>
                                                        </P>
                                                        <span ng-show="step.status == 'APPROVED' || step.status == 'REJECTED' || step.status == 'HOLD'" ng-style="step.status == 'APPROVED' && {'color':'#266A2D'} || step.status == 'REJECTED' && {'color':'Red'}">
                                                            <strong>{{step.status + ' By '+' - ' + step.approverDetails.approvedBy}}</strong>
                                                        </span>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-12 list-group-item" href="#"
                                                         ng-style="step.status == 'APPROVED' && {'color':'#266A2D'} || step.status == 'REJECTED' && {'color':'Red'}"
                                                         style="min-height:90px;">
                                                        <div class="row">
                                                            <div class="col-md-1 col-xs-1">
                                                                <h5>{{$index + 1}}. </h5>
                                                            </div>
                                                            <div ng-class="(isApproverDisable($index) == true?'col-md-10 col-xs-11':'col-md-5 col-xs-5')" title="{{step.comments}}">
                                                                <textarea rows="2" cols="50" ng-model="step.comments" ng-disabled="isApproverDisable($index);" placeholder="Comments" type="text" class="form-control fg-input" style="resize: vertical;"></textarea>
                                                                <lable ng-hide="isApproverDisable($index);" class="text-danger">  {{commentsError}} </lable>
                                                            </div>
                                                            <div class="col-md-5 col-xs-5" ng-show="!isApproverDisable($index);">
                                                                <div class="row">
                                                                    <div class="col-md-4 col-xs-4" ng-hide="isSuperUser">
                                                                        <i role="button" ng-click="updateTrack(step, 'HOLD')"><i class="fa fa-stop-circle fa-2x" style="color:brown;" title="Hold" aria-hidden="true"></i></i>
                                                                        <small>Hold</small>
                                                                    </div>

                                                                    <div class="col-md-4 col-xs-4" ng-hide="isSuperUser">
                                                                        <i role="button" ng-click="updateTrack(step, 'APPROVED')"><i class="fa fa-thumbs-up fa-2x" style="color:#266A2D;" title="Approve" aria-hidden="true"></i></i>
                                                                        <small>Approve</small>
                                                                    </div>

                                                                    <div class="col-md-4 col-xs-4" ng-hide="isSuperUser">
                                                                        <i role="button" ng-click="updateTrack(step, 'REJECTED')"><i class="fa fa-thumbs-down fa-2x" style="color:red;" title="Reject" aria-hidden="true"></i></i>
                                                                        <small>Reject</small>
                                                                    </div>

                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div style='border-bottom:1px solid #ccc;'></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    &nbsp;
                                </div>
                            </fieldset>


                        </div>
                </div>
            </div>
        </div>
    </div>
</div>
<footer id="footer" data-ng-include src="'template/footer.html'"></footer>