<div data-ng-controller="formCtrl">
    <div class="block-header">
        <h2>Add New Requirement</h2>
    </div>

    <div class="row bs-wizard" style="border-bottom:0;" ng-show="pageNo == 1">
        <div class="col-xs-3 bs-wizard-step active">
            <div class="text-center bs-wizard-stepnum">Step 1</div>
            <div class="progress"><div class="progress-bar"></div></div>
            <div href="#" class="bs-wizard-dot" ng-disabled="true"></div>
             <div class="bs-wizard-info text-center">Requirement Specifications.</div>
        </div>
        <div class="col-xs-3 bs-wizard-step disabled">
            <div class="text-center bs-wizard-stepnum">Step 2</div>
            <div class="progress"><div class="progress-bar"></div></div>
            <div href="#" class="bs-wizard-dot" ng-disabled="true"></div>
            <div class="bs-wizard-info text-center">Delivery & Payment Terms.</div>            
        </div>
        <div class="col-xs-3 bs-wizard-step disabled">
            <div class="text-center bs-wizard-stepnum">Step 3</div>
            <div class="progress"><div class="progress-bar"></div></div>
            <div href="#" class="bs-wizard-dot" ng-disabled="true"></div>
            <div class="bs-wizard-info text-center">Transaction Configuration.</div>
        </div>
        <div class="col-xs-3 bs-wizard-step disabled">
            <div class="text-center bs-wizard-stepnum">Step 4</div>
            <div class="progress"><div class="progress-bar"></div></div>
            <div href="#" class="bs-wizard-dot" ng-disabled="true"></div>
            <div class="bs-wizard-info text-center">Choose vendors.</div>
        </div>
    </div>

    <div class="row bs-wizard" style="border-bottom:0;" ng-show="pageNo == 2">
        <div class="col-xs-3 bs-wizard-step complete">
            <div class="text-center bs-wizard-stepnum">Step 1</div>
            <div class="progress"><div class="progress-bar"></div></div>
            <div href="#" class="bs-wizard-dot"></div>
            <div class="bs-wizard-info text-center">Requirement Specifications.</div>
        </div>
        <div class="col-xs-3 bs-wizard-step active">
            <div class="text-center bs-wizard-stepnum">Step 2</div>
            <div class="progress"><div class="progress-bar"></div></div>
            <div href="#" class="bs-wizard-dot"></div>
            <div class="bs-wizard-info text-center">Delivery & Payment Terms.</div>
        </div>
        <div class="col-xs-3 bs-wizard-step disabled">
            <div class="text-center bs-wizard-stepnum">Step 3</div>
            <div class="progress"><div class="progress-bar"></div></div>
            <div href="#" class="bs-wizard-dot"></div>
            <div class="bs-wizard-info text-center">Transaction Configuration.</div>
        </div>
        <div class="col-xs-3 bs-wizard-step disabled">
            <div class="text-center bs-wizard-stepnum">Step 4</div>
            <div class="progress"><div class="progress-bar"></div></div>
            <div href="#" class="bs-wizard-dot"></div>
            <div class="bs-wizard-info text-center">Choose vendors.</div>
        </div>
    </div>

    <div class="row bs-wizard" style="border-bottom:0;" ng-show="pageNo == 3">
        <div class="col-xs-3 bs-wizard-step complete">
            <div class="text-center bs-wizard-stepnum">Step 1</div>
            <div class="progress"><div class="progress-bar"></div></div>
            <div href="#" class="bs-wizard-dot"></div>
            <div class="bs-wizard-info text-center">Requirement Specifications.</div>
        </div>
        <div class="col-xs-3 bs-wizard-step complete">
            <div class="text-center bs-wizard-stepnum">Step 2</div>
            <div class="progress"><div class="progress-bar"></div></div>
            <div href="#" class="bs-wizard-dot"></div>
            <div class="bs-wizard-info text-center">Delivery & Payment Terms.</div>
        </div>
        <div class="col-xs-3 bs-wizard-step active">
            <div class="text-center bs-wizard-stepnum">Step 3</div>
            <div class="progress"><div class="progress-bar"></div></div>
            <div href="#" class="bs-wizard-dot"></div>
            <div class="bs-wizard-info text-center">Transaction Configuration.</div>
        </div>
        <div class="col-xs-3 bs-wizard-step disabled">
            <div class="text-center bs-wizard-stepnum">Step 4</div>
            <div class="progress"><div class="progress-bar"></div></div>
            <div href="#" class="bs-wizard-dot"></div>
            <div class="bs-wizard-info text-center">Choose vendors.</div>
        </div>
    </div>

    <div class="row bs-wizard" style="border-bottom:0;" ng-show="pageNo == 4">
        <div class="col-xs-3 bs-wizard-step complete">
            <div class="text-center bs-wizard-stepnum">Step 1</div>
            <div class="progress"><div class="progress-bar"></div></div>
            <div href="#" class="bs-wizard-dot"></div>
            <div class="bs-wizard-info text-center">Requirement Specifications.</div>
        </div>
        <div class="col-xs-3 bs-wizard-step complete">
            <div class="text-center bs-wizard-stepnum">Step 2</div>
            <div class="progress"><div class="progress-bar"></div></div>
            <div href="#" class="bs-wizard-dot"></div>
            <div class="bs-wizard-info text-center">Delivery & Payment Terms.</div>
        </div>
        <div class="col-xs-3 bs-wizard-step complete">
            <div class="text-center bs-wizard-stepnum">Step 3</div>
            <div class="progress"><div class="progress-bar"></div></div>
            <div href="#" class="bs-wizard-dot"></div>
            <div class="bs-wizard-info text-center">Transaction Configuration.</div>
        </div>
        <div class="col-xs-3 bs-wizard-step active">
            <div class="text-center bs-wizard-stepnum">Step 4</div>
            <div class="progress"><div class="progress-bar"></div></div>
            <div href="#" class="bs-wizard-dot"></div>
            <div class="bs-wizard-info text-center">Choose vendors.</div>
        </div>
    </div>

    <form class="requirementForm" name="requirementForm">
        <!--\\\\\\\\\\\\\\\\\\\\\\\\
        ========== PAGE 1 =======
        \\\\\\\\\\\\\\\\\\\\\\\\\-->
        <div class="card" ng-show="pageNo == 1">
            <div class="card-header">
                <div class="row">
                    <div class="form-group col-sm-4 fg-float">
                        <h2>Requirement Specifications <small>Please detail the specifications of your requirement here.</small></h2>
                    </div>

                    <div class="form-group col-sm-5 m-b-30 fg-float" ng-hide="true">
                        <div class="fg-line input-field " ng-class="{'fg-toggled': formRequest.indentID > 0}">
                            <select ng-model="formRequest.indentID" ng-change="changeIndent(indent.indID);" class="form-control" data-placeholder="Select INDENT" id="urgency">
                                <option ng-selected="formRequest.indentID == indent.indID" value="{{indent.indID}}" ng-repeat="indent in indentList">{{indent.indNo}}</option>
                            </select>
                            <label class="selectfield fg-label" for="category">Select Resptive INDENT</label>
                        </div>
                    </div>

                    <div class="pull-right">
                        <div class="pull-right">
                            <button type="submit" ng-click="nextpage(1)" class="btn btn-info btn-file m-r-10 btn-new-look">Next </button>
                        </div>
                        <h5 ng-if="!isEdit && showFreeCreditsMsg && 1 == 2"><b>Your balance credits: {{userDetails.credits}}.</b></h5>
                        <h5 ng-if="!isEdit && showNoFreeCreditsMsg && 1 == 2"><b>No more credits available the charges for this transaction would be on the savings made.</b></h5>
                    </div>
                </div>
            </div>
            <div class="card-body card-padding ">

                <div class="form-group fg-float">
                    <div class="fg-line input-field" ng-class="{'fg-toggled': isEdit===true}">
                        <input ng-model="formRequest.title" ng-change="GetCompanyLeads(formRequest.title)" id="title" name="title" type="text" class="form-control fg-input fg-toggled">
                        <label class="fg-label" for="Title">Title</label>
                    </div>
                    <div ng-show="titleValidation">
                        <div class="help-block error logininput" ng-show="titleValidation">Please enter Title</div>
                    </div>
                </div>

                <div class="form-group fg-float" ng-hide="true">
                    <div class="fg-line input-field">
                        <div class="toggle-switch" ng-show="!isEdit">
                            <input id="forwardBidding" ng-model="formRequest.isForwardBidding" type="checkbox" hidden="hidden" />
                            <label for="forwardBidding" class="ts-helper"></label>
                            <label for="forwardBidding" class="fg-label">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Forward Bidding</label>
                        </div>
                        <div class="toggle-switch" ng-show="isEdit">
                            <dl class="dl-horizontal">
                                <dt>Forward Bidding</dt>
                                <dd>{{ formRequest.isForwardBidding ? 'Yes' : 'No' }}</dd>
                            </dl>
                        </div>
                    </div>
                </div>

                


                <div class="row">
                    <div class="col-md-12 tilesBackground  z-depth-1">
                        <h4>Similar Negotiations 
                        <button class="btn btn-success waves-effect" ng-if="!showSimilarNegotiations" ng-click="showSimilarNegotiationsButton(true, formRequest.title)">Show</button>
                        <button class="btn btn-info btn-file m-r-10 btn-new-look" ng-if="showSimilarNegotiations" ng-click="showSimilarNegotiationsButton(false, formRequest.title)">Hide</button></h4>
                        <div>
                            <mini-items-company-leads ng-repeat="item in CompanyLeads" item="item" timeleft="item.title"></mini-items-company-leads>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <div class="form-group fg-float col-sm-6 m-b-30 col-md-4">
                        <label ng-hide="true">
                            <input type="radio" ng-model="formRequest.isTabular" ng-value='true'>
                            Item wise Requirement
                        </label>
                        <label ng-hide="true">
                            <input type="radio" ng-model="formRequest.isTabular" ng-value='false'>
                            Descriptive Requirement
                        </label>
                        <h5 class="help-block error logininput" ng-show="tableValidation && formRequest.isTabular">Please enter Valid Data in Table</h5>
                    </div>
                    <div ng-if="formRequest.isTabular" class="col-md-2 text-right">
                        <input ng-hide="true" ng-click="exportItemsToExcel()" type="button" value="Export" class='btn-info' />
                    </div>
                    <div ng-if="formRequest.isTabular" class="col-md-8 text-right">
                        <input ng-click="exportItemsToExcel()" type="button" value="Export" class='btn-info' />
                        Upload Multiple item via Excel(only xlsx):                        
                        <div class="fileinput fileinput-new" data-provides="fileinput">
                            <span class="btn btn-info btn-file m-r-10">
                                <span class="fileinput-new">Upload Excel</span>
                                <span class="fileinput-exists">Edit</span>
                                <input type="file" accept=".xlsx" id="itemsAttachment" itemid="itemsAttachment" ng-file-select-items="onFileSelect($files)" />
                            </span>
                            <span class="fileinput-filename"></span>
                            <!--<a ng-hide="isEdit" href="#" class="close fileinput-exists" data-dismiss="fileinput">&times;</a><a target="_blank " class="" href="https://prm360.com/services/templateattachments/REquirementDetails.xlsx?sessionid={{sessionid}}"><strong>Download Excel Template</strong></a>-->
                        </div>
                    </div>                    
                </div>
                <div class="form-group fg-float bottom-buffer" ng-if="!formRequest.isTabular">
                    <div class="fg-line input-field" ng-class="{'fg-toggled': isEdit===true}">
                        <textarea ng-model="formRequest.description" id="description" name="description" rows="3" style="resize: vertical;" class="form-control fg-input"></textarea>
                        <label class="fg-label">Description</label>
                    </div>
                    <div ng-show="descriptionValidation">
                        <div class="help-block error logininput" ng-show="descriptionValidation">Please enter Description</div>
                    </div>
                </div>
                <div class="form-group fg-float" ng-if="!formRequest.isTabular">
                    <div class="fg-line input-field" ng-class="{'fg-toggled': isEdit===true}">
                        <input ng-model="formRequest.reqComments" id="reqComments" name="reqComments" type="text" class="form-control fg-input fg-toggled">
                        <label class="fg-label" for="Title">Comments</label>
                    </div>
                </div>

                <div ng-if="formRequest.isTabular">
                    <table class="table table-hover table-responsive z-depth-1 clear-both" style="background-color:#f5f5f5">
                        <thead>
                            <tr style="font-weight: bold">
                                <td style="width:20%">Product Name</td>
                                <td style="width:10%">HSN Code<br/>Product No</td>
                                <td style="width:20%">Description</td>
                                <td style="width:5%">Qty</td>
                                <td style="width:5%">Qty Units (UOM)</td>
                                <td style="width:10%">Preferred Brand</td>
                                <td style="width:10%">Other Brands</td>
                                <td style="width:3%">File</td>
                                <td style="width:2%">Delete</td>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="product in formRequest.listRequirementItems">
                                <td>
                                    <input type="text" ng-model="product.productIDorName" required name="productIDorName" id="productIDorName" class="form-control fg-input">
                                </td>
                                <td>
                                    <input type="text" ng-model="product.productNo" name="productNo" id="productNo" class="form-control fg-input">
                                </td>
                                <td>
                                    <textarea ng-model="product.productDescription" name="productDescription" rows="2" id="productDescription" class="fg-input form-control " style="resize: vertical;"></textarea>
                                </td>
                                <td>
                                    <input type="number" ng-model="product.productQuantity" required name="productQuantity" id="productQuantity" class="form-control fg-input">
                                </td>
                                <td>
                                    <input type="text" ng-model="product.productQuantityIn" required name="productQuantityIn" id="productQuantityIn" class="form-control fg-input">
                                </td>
                                <td>
                                    <input type="text" ng-model="product.productBrand" name="productBrand" id="productBrand" class="form-control fg-input">
                                </td>
                                <td>
                                    <input type="text" ng-model="product.othersBrands" name="othersBrands" id="othersBrands" class="form-control fg-input">
                                </td>
                                <td>
                                    <h5 ng-if="product.productImageID"><a target="_blank" href="FileDownload.aspx?attachid={{product.productImageID}}&sessionid={{sessionid}}">Download</a></h5>
                                    <div class="fileinput fileinput-new" data-provides="fileinput">
                                        <span class="btn btn-info btn-file m-r-10">
                                            <span class="fileinput-new">Img</span>
                                            <span class="fileinput-exists">Edit</span>
                                            <input type="file" accept=".pdf,.xlsx,.xls,.txt,.jpeg,.png,.jpg" id="{{product.productSNo}}" itemid="{{product.productSNo}}" ng-file-select-items="onFileSelect($files)" />
                                        </span>
                                        <span class="fileinput-filename addreqllipsis"></span>
                                        <a href="#" class="close fileinput-exists" data-dismiss="fileinput">&times;</a>
                                    </div>
                                </td>
                                <td>
                                    <span class="btn btn-info" ng-click="deleteItem(product.productSNo)">x</span>
                                </td>
                            </tr>
                        </tbody>

                    </table>

                    <div class="card-body card-padding">
                        <div class="row col-md-12">
                            <div class="col-md-1">
                                <span class="btn btn-info" ng-click="AddItem()">Add Item</span>
                            </div>
                        </div>
                    </div>

                    <div class="card-body card-padding">

                        <div class="row">
                            <div class="form-group fg-float">
                                <div class="fg-line input-field" ng-class="{'fg-toggled': isEdit===true}">
                                    <input ng-model="formRequest.reqComments" id="reqComments" name="reqComments" type="text" class="form-control fg-input fg-toggled">
                                    <label class="fg-label" for="Title">Comments</label>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>

            <div class="card">
                <div class="card-header p-t-0">
                    <h2>Requirement Attachments <small>Please attach any documents pertaining to your requirement.</small></h2>
                </div>

                <div class="card-body card-padding">
                    <div class="row">
                        <div class="col-sm-4">
                            <div class="fileinput fileinput-new" data-provides="fileinput">
                                <span class="btn btn-info btn-file m-r-10  btn-new-look">
                                    <span class="fileinput-new">Select file</span>
                                    <span class="fileinput-exists">Change</span>
                                    <input type="file" accept=".pdf,.xlsx,.xls,.txt,.jpeg,.png,.jpg" id="attachement" ng-file-select="onFileSelect($files)" />
                                </span>
                                <span class="fileinput-filename"></span>
                                <a href="#" class="close fileinput-exists" data-dismiss="fileinput">&times;</a>
                            </div>
                            <div ng-show="requirementAttachement">
                                <div class="help-block error logininput" ng-show="requirementAttachement">Please attache requirement file</div>
                            </div>
                        </div>


                        <div>
                            <span class="btn btn-info" ng-click="deleteAttachment(formRequest.requirementID)" ng-if="isEdit && formRequest.attFile!=''">Delete Attachment</span>
                        </div>
                    </div>
                </div>

            </div>

        </div>

        <div class="card" ng-show="pageNo == 1 && isRequirementPosted == 0 && formRequest.auctionVendors.length == 0">
            <div class="col-xs-12 text-center">
                <button ng-click="postRequest(0, 1, false)" class="btn btn-info btn-file m-r-10  btn-new-look">Save as Draft<span><img id="mySpinner" ng-show="postRequestLoding == true" align="middle" src="img/AcadsLoding.gif" /></span></button>
            </div>
        </div>
        <!--\\\\\\\\\\\\\\\\\\\\\\\\
        ========== PAGE 2 =======
        \\\\\\\\\\\\\\\\\\\\\\\\\-->

        <div class="card" ng-show="pageNo == 2" readonly="pageNo == 5">
            <div class="card-header">
                <div class="pull-right">
                    <button type="submit" ng-click="previouspage()" class="btn btn-info btn-file  btn-new-look m-r-10"> Back </button>
                    <button type="submit" ng-click="nextpage(2)" class="btn btn-info  btn-new-look btn-file m-r-10"> Next </button>
                </div>
                <h2> Delivery & Payment Terms <small>Please specify Your Payment and Delivery Timelines.</small></h2>
            </div>
            <div class="card-body card-padding">
                <div class="row">

                    <div class="col-md-12">
                        <div class="form-group fg-float col-sm-12 m-b-30">
                            <div class="fg-line" ng-class="{'fg-toggled': isEdit===true}">
                                <textarea type="text" ng-model="formRequest.deliveryLocation" name="deliveryLocation" rows="2" id="deliveryLocation" class="form-control fg-input"></textarea>
                                <label class="fg-label">{{ formRequest.isForwardBidding ? 'Pick-up Location' : 'Delivery Location' }}</label>
                            </div>
                            <div ng-show="deliveryLocationValidation">
                                <div class="help-block error logininput" ng-show="deliveryLocationValidation">Please enter Delivery Location</div>
                            </div>
                        </div>
                    </div>




                    <div class="col-md-6">

                        <div class="form-group fg-float col-md-12">
                            <div class="fg-line" ng-class="{'fg-toggled': (isEdit===true)}">
                                <div class="fg-line">
                                    <!--moment-picker="formRequest.deliveryTime" format="DD-MM-YYYY"-->
                                    <!--<input name="deliveryTimeName" id="deliveryTime" class="form-control" placeholder="Select a date" ng-model="formRequest.deliveryTime" ng-model-options="{ updateOn: 'blur' }">-->
                                    <textarea type="text" ng-model="formRequest.deliveryTime" name="deliveryTimeName" id="deliveryTime" rows="2" style="resize: vertical;" class="form-control fg-input"></textarea>
                                    <label class="fg-label">Delivery Terms</label>
                                </div>
                                <div ng-show="deliveryTimeValidation">
                                    <div class="help-block error logininput" ng-show="deliveryTimeValidation">Please enter Delivery Terms</div>
                                </div>
                            </div>
                        </div>

                        <!--<div class="col-md-6">

                            
                            <label class="col-md-2">
                                info
                            </label>


                            <label class="col-md-1">
                                <input type="radio" ng-model="deliveryRadio" name="deliveryType" ng-value="true" ng-click="adddeliveryvalue(deliveryObj);">
                                Yes
                            </label>
                            <label class="col-md-1">
                                <input type="radio" ng-model="deliveryRadio" name="deliveryType" ng-value="false" ng-click="resetdelivery()">
                                No
                            </label>

                            <label class="col-md-2">
                                <label role="button" class="text-primary" ng-if="deliveryRadio" ng-click="adddeliveryvalue();">Term +</label><br /><br />
                            </label>


                            

                        </div>-->

                        

                        <table class="pull-left table table-vmiddle quotes_table table-hover table-responsive z-depth-1 clear-both">
                            <tr ng-if="deliveryRadio" class="dl-horizontal">
                                <th> Delivey % </th>
                                <th>  </th>
                                <th> <small>th </small>Day </th>
                                <th>  </th>
                                <th> Delete </th>
                            </tr>

                            <tr ng-if="deliveryRadio" ng-repeat="delivery in deliveryList track by $index">
                                <td><textarea type="text" ng-model="delivery.reqTermsPercent" name="deliveryTerms" id="deliveryTerms" rows="1" class="form-control fg-input"></textarea></td>&nbsp;&nbsp;&nbsp;
                                <td></td>
                                <td><textarea type="text" ng-model="delivery.reqTermsDays" name="deliveryTerms" id="deliveryTerms" rows="1" class="form-control fg-input"></textarea></td>&nbsp;&nbsp;&nbsp;&nbsp;
                                <td></td>
                                <td><a role="button" class="zmdi zmdi-delete zmdi-hc-2x" ng-click="deldeliveryvalue($index, delivery.reqTermsID);"></a></td>
                            </tr>
                        </table>
                    </div>
                        




                        <div class="col-md-6">

                            <div class="form-group fg-float col-md-12">
                                <div class="fg-line" ng-class="{'fg-toggled': isEdit===true}">
                                    
                                    <textarea type="text" ng-model="formRequest.paymentTerms" name="paymentTerms" id="paymentTerms" rows="2" style="resize: vertical;" class="form-control fg-input"></textarea>
                                    <label class="fg-label">Payment Terms</label>
                                </div>
                                <div ng-show="paymentTermsValidation">
                                    <div class="help-block error logininput" ng-show="paymentTermsValidation">Please enter Payment Terms</div>
                                </div>
                            </div>

                            <!--<div class="col-md-6">

                                <label class="col-md-2">
                                    info
                                </label>

                                <label class="col-md-1">
                                    <input type="radio" ng-model="paymentRadio" name="paymentType" ng-value="true" ng-click="addpaymentvalue();">
                                    Yes
                                </label>
                                <label class="col-md-1">
                                    <input type="radio" ng-model="paymentRadio" name="paymentType" ng-value="false" ng-click="resetpayment()">
                                    No
                                </label>

                                <label class="col-md-2">
                                    <label role="button" class="text-primary" ng-if="paymentRadio" ng-click="addpaymentvalue();">Term +</label><br /><br />
                                </label>

                            </div>-->

                            

                            <table class="pull-left table table-vmiddle quotes_table table-hover table-responsive z-depth-1 clear-both">
                                <tr ng-if="paymentRadio">
                                    <th> Credit % </th>
                                    <th>  </th>
                                    <th> <small> th </small> Day </th>
                                    <th>  </th>
                                    <th> Type </th>
                                    <th>  </th>
                                    <th> Delete </th>
                                </tr>
                                <tr ng-if="paymentRadio" ng-repeat="list in paymentlist track by $index">
                                    <td><textarea type="number" ng-model="list.reqTermsPercent" name="paymentTerms" id="paymentTerms" rows="1" class="form-control fg-input"></textarea></td>
                                    <td></td>
                                    <td><textarea type="number" ng-model="list.reqTermsDays" name="paymentTerms" id="paymentTerms" rows="1" class="form-control fg-input"></textarea></td>
                                    <td></td>
                                    <td>
                                        <span ng-if="list.reqTermsDays > 0 || list.reqTermsDays < 0">
                                            <input ng-disabled="list.paymentType == '-'" type="radio" ng-model="list.paymentType" name="{{$index}}" id="{{$index}}" ng-value="'-'">Advance
                                            <input ng-disabled="list.paymentType == '+'" type="radio" ng-model="list.paymentType" name="{{$index}}" id="{{$index}}" ng-value="'+'">Post
                                        </span>
                                        <span ng-if="list.reqTermsDays == 0 || list.reqTermsDays == undefined">
                                            On Delivery
                                        </span>
                                    </td>
                                    <td></td>
                                    <td><a role="button" class="zmdi zmdi-delete zmdi-hc-2x" ng-click="delpaymentvalue($index, list.reqTermsID);"></a></td>
                                </tr>
                            </table>
                        </div>



                        

                    </div> 

               
                <div class="row">
                    <!--<div class="form-group fg-float col-sm-6 m-b-30">
                    <div class="fg-line" ng-class="{'fg-toggled': (isEdit===true || formRequest.deliveryTime)}">
                        <input type="text" ng-model="formRequest.deliveryTime" name="deliveryTime" id="deliveryTime" datetime-picker date-format="dd-MM-yyyy" date-only class="form-control fg-input" />
                        <label class="fg-label">Delivery Date</label>
                    </div>
                    <div ng-show="deliveryTimeValidation">
                        <div class="help-block error logininput" ng-show="deliveryTimeValidation">Please enter Delivery Time</div>
                    </div>
                  </div>-->
                    <div class="text-center col-sm-3" ng-if="formRequest.isForwardBidding">
                        
                    </div>

                    <div class="text-center col-sm-3" ng-if="formRequest.isForwardBidding">
                        <div class="form-group fg-float  m-b-30">
                            <div class="fg-line fg-toggled" ng-class="{'fg-toggled': (isEdit===true || formRequest.fwdTaxes)}">
                                <div>
                                    <!--moment-picker="formRequest.deliveryTime" format="DD-MM-YYYY"-->
                                    <input name="InspectionTimelines" id="InspectionTimelines" class="form-control" ng-model="formRequest.fwdTaxes" ng-model-options="{ updateOn: 'blur' }">
                                </div>
                                <div ng-show="fwdTaxesValidation">
                                    <div class="help-block error logininput" ng-show="fwdTaxes">Please enter taxes</div>
                                </div>
                                <label class="fg-label">Taxes</label>
                            </div>
                        </div>
                    </div>


                    <div class="form-group fg-float col-sm-6 m-b-30">                        
                        <div class="col-sm-3">
                            Departments: 
                            <div class="row" ng-if="departmentsValidation">
                                <h5 class="help-block error logininput" ng-if="departmentsValidation">Please Select Departments</h5>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            
                            <input type="checkbox" ng-model="noDepartments" ng-change="noDepartmentsFunction('NA');">&nbsp;&nbsp;No Departments</input>
                            <div ng-repeat="reqDepartment in reqDepartments">
                                <input type="checkbox" ng-model="reqDepartment.isValid" ng-change="noDepartmentsFunction('DEPARTMENT');">&nbsp;&nbsp;{{reqDepartment.companyDepartments.deptCode}}</input>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>

        <div class="card" ng-show="pageNo == 2 && isRequirementPosted == 0 && formRequest.auctionVendors.length == 0">
            <div class="col-xs-12 text-center">
                <button ng-click="postRequest(0,2, false)" class="btn btn-info btn-file m-r-10  btn-new-look">Save as Draft<span><img id="mySpinner" ng-show="postRequestLoding == true" align="middle" src="img/AcadsLoding.gif" /></span></button>
            </div>
        </div>
        <!--\\\\\\\\\\\\\\\\\\\\\\\\
        ========== PAGE 3 =======
        \\\\\\\\\\\\\\\\\\\\\\\\\-->

        <div class="card" ng-show="pageNo == 3" readonly="pageNo == 5">
            <div class="card-header">
                <div class="pull-right">
                    <button type="submit" ng-click="previouspage()" class="btn btn-info btn-file m-r-10  btn-new-look"> Back </button>
                    <button type="submit" ng-click="nextpage(3)" class="btn btn-info btn-file  btn-new-look m-r-10"> Next </button>
                </div>
                <h2> Transaction Configuration <small>Please Update the Configuration details.</small></h2>
            </div>
            <div class="card-body card-padding">
                <div class="row">
                    <div class="form-group col-sm-3 m-b-30 fg-float">
                        <div class="fg-line input-field " ng-class="{'fg-toggled': isEdit===true}">
                            <select ng-model="formRequest.urgency" class="form-control" data-placeholder="Select an urgency..." class="urgency" id="urgency">
                                <option value="Critical (Will be Closed Today)">Critical (Will be Closed Today)</option>
                                <option value="High (Will be Closed in 2 Days)">High (Will be Closed in 2 Days)</option>
                                <option value="Medium (Will be Closed in 5 Days)">Medium (Will be Closed in 5 Days)</option>
                                <option value="Low (Will Take 10-15 Days Time)">Low (Will Take 10-15 Days)</option>
                            </select>
                            <label class="selectfield fg-label" for="category">Urgency</label>
                        </div>
                        <div ng-show="urgencyValidation">
                            <div class="help-block error logininput" ng-show="urgencyValidation">Please select Urgency</div>
                        </div>
                    </div>



                    <div class="form-group col-sm-1 m-b-30  fg-float">
                        <div class="fg-line input-field" ng-class="{'fg-toggled': true===true}">
                            <select data-placeholder="Select a Currency..." name="currency" ng-model="selectedCurrency" ng-options="currency.value for currency in currencies" class="form-control"></select>
                            <label class="fg-label" for="currency">Currency</label>
                        </div>
                        <div ng-show="selectedCurrencyValidation">
                            <div class="help-block error logininput" ng-show="selectedCurrencyValidation">Please select Currency</div>
                        </div>
                    </div>


                    <!--<div class="form-group fg-float col-sm-3 m-b-30">
                        <div class="fg-line" ng-class="{'fg-toggled': (isEdit===true || formRequest.quotationFreezTime)}">
                            <input type="text" ng-model="formRequest.quotationFreezTime" name="quotationFreezTime" id="quotationFreezTime" datetime-picker date-format="dd-MM-yyyy HH:mm" class="form-control fg-input" />
                            <label class="fg-label">Quotation Freeze Time</label>
                        </div>
                        <div class="fg-line fg-toggled">
                            <div moment-picker="startTime" format="DD-MM-YYYY HH:mm">
                                <input name="quotationFreezTime" id="startTimeDate" class="form-control" placeholder="Select a date" ng-model="startTime" ng-model-options="{ updateOn: 'blur' }" required>
                            </div>
                        </div>

                        <div ng-show="quotationFreezTimeValidation">
                            <div class="help-block error logininput" ng-show="quotationFreezTimeValidation">Please enter Quotation Freeze Time</div>
                        </div>
                    </div>-->

                    <div class="text-center col-sm-2 fltleft padding0">
                        <div class="form-group fg-float  m-b-30">
                            <div class="fg-line fg-toggled" ng-class="{'fg-toggled': (isEdit===true || formRequest.quotationFreezTime)}">
                                <div moment-picker="formRequest.quotationFreezTime" format="DD-MM-YYYY HH:mm">
                                    <input name="quotationFreezTimeName" id="quotationFreezTime" class="form-control" placeholder="Select a date" ng-model="formRequest.quotationFreezTime" ng-model-options="{ updateOn: 'blur' }">
                                </div>
                                <div ng-show="quotationFreezTimeValidation">
                                    <div class="help-block error logininput" ng-show="quotationFreezTimeValidation">Please enter Quotation Freeze Time</div>
                                </div>
                                <label class="fg-label">Quotation Freeze Time</label>
                            </div>
                        </div>                        
                    </div>

                    <div class="form-group fg-float col-sm-2 m-b-30 top-half-buffer">
                        <div class="fg-line" ng-class="{'fg-toggled': isEdit===true}">
                            <input type="number" ng-model="formRequest.noOfQuotationReminders" name="noOfQuotationReminders" id="noOfQuotationReminders" class="form-control" />
                            <label class="fg-label">No.of Reminders (Max 5)</label>
                        </div>
                        <div ng-show="noOfQuotationRemindersValidation">
                            <div class="help-block error logininput" ng-show="noOfQuotationRemindersValidation">Please enter valid No.of Reminders</div>
                        </div>
                    </div>

                    <div class="form-group fg-float col-sm-2 m-b-30 top-half-buffer">
                        <div class="fg-line" ng-class="{'fg-toggled': isEdit===true}">
                            <input type="number" ng-model="formRequest.remindersTimeInterval" name="remindersTimeInterval" id="remindersTimeInterval" class="form-control" />
                            <label class="fg-label">Time Intervel (in Hours)</label>
                        </div>
                        <div ng-show="remindersTimeIntervalValidation">
                            <div class="help-block error logininput" ng-show="remindersTimeIntervalValidation">Please enter valid Time Intervel</div>
                        </div>
                    </div>


                    <div class="text-center col-sm-2 fltleft padding0">
                        <div class="form-group fg-float  m-b-30">
                            <div class="fg-line fg-toggled" ng-class="{'fg-toggled': (isEdit===true || formRequest.expStartTime)}">
                                <div moment-picker="formRequest.expStartTime" format="DD-MM-YYYY HH:mm">
                                    <input name="expStartTimeName" id="expStartTime" class="form-control" placeholder="Select a date" ng-model="formRequest.expStartTime" ng-model-options="{ updateOn: 'blur' }">
                                </div>
                                <div ng-show="expStartTime">
                                    <div class="help-block error logininput " ng-show="expStartTime !=''"> <span class="hyphenate" ng-bind-html="expStartTime"></span></div>
                                </div> <!--{{expStartTime}}-->
                                <label class="fg-label">Exp.Negotiation start time</label>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="form-group fg-float col-sm-3 m-b-30 top-half-buffer">
                        <strong>{{ formRequest.isForwardBidding ? 'Min. Expected Price Limit' : 'Quotation Price Limit' }} &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </strong>
                        <label>
                            <input type="radio" ng-model="formRequest.isQuotationPriceLimit" ng-value='true'>
                            Yes
                        </label>
                        <label>
                            <input type="radio" ng-model="formRequest.isQuotationPriceLimit" ng-value='false'>
                            No
                        </label>
                    </div>

                    <div class="form-group fg-float col-sm-3 m-b-30 top-half-buffer" ng-if="formRequest.isQuotationPriceLimit">
                        <div class="fg-line" ng-class="{'fg-toggled': isEdit===true}">
                            <input type="number" ng-model="formRequest.quotationPriceLimit" name="quotationPriceLimit" id="quotationPriceLimit" class="form-control" />
                            <label class="fg-label">{{ formRequest.isForwardBidding ? 'Min. Expected Price Limit' : 'Quotation Price Limit' }}</label>
                        </div>
                        <div ng-show="quotationPriceLimitValidation">
                            <div class="help-block error logininput" ng-show="quotationPriceLimitValidation">Please enter valid {{ formRequest.isForwardBidding ? 'Min. Expected Price Limit' : 'Quotation Price Limit' }}</div>
                        </div>
                    </div>
                    <div class="form-group fg-float col-sm-3 m-b-30 top-half-buffer">
                        <strong>Tech Evaluation &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </strong>
                        <label>
                            <input type="radio" ng-model="isTechEval" ng-value='true'>
                            Yes
                        </label>
                        <label>
                            <input type="radio" ng-model="isTechEval" ng-value='false'>
                            No
                        </label>
                    </div>
                    <div class="form-group col-sm-3 m-b-30 fg-float">
                        <div class="fg-line input-field " ng-class="{'fg-toggled': true===true}" ng-show="isTechEval == true">
                            <select data-placeholder="Select a Tech Evaluation..." name="questionnaire" ng-model="selectedQuestionnaire" ng-options="questionnaire.title for questionnaire in questionnaireList" class="form-control"></select>
                            <label class="fg-label" for="currency">Select a Tech Evaluation...</label>
                        </div>
                        <div ng-show="questionnaireValidation && isTechEval == true">
                            <div class="help-block error logininput" ng-show="questionnaireValidation">Please select a Tech Evaluation</div>
                        </div>
                    </div>
                </div>

                <div class="row" ng-hide="true">
                    <div class="form-group fg-float col-sm-3 m-b-30 top-half-buffer">
                        <strong>Inspection Required&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </strong>
                        <label>
                            <input type="radio" ng-model="inspectionRequired" ng-value='true'>
                            Yes
                        </label>
                        <label>
                            <input type="radio" ng-model="inspectionRequired" ng-value='false'>
                            No
                        </label>
                    </div>
                    <div class="form-group col-sm-3 m-b-30 fg-float" ng-show="inspectionRequired == true">
                        <div class="fg-line fg-toggled">
                            <div>
                                <!--moment-picker="formRequest.deliveryTime" format="DD-MM-YYYY"-->
                                <input name="InspectionTimelines" id="InspectionTimelines" class="form-control" ng-model="formRequest.inspectionTimelines" ng-model-options="{ updateOn: 'blur' }">
                            </div>
                            <div ng-show="InspectionTimelinesValidation">
                                <div class="help-block error logininput" ng-show="InspectionTimelines">Please enter Inspection Timelines</div>
                            </div>
                            <label class="fg-label">Inspection Timelines</label>
                        </div>
                    </div>
                    <div class="form-group col-sm-3 m-b-30 fg-float" ng-show="inspectionRequired == true">
                        <div class="fg-line fg-toggled">
                            <div>
                                <!--moment-picker="formRequest.deliveryTime" format="DD-MM-YYYY"-->
                                <input name="inspectionPOC" id="inspectionPOC" class="form-control" ng-model="formRequest.inspectionPOC" ng-model-options="{ updateOn: 'blur' }">
                            </div>
                            <div ng-show="InspectionPOCValidation">
                                <div class="help-block error logininput" ng-show="InspectionTimelines">Please enter Inspection Point of Contact</div>
                            </div>
                            <label class="fg-label">Inspection Point of Contact</label>
                        </div>
                    </div>
                </div>


                <div class="row" ng-hide="true">
                    <div class="form-group fg-float col-sm-3 m-b-30 top-half-buffer">
                        <strong>Security Deposit&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </strong>
                        <label>
                            <input type="radio" ng-model="specurityDeposit" ng-value='true'>
                            Yes
                        </label>
                        <label>
                            <input type="radio" ng-model="specurityDeposit" ng-value='false'>
                            No
                        </label>
                    </div>
                    <div class="form-group col-sm-3 m-b-30 fg-float" ng-show="specurityDeposit == true">
                        <div class="fg-line fg-toggled">
                            <div>
                                <!--moment-picker="formRequest.deliveryTime" format="DD-MM-YYYY"-->
                                <input name="securityTerms" id="securityTerms" class="form-control" ng-model="formRequest.securityTerms" ng-model-options="{ updateOn: 'blur' }">
                            </div>
                            <div ng-show="securityTermsValidation">
                                <div class="help-block error logininput" ng-show="securityTermsValidation">Please enter Security Terms</div>
                            </div>
                            <label class="fg-label">Security Terms</label>
                        </div>
                    </div>
                    <div class="form-group col-sm-3 m-b-30 fg-float" ng-show="specurityDeposit == true">
                        <div class="fg-line fg-toggled">
                            <div>
                                <!--moment-picker="formRequest.deliveryTime" format="DD-MM-YYYY"-->
                                <input type="number" name="securityAmount" id="securityAmount" class="form-control" ng-model="formRequest.securityAmount" ng-model-options="{ updateOn: 'blur' }">
                            </div>
                            <div ng-show="InspectionPOCValidation">
                                <div class="help-block error logininput" ng-show="InspectionTimelines">Please enter Security Amount</div>
                            </div>
                            <label class="fg-label">Security Amount</label>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="form-group fg-float col-sm-6 m-b-30" ng-if="formRequest.isQuotationPriceLimit">
                        <label ng-if="!formRequest.isForwardBidding">Note: Quotation Price Limit Amount If Entered then System will not allow vendors to quote more than the value specified i.e., if Value specified is 1,00,000/- then Quotation Amount Accepted by system Would be equal or less than 1,00,000/- Only.</label>
                        <label ng-if="formRequest.isForwardBidding">Note: Minimum Expected Price Limit Amount If Entered then System will not allow vendors to quote less than the value specified i.e., if Value specified is 1,00,000/- then Quotation Amount Accepted by system Would be equal or greater than 1,00,000/- Only.</label>
                    </div>
                   
                    <!--<div class="form-group col-sm-5 m-b-30 fg-float" ng-if="selectedQuestionnaire">
                        <div class="fg-line input-field " ng-class="{'fg-toggled': true===true}">
                            <select data-placeholder="Select a Tech Evaluation..." name="questionnaire" ng-model="selectedQuestionnaire" ng-options="questionnaire.title for questionnaire in questionnaireList" class="form-control"></select>
                            <label class="fg-label" for="currency">Select a Tech Evaluation...</label>
                        </div>
                    </div>
                    <div ng-show="questionnaireValidation" ng-if="selectedQuestionnaire">
                        <div class="help-block error logininput" ng-show="questionnaireValidation">Please select a Tech Evaluation</div>
                    </div>-->
                    <!--<div class="form-group fg-float col-sm-6 m-b-30">
                        <div class="col-sm-3">
                            Departments:
                            <div class="row" ng-if="departmentsValidation">
                                <h5 class="help-block error logininput" ng-if="departmentsValidation">Please Select Departments</h5>
                            </div>
                        </div>
                        <div class="col-sm-3">

                            <table ng-table="tctrl.tableSorting" class="table table-striped table-vmiddle" show-filter="false">
                                <tr ng-repeat="dept in reqDeptDesig">
                                    <td data-title="'Department'" sortable="'Name'">
                                        <input type="checkbox" ng-model="dept.isValid">&nbsp;&nbsp;{{dept.companyDepartments.deptCode}}
                                    </td>
                                    <td data-title="'Designations'" sortable="'Name'">
                                        <div ng-repeat="desig in dept.listReqDesignations">
                                            <input type="checkbox" ng-model="desig.isValid">&nbsp;&nbsp;{{desig.companyDesignations.desigCode}}
                                        </div>
                                    </td>

                                </tr>
                            </table>
                        </div>
                    </div>-->
                    <!--<input type="checkbox" ng-model="noDepartments" ng-change="noDepartmentsFunction('NA');">&nbsp;&nbsp;No Departments</input>
                    <div ng-repeat="reqDepartment in reqDepartments">
                        <input type="checkbox" ng-model="reqDepartment.isValid" ng-change="noDepartmentsFunction('DEPARTMENT');">&nbsp;&nbsp;{{reqDepartment.companyDepartments.deptCode}}</input>
                    </div>-->



                </div>

                <div class="row">
                    <!-- isDiscountReduction-->
                    <div class="form-group fg-float col-sm-4 m-b-30 top-half-buffer">
                        <strong>Reduction Type   &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;  </strong>
                        <input type="radio" ng-model="formRequest.isDiscountQuotation" name="price" value="0" /> &nbsp; Price &nbsp;&nbsp;
                        <input type="radio" ng-model="formRequest.isDiscountQuotation" name="discount" value="1" /> &nbsp; Discount&nbsp;&nbsp;
                        <input type="radio" ng-model="formRequest.isDiscountQuotation" name="margin" value="2" /> &nbsp; Margin
                    </div>
                    <!-- isDiscountReduction-->
                </div>


          </div>
        </div>
        <div class="card" ng-show="pageNo == 3 && isRequirementPosted == 0 && formRequest.auctionVendors.length == 0">
            <div class="col-xs-12 text-center">
                <button ng-click="postRequest(0,3, false)" class="btn btn-info btn-file m-r-10  btn-new-look paddi">Save as Draft<span><img id="mySpinner" ng-show="postRequestLoding == true" align="middle" src="img/AcadsLoding.gif" /></span></button>
            </div>
        </div>
        <!--\\\\\\\\\\\\\\\\\\\\\\\\
        ========== PAGE 4 =======
        \\\\\\\\\\\\\\\\\\\\\\\\\-->

        <div class="card" ng-show="pageNo == 4" readonly="pageNo == 5">
            <div class="card-header">
                <div class="pull-right">
                    <button type="submit" ng-click="previouspage()" class="btn btn-info btn-file m-r-10  btn-new-look"> Back </button>
                    <button type="submit" ng-click="nextpage(4)" class="btn btn-info btn-file m-r-10  btn-new-look"> View Requirement </button>
                </div>
                <h2> Choose the right vendors for better price competitiveness</h2>
            </div>

            <div class="card-body card-padding p-b-0">
                <div class="row col-md-12">
                    <div class="form-group col-sm-6 fg-float">
                        <div class="fg-line input-field" ng-class="{'fg-toggled': isEdit===true}">
                            <select ng-model="formRequest.category" name="category" class="form-control" ng-change="changeCategory()" ng-options="category for category in categories" data-placeholder="Select a category..."></select>
                            <label class="selectfield fg-label" for="category">Select a category...</label>
                        </div>
                        <div ng-show="(requirementForm.$submitted || requirementForm.category.$touched)">
                            <div class="help-block error logininput" ng-show="requirementForm.category.$error.required">Please select Category</div>
                        </div>
                    </div>
                    <div class="form-group col-sm-6 m-b-30  fg-float">
                        <div class="row col-md-12">
                            <div style="padding: 0px;margin-top: -4px;"
                                 isteven-multi-select
                                 disable-property="true"
                                 class="col-md-12"
                                 input-model="subcategories"
                                 output-model="sub.selectedSubcategories"
                                 button-label="subcategory"
                                 item-label="subcategory"
                                 tick-property="ticked"
                                 max-labels="1"
                                 max-height="150px"
                                 on-item-click="selectSubcat(data)"
                                 on-select-none="changeCategory()"
                                 on-reset="selectSubcat(data)"
                                 on-select-all="selectSubcat(data)">
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="card-body card-padding p-t-0 p-b-0">

                <div ng-hide="addVendorShow" style="color:#266A2D" class="text-center col-md-12 m-b-20 zmdi zmdi-accounts-alt zmdi-hc-2x"><span style="font-family:roboto; font-size:20px">Choose vendors </span></div>
                <div class="col-xs-12 text-center"><span style="font-family:roboto; font-size:20px">You can Add Your Vendor</span><div class="zmdi zmdi-account-add zmdi-hc-3x" style="color:#266A2D" ng-click="selectVendorShow=false;addVendorShow=true;"></div></div>

                <div class="row m-t-15">
                    <div ng-show="addVendorShow">
                        <div class="form-group fg-float col-sm-6 m-b-30 top-half-buffer">
                            <div class="fg-line">
                                <input type="text" ng-model="newVendor.firstName" class="form-control fg-input">
                                <label class="fg-label">Vendor First Name</label>
                            </div>
                            <div ng-show="addVendorShow && firstvalidation">
                                <div class="help-block error logininput" ng-show="addVendorShow && firstvalidation">Please enter Vendor First Name</div>
                            </div>
                        </div>
                        <div class="form-group fg-float col-sm-6 m-b-30 top-half-buffer">
                            <div class="fg-line">
                                <input type="text" ng-model="newVendor.lastName" class="form-control fg-input">
                                <label class="fg-label">Vendor Last Name</label>
                            </div>
                            <div ng-show="addVendorShow && lastvalidation">
                                <div class="help-block error logininput" ng-show="addVendorShow && lastvalidation">Please enter Vendor Last Name</div>
                            </div>
                        </div>
                        <!--</div>-->
                        <div class="form-group fg-float col-sm-6 m-b-30">
                            <div class="fg-line">
                                <input type="text" ng-model="newVendor.contactNum" class="form-control fg-input"> <!--ng-blur="checkVendorUniqueResult('PHONE',newVendor.contactNum)"-->
                                <label class="fg-label">Contact No.</label>
                            </div>
                            <div ng-show="(addVendorShow && contactvalidation) || (addVendorShow && checkVendorPhoneUniqueResult) || (addVendorShow && contactvalidationlength)">
                                <div class="help-block error logininput" ng-show="addVendorShow && contactvalidation">Please enter a valid Contact No.</div>
                                <div class="help-block error logininput nowrap" ng-show="addVendorShow && contactvalidationlength">Phone Number must be exactly 10 digits.</div>

                                <div class="help-block error logininput" ng-show="addVendorShow && checkVendorPhoneUniqueResult">Contanct No. has been already taken.</div>
                            </div>
                        </div>

                        <!--<div class="form-group fg-float col-sm-6 m-b-30">
                            <div class="fg-line">
                                <input type="text" ng-model="newVendor.altPhoneNum" class="form-control fg-input" name="altPhoneNum" id="altPhoneNum">
                                <label class="fg-label">Alt Contact No.</label>
                            </div>
                        </div>-->
                        <div class="form-group fg-float col-sm-6 m-b-30">                                                        
                            <div class="fg-line">
                                <input type="text"  ng-model="newVendor.email" class="form-control fg-input"> <!--ng-blur="checkVendorUniqueResult('EMAIL',newVendor.email)"-->
                                <label class="fg-label">Email Address</label>
                            </div>
                            <div ng-show="(addVendorShow && emailvalidation) || (addVendorShow && emailregxvalidation) || (addVendorShow && checkVendorEmailUniqueResult)">
                                <div class="help-block error logininput" ng-show="addVendorShow && emailvalidation">Please enter Email Address</div>
                                <div class="help-block error logininput" ng-show="addVendorShow && emailregxvalidation">Please enter a valid Email Address</div>
                                <div class="help-block error logininput" ng-show="addVendorShow && checkVendorEmailUniqueResult">Email Address has been already taken.</div>
                            </div>                            
                        </div>

                        <!--<div class="form-group fg-float col-sm-6 m-b-30">
                            <div class="fg-line">
                                <input type="text" ng-model="newVendor.altEmail" class="form-control fg-input" name="altEmail" id="altEmail">
                                <label class="fg-label">Alt Email Address</label>
                            </div>
                        </div>-->

                        <div class="form-group fg-float col-sm-6 m-b-30 top-half-buffer">
                            <div class="fg-line">
                                <input type="text" ng-model="newVendor.companyName" class="form-control fg-input">
                                <label class="fg-label">Vendor Company Name</label>
                            </div>
                            <div ng-show="addVendorShow && companyvalidation">
                                <div class="help-block error logininput" ng-show="addVendorShow && companyvalidation">Please enter Vendor Company Name</div>
                            </div>
                        </div>


                        <div class="form-group fg-float col-sm-6 m-b-30">
                            <div class="fg-line">
                                <select data-placeholder="Select a Currency..." name="vendorcurrency" ng-model="newVendor.vendorcurrency" class="form-control" ng-options="currency.value for currency in currencies"></select>
                                <label class="fg-label">Vendor Currency</label>
                            </div>
                            <div ng-show="addVendorShow && vendorcurrencyvalidation">
                                <div class="help-block error logininput" ng-show="addVendorShow && vendorcurrencyvalidation">Please Select Vendor Currency</div>
                            </div>
                        </div>


                        <div class="col-xs-12 text-center m-b-10">

                            <button class="btn btn-new-look btn-link btn-sm" ng-disabled="checkVendorPhoneUniqueResult || checkVendorEmailUniqueResult" ng-click="addVendor();">Add</button>
                            <button class="btn  btn-link btn-sm " ng-click="selectVendorShow=true;addVendorShow=false;">Cancel</button>
                        </div>

                        <div ng-show="addVendorShow && (checkVendorPhoneUniqueResult || checkVendorEmailUniqueResult)" class="col-xs-12 text-center m-b-10">
                            User with the Same mobile number alredy exists Do you whan to Assign this vendor to Your company? <a role="button" ng-click="selectVendorShow=true;addVendorShow=false;AssignVendorToCompany(newVendor.contactNum, newVendor.email);"> Assign Vendor To company</a>
                        </div>

                    </div>


                    <!--<div class="col-sm-5 text-center" style="margin:15px;" ng-show="selectVendorShow">
                        <div class="col-md-12 z-depth-1 vendorsDivA">
                            
                        </div>
                    </div>-->


                    <div class="col-md-12">                        
                        <div class="col-md-3">
                        </div>
                            <div class="col-md-6 z-depth-1 vendorsDivB" ng-show="selectVendorShow">

                                <div class="col-md-12">
                                    <input class="pull-right form-control fg-input" ng-change="searchVendors(searchvendorstring)" ng-model="searchvendorstring" placeholder="Search Vendor" />
                                </div>

                                <div class="col-md-12 text-center vertical-scroll">

                                <ul ng-if="vendorsLoaded && searchvendorstring != ''" ng-repeat="vendor in Vendors" class="main-menu vendorsLi">
                                    <li>
                                        <label class="checkbox checkbox-inline m-r-20">
                                            <input type="checkbox" ng-click="selectForA(vendor)" value="{{vendor.vendorID}}" />
                                            <i class="input-helper"></i>
                                        </label>
                                        <span><strong><a target="_blank " href="prm360.html#/viewprofile/{{vendor.vendorID}}">{{vendor.companyName}}</a></strong></span><br />
                                        <label style="visibility:hidden" class="checkbox checkbox-inline m-r-20">
                                            <input type="checkbox" ng-click="selectForA(vendor)" value="{{vendor.vendorID}}" />
                                            <i class="input-helper"></i>
                                        </label>
                                        <span><small><strong> Vendor Name:</strong> {{vendor.vendorName}}</small></span>

                                    </li>
                                </ul>

                                <ul ng-repeat="vendor in formRequest.auctionVendors" class="main-menu vendorBUl vendorsLi">
                                    <li>
                                        <label class="checkbox checkbox-inline m-r-20">
                                            <input type="checkbox" ng-click="selectForB(vendor)" value="{{vendor.vendorID}}" checked>
                                            <i class="input-helper"></i>
                                            <span><strong><a target="_blank" href="prm360.html#/viewprofile/{{vendor.vendorID}}">{{vendor.companyName}}</a></strong></span>
                                        </label>
                                    </li>
                                </ul>

                                <ul ng-if="vendorsLoaded && searchvendorstring == ''" ng-repeat="vendor in Vendors" class="main-menu vendorsLi">
                                    <li>
                                        <label class="checkbox checkbox-inline m-r-20">
                                            <input type="checkbox" ng-click="selectForA(vendor)" value="{{vendor.vendorID}}" />
                                            <i class="input-helper"></i>
                                        </label>
                                        <span><strong><a target="_blank " href="prm360.html#/viewprofile/{{vendor.vendorID}}">{{vendor.companyName}}</a></strong></span><br />
                                        <label style="visibility:hidden" class="checkbox checkbox-inline m-r-20">
                                            <input type="checkbox" ng-click="selectForA(vendor)" value="{{vendor.vendorID}}" />
                                            <i class="input-helper"></i>
                                        </label>
                                        <span><small><strong> Vendor Name:</strong> {{vendor.vendorName}}</small></span>
                                        
                                    </li>
                                </ul>
                                </div>

                                
                            </div>
                        <div class="col-md-3">
                        </div>
                    </div>
            </div>
        </div>

        <div class="" ng-show="pageNo == 5">
            <div class="row">
                <div class="card">
                    <div class="card-header">
                        <div class="row">
                            <div class="form-group col-sm-6 fg-float">
                                <h2>Requirement Specifications <small>Please detail the specifications of your requirement here.</small></h2>
                            </div>
                            <div class="pull-right">
                                <div class="pull-right">
                                    <button type="submit" ng-click="previouspage()" class="btn btn-info btn-file m-r-10 btn-new-look">Back </button>
                                </div>
                                <h5 ng-if="!isEdit && showFreeCreditsMsg && 1 == 2"><b>Your balance credits: {{userDetails.credits}}.</b></h5>
                                <h5 ng-if="!isEdit && showNoFreeCreditsMsg && 1 == 2"><b>No more credits available the charges for this transaction would be on the savings made.</b></h5>
                            </div>
                        </div>
                    </div>
                    <div class="card-body card-padding ">
                        <div class="form-group fg-float">
                            <div class="fg-line input-field" ng-class="{'fg-toggled': isEdit===true}">
                                <input ng-model="formRequest.title" id="title" name="title" type="text" class="form-control fg-input fg-toggled" required readonly>
                                <label class="fg-label" for="Title">Title</label>
                            </div>
                            <div ng-show="requirementForm.$submitted || requirementForm.title.$touched">
                                <div class="help-block error logininput" ng-show="requirementForm.title.$error.required">Please enter Title</div>
                            </div>
                        </div>
                        <div class="form-group fg-float" ng-if="!formRequest.isTabular">
                            <div class="fg-line input-field" ng-class="{'fg-toggled': isEdit===true}">
                                <textarea ng-model="formRequest.description" id="description" name="description" rows="3" style="resize: vertical;" class="form-control fg-input" required readonly></textarea>
                                <label class="fg-label">Description</label>
                            </div>
                            <div ng-show="requirementForm.$submitted || requirementForm.description.$touched">
                                <div class="help-block error logininput" ng-show="requirementForm.description.$error.required">Please enter Description</div>
                            </div>
                        </div>
                        <div ng-if="formRequest.isTabular">
                            <table class="table table-hover">
                                <thead>
                                    <tr style="font-weight: bold">
                                        <td style="width:20%">Product Name</td>
                                        <td style="width:10%">HSN Code<br />Product No</td>
                                        <td style="width:20%">Description</td>
                                        <td style="width:5%">Qty</td>
                                        <td style="width:5%">Qty Units</td>
                                        <td style="width:10%">Preferred Brand</td>
                                        <td style="width:10%">Other Brands</td>
                                        <td style="width:3%">File</td>
                                        <td style="width:2%">Delete</td>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="product in formRequest.listRequirementItems">
                                        <td>
                                            <input type="text" ng-model="product.productIDorName" required name="productIDorName" id="productIDorName" class="form-control fg-input" readonly>
                                        </td>
                                        <td>
                                            <input type="text" ng-model="product.productNo" required name="productNo" id="productNo" class="form-control fg-input" readonly>
                                        </td>
                                        <td>
                                            <textarea ng-model="product.productDescription" required name="productDescription" rows="1" id="productDescription" class="fg-input form-control " style="resize: vertical;" readonly></textarea>
                                        </td>
                                        <td>
                                            <input type="number" ng-model="product.productQuantity" required name="productQuantity" id="productQuantity" class="form-control fg-input" readonly>
                                        </td>
                                        <td>
                                            <input type="text" ng-model="product.productQuantityIn" required name="productQuantityIn" id="productQuantityIn" class="form-control fg-input" readonly>
                                        </td>
                                        <td>
                                            <input type="text" ng-model="product.productBrand" required name="productBrand" id="productBrand" class="form-control fg-input" readonly>
                                        </td>
                                        <td>
                                            <input type="text" ng-model="product.othersBrands" required name="othersBrands" id="othersBrands" class="form-control fg-input" readonly>
                                        </td>
                                        <td>
                                            <h5 ng-if="product.productImageID"><a target="_blank" href="FileDownload.aspx?attachid={{product.productImageID}}&sessionid={{sessionid}}">Download</a></h5>
                                            <div class="fileinput fileinput-new" data-provides="fileinput">
                                                <span class="btn btn-info btn-file m-r-10">
                                                    <span class="fileinput-new">Img</span>
                                                    <span class="fileinput-exists">Edit</span>
                                                    <input type="file" accept=".pdf,.xlsx,.xls,.txt,.jpeg,.png,.jpg" id="{{product.productSNo}}" itemid="{{product.productSNo}}" ng-file-select-items="onFileSelect($files)" />
                                                </span>
                                                <span class="fileinput-filename"></span>
                                                <a href="#" class="close fileinput-exists" data-dismiss="fileinput">&times;</a>
                                            </div>
                                        </td>
                                        <td>
                                            <span class="btn btn-info" ng-click="deleteItem(product.productSNo)">x</span>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header">
                        <h2> Delivery & Payment Terms <small>Please specify Your Payment and Delivery Timelines.</small></h2>
                    </div>
                    <div class="card-body card-padding">
                        <div class="row">
                            <div class="form-group fg-float col-sm-6 m-b-30">
                                <div class="fg-line" ng-class="{'fg-toggled': isEdit===true}">
                                    <textarea type="text" ng-model="formRequest.deliveryLocation" required readonly name="deliveryLocation" rows="3" id="deliveryLocation" class="form-control fg-input"></textarea>
                                    <label class="fg-label">{{ formRequest.isForwardBidding ? 'Pick-up Location' : 'Delivery Location' }}</label>
                                </div>
                                <div ng-show="deliveryLocationValidation">
                                    <div class="help-block error logininput" ng-show="deliveryLocationValidation">Please enter Delivery Location</div>
                                </div>
                            </div>
                            <div class="form-group fg-float col-sm-6 m-b-30">
                                <div class="fg-line" ng-class="{'fg-toggled': isEdit===true}">
                                    <input type="hidden" ng-model="formRequest.attachementName" name="attachementName" id="attachementName" />
                                    <textarea type="text" ng-model="formRequest.paymentTerms" name="paymentTerms" id="paymentTerms" rows="3" class="form-control fg-input" required readonly></textarea>
                                    <label class="fg-label">Payment Terms (in days)</label>
                                </div>
                                <div ng-show="paymentTermsValidation">
                                    <div class="help-block error logininput" ng-show="paymentTermsValidation">Please enter Payment Terms</div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group fg-float col-sm-6 m-b-30">
                                <div class="fg-line" ng-class="{'fg-toggled': (isEdit===true || !requirementForm.deliveryTime.$error.required)}">
                                    {{formRequest.deliveryTime}}
                                    <label class="fg-label">Delivery Date</label>
                                </div>
                                <div ng-show="deliveryTimeValidation">
                                    <div class="help-block error logininput" ng-show="deliveryTimeValidation">Please enter Delivery Time</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header">
                        <h2> Transaction Configuration <small>Please Update the Configuration details.</small></h2>
                    </div>
                    <div class="card-body card-padding">
                        <div class="row">
                            <div class="form-group col-sm-6 m-b-30 fg-float">
                                <div class="fg-line input-field " ng-class="{'fg-toggled': isEdit===true}" disabled>
                                    {{formRequest.urgency}}
                                    <label class="selectfield fg-label" for="category">Select an urgency...</label>
                                </div>
                                <div ng-show="requirementForm.$submitted || requirementForm.urgency.$touched">
                                    <div class="help-block error logininput" ng-show="requirementForm.urgency.$error.required">Please select Urgency</div>
                                </div>
                            </div>

                            <div class="form-group fg-float col-sm-6 m-b-30">
                                <div class="fg-line" ng-class="{'fg-toggled': (isEdit===true || !requirementForm.quotationFreezTime.$error.required)}">
                                    {{formRequest.quotationFreezTime}}
                                    <label class="fg-label">Quotation Freeze Time</label>
                                </div>
                                <div ng-show="requirementForm.$submitted || requirementForm.quotationFreezTime.$touched">
                                    <div class="help-block error logininput" ng-show="requirementForm.quotationFreezTime.$error.required">Please enter Quotation Freeze Time</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="row">
                        <div class="card-header">
                            <h2> Choose the right vendors for better price competitiveness</h2>
                        </div>
                        <div class="card-body card-padding">
                            <div class="row col-md-12">
                                <div class="form-group col-sm-6 fg-float">
                                    <div class="fg-line input-field" ng-class="{'fg-toggled': isEdit===true}">
                                        <select ng-model="formRequest.category" name="category" class="form-control" ng-change="changeCategory()" ng-options="category for category in categories" data-placeholder="Select a category..." disabled></select>
                                        <label class="selectfield fg-label" for="category">Select a category...</label>
                                    </div>
                                    <div ng-show="(requirementForm.$submitted || requirementForm.category.$touched)">
                                        <div class="help-block error logininput" ng-show="requirementForm.category.$error.required">Please select Category</div>
                                    </div>
                                </div>
                                <div class="form-group col-sm-6 m-b-30  fg-float">
                                    <div class="row col-md-12" ng-class="{'fg-toggled': isEdit===true}">
                                        {{formRequest.subcategoriesView}}
                                        <label class="fg-label">Select a Sub Category...</label>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-12" ng-show="selectVendorShow" style="padding-left:20pt; padding-bottom:20pt">
                            <h2> Selected Vendors</h2>
                            <label ng-repeat="vendor in formRequest.auctionVendors" style="padding-left:20pt">
                                {{vendor.companyName}} ,
                            </label>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!--\\\\\\\\\\\\\\\\\\\\\\\\
        ========== PAGE 4 Terms & Conditions =======
        \\\\\\\\\\\\\\\\\\\\\\\\\-->

        <div class="card col-xs-12 text-center m-t-10" ng-show="pageNo == 4" readonly="pageNo == 5">
            <div class="card-header">
                <div class="fileinput fileinput-new" data-provides="fileinput" id="alerts">
                    <span>Kindly review the </span><a ng-click="clickToOpen()"> Terms and Conditions </a> <span>before posting the Requirement.</span>
                </div>
                <div class="input-group checkbox">
                    <span class="input-group-addon"></span>
                    <label>
                        <input type="checkbox" value="" ng-model="formRequest.checkBoxEmail" checked>
                        <i class="input-helper"></i> Send Email to All the Vendors
                    </label>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <label>
                        <input type="checkbox" value="" ng-model="formRequest.checkBoxSms" checked>
                        <i class="input-helper"></i> Send SMS to All the Vendors
                    </label>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <label  ng-if="isEdit == true">
                        <input type="checkbox" value="" ng-model="formRequest.deleteQuotations" checked>                        
                        <i class="input-helper"></i> Request New Quotations <span ng-if="formRequest.deleteQuotations" class="text-danger"><strong>(This will delete all the vendor Quotations)</strong></span>
                    </label>                                                            
                </div>
            </div>

            <div class="card" ng-show="pageNo == 4">
                <div class="col-xs-12 text-center">
                    <button ng-click="postRequest(1,4, true)" ng-disabled="formRequest.auctionVendors.length == 0 || addVendorShow == true || postRequestLoding == true" class="btn btn-info btn-file m-r-10  btn-new-look">Post Requirement<span><img id="mySpinner" ng-show="postRequestLoding == true" align="middle" src="img/AcadsLoding.gif" /></span></button>

                    <button class="btn btn-info btn-new-look" ng-if="formRequest.isTabular" ng-click="cancelClick()">Cancel</button>

                </div>
            </div>
            <div class="col-xs-12 text-center" ng-show="pageNo == 4" readonly="pageNo == 5">
                <h2><small class="text-danger">Note: Pressing this button will send an invite to all the vendors selected above.</small></h2>
            </div>
        </div>
    </form>
</div>