﻿<style>
    .header-cards .white-box {
        margin-bottom: 8px;
    }

    .row .white-box {
        margin-bottom: 8px;
    }
</style>

<div class="fix-header">
    <div id="wrapper">
        <header data-ng-include="'template/header.html'" data-ng-controller="headerCtrl as hctrl"></header>
        <aside data-ng-include="'template/sidebar-left.html'" data-ng-class="{ 'toggled': mactrl.sidebarToggle.left === true }"></aside>
        <div id="page-wrapper">
            <div class="container-fluid">


                <div data-ng-controller="auctionsCtrl">
                    <div class="row bg-title top-grid">
                        <div class="col-sm-2 col-md-2 col-lg-2 col-xs-12">
                            <div ng-if="isUserEntitled(582258)">
                                <a ng-show="showAddNewReq()" data-ui-sref="save-requirementAdv"
                                   class="btn btn-info waves-effect waves-light add-btn hidden-xs">
                                    <span>Create Requirement</span>
                                    <i class="fa fa-plus-circle m-l-5"></i>
                                </a>
                                <!--<a ng-show="!showAddNewReq()" class="btn btn-info waves-effect waves-light add-btn hidden-xs"
                                   href="FileDownload.aspx?attachid=20&sessionid={{sessionid}}">
                                    <span>Download Manual</span>
                                    <i class="fa fa-download m-l-5"></i>
                                </a>-->
                            </div>

                        </div>
                        <div class="col-sm-3 col-md-3 col-lg-3 col-xs-12 text-right">
                            <a class="visible-xs range-btn" role="button" data-toggle="collapse" data-target="#collapseExample1" aria-expanded="false" aria-controls="collapseExample1">Filter<span class="caret"></span></a>
                            <form class="form-material form-horizontal select-range-form collapse" id="collapseExample1">
                                <div class="row">
                                    <div class="col-md-2 hidden-xs">
                                        <b>Select Range</b>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label class="col-md-12">From date</label>
                                            <div class="col-md-12" moment-picker="dashboardFromDate" format="YYYY-MM-DD">
                                                <!--<input type="text" class="form-control form-control-line" value="11/10/2017">-->
                                                <input class="form-control" placeholder="Select a date" ng-model="dashboardFromDate" ng-model-options="{ updateOn: 'blur' }">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label class="col-md-12">To date</label>
                                            <div class="col-md-12" moment-picker="dashboardToDate" format="YYYY-MM-DD">
                                                <!--<input type="text" class="form-control form-control-line" value="11/10/2017">-->
                                                <input class="form-control" placeholder="Select a date" ng-model="dashboardToDate" ng-model-options="{ updateOn: 'blur' }">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-2"><button class="btn btn-danger waves-effect waves-light" ng-click="getMiniItems();">Apply</button></div>
                                </div>
                            </form>
                        </div>
                        <div class="col-sm-3 col-md-3 col-lg-3 col-xs-12" ng-show="!isVendor">
                            <div class="row">
                                <div class="form-group">
                                    <div class="col-md-2"></div>

                                    <div class="col-md-3 hidden-xs">
                                        <b>Select Department</b>
                                    </div>
                                    <div class="col-md-7">
                                        <select chosen name="ListUserDepartmentDesignations" ng-model="SelectedDeptId"
                                                ng-options="udd.deptID as udd.deptCode for udd in ListUserDepartmentDesignations" required class="form-control-dropdown"
                                                ng-change="changeUserDepartmentDesignation();"></select>
                                    </div>

                                </div>
                            </div>

                        </div>

                        <div class="col-sm-4 col-md-4 col-lg-4 col-xs-12" ng-show="!isVendor">
                            <div class="row">
                                <div class="form-group">
                                    <div class="col-md-4" ng-if="1==2">
                                        <input class="form-control" ng-change="setFilters();" ng-model="filters.searchKeyword" ng-model-options="{debounce:1000}" type="text" placeholder="Search">
                                    </div>
                                    <div class="col-md-3" ng-if="1==2">
                                        <button class="btn btn-info btn-new-look" ng-click="!isVendor?goToProjectStatus():''">Project Status</button>
                                    </div>
                                    <div class="col-md-5">
                                        <button class="btn btn-info btn-new-look" ng-click="!isVendor?goToPendingApprovals():''">Pending Approvals: {{totalPendingApprovals}}</button>
                                    </div>



                                </div>
                            </div>

                        </div>

                    </div>

                    <div class="row header-cards">
                        <!-- Clickable dashboard-->
                        <div class="col-md-6 co-lg-6">
                            <div class="row">
                                <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12" ng-if="!isVendor" style="cursor:pointer;padding-right:0px;padding-left:8px;" ng-click="!isVendor?goToRequirements('ALL'):''">
                                    <!-- Clickable dashboard-->
                                    <div class="white-box">
                                        <h3 class="box-title"><small>Total</small>  <strong>{{((dashboardStats.TOTAL_RFQS > 0)?dashboardStats.TOTAL_RFQS:"N/A")}} </strong></h3>
                                        <div class="row">
                                            <div class="col-xs-4">
                                                <img src="UI_2018_03/images/graph.png" class="img-responsive" style="margin-top:20px;">
                                                <!--<h4 style="margin-top:40px;">@Posted</h4>-->
                                            </div>
                                            <div class="col-xs-8 text-right">
                                                <span class="text-muted"> Open RFQ's</span>
                                                <h3>
                                                    {{dashboardStats.TOTAL_OPEN_RFQS}}
                                                </h3>
                                            </div>
                                        </div>
                                        <div class="progress m-b-0">
                                            <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" style="width:{{(dashboardStats.TOTAL_OPEN_RFQS/dashboardStats.TOTAL_RFQS)*100}}%;"> <span class="sr-only"></span> </div>
                                        </div>
                                    </div>

                                </div>
                                <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12" ng-if="!isVendor" style="cursor:pointer;padding-right:0px;padding-left:8px;" ng-click="!isVendor?goToRequirements('ALL'):''">
                                    <!-- Clickable dashboard-->
                                    <div class="white-box">
                                        <h3 class="box-title"><small> Total </small> <strong> {{((dashboardStats.TOTAL_RFPS > 0)?dashboardStats.TOTAL_RFPS:"N/A")}} </strong></h3>
                                        <div class="row">
                                            <div class="col-xs-4">
                                                <img src="UI_2018_03/images/graph.png" class="img-responsive" style="margin-top:20px;">
                                                <!--<h4 style="margin-top:40px;">@Posted</h4>-->
                                            </div>
                                            <div class="col-xs-8 text-right">
                                                <span class="text-muted">Open RFP's</span>
                                                <h3>
                                                    {{dashboardStats.TOTAL_OPEN_RFPS}}
                                                </h3>
                                            </div>
                                        </div>
                                        <div class="progress m-b-0">
                                            <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" style="width:{{(dashboardStats.TOTAL_OPEN_RFPS/dashboardStats.TOTAL_RFPS)*100}}%;"> <span class="sr-only"></span> </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12" ng-if="!isVendor" style="cursor:pointer;padding-right:0px;padding-left:8px;" ng-click="!isVendor?goToPos():''">
                                    <!-- Clickable dashboard-->
                                    <div class="white-box">
                                        <h3 class="box-title"><small> <br /></small>  <strong> </strong></h3>
                                        <!-- <h3 class="box-title"><small> Total</small>  <strong>{{((dashboardStats.TOTAL_POS > 0)?dashboardStats.TOTAL_POS:"N/A")}} </strong></h3>  -->
                                        <div class="row">
                                            <div class="col-xs-4">
                                                <img src="UI_2018_03/images/graph.png" class="img-responsive" style="margin-top:20px;">
                                                <!--<h4 style="margin-top:40px;">@Posted</h4>-->
                                            </div>
                                            <div class="col-xs-8 text-right">
                                                <span class="text-muted">Pending PO's</span>
                                                <h3>
                                                    {{dashboardStats.TOTAL_PENDING_POS}}
                                                </h3>
                                            </div>
                                        </div>
                                        <div class="progress m-b-0">
                                            <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" style="width:{{(dashboardStats.TOTAL_PENDING_POS/dashboardStats.TOTAL_POS)*100}}%;"> <span class="sr-only"></span> </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">

                                <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12" ng-if="!isVendor" style="cursor:pointer;padding-right:0px;padding-left:8px;" ng-click="goToConsolidateReport()">
                                    <!-- Clickable dashboard-->
                                    <div class="white-box">
                                        <div class="pull-right">
                                            <small>INR</small>
                                        </div>
                                        
                                        <h3 class="box-title"> <small>Turnover</small>  <strong> {{totalTurnover}}</strong></h3>


                                        <div class="row">
                                            <!--<div class="col-xs-6 pull-left">
            <small style="margin-top:40px;">Turnover:{{totalTurnover}}</small>

        </div>-->

                                            <div class="col-xs-5 text-left">
                                                <span class="text-muted"><small>Savings</small></span>
                                                <h5>

                                                    {{totalSavedAmount}}
                                                </h5>
                                            </div>
                                            <div class="col-xs-7 text-right" style="padding-top:14px;">
                                                <span class="text-muted"><small>Savings %</small></span>
                                                <h5>
                                                    {{totalSavedPercentage}}<span ng-show="totalSavedPercentage > 0">%</span>
                                                </h5>
                                            </div>
                                        </div>
                                        <div class="progress m-b-0">
                                            <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" style="width:{{totalSavedPercentage}}%;"> <span class="sr-only"></span> </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12" ng-if="!isVendor" style="cursor:pointer;padding-right:0px;padding-left:8px;">
                                    <!-- Clickable dashboard-->
                                    <div class="white-box" style="padding:18px;">

                                        <h3 class="box-title"><small>Turn around time(PR-PO)</small></h3>
                                        <div class="row">
                                            <div class="col-xs-4">
                                                <img src="UI_2018_03/images/clock.png" class="img-responsive" style="margin-top:20px;">
                                            </div>
                                            <div class="col-xs-8 text-right">
                                                <small class="text-muted">Time</small>
                                                <h4>{{D}}<small title="Days">D </small>{{H}}<small title="Hours">H </small>{{M}}<small title="Minutes">M </small></h4>
                                            </div>
                                        </div>

                                        <div class="progress m-b-0">
                                            <div class="progress-bar progress-bar-inverse" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" style="width:98%;"> <span class="sr-only">230% Complete</span> </div>
                                        </div>


                                    </div>
                                </div>
                                <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12" ng-if="!isVendor" style="cursor:pointer;padding-right:0px;padding-left:8px;" ng-click="!isVendor?goToPendingContracts():''">
                                    <!-- Clickable dashboard-->
                                    <div class="white-box">
                                        <h3 class="box-title"><small>Total</small>  <strong>{{dashboardStats.TOTAL_CONTRACTS}} </strong></h3>
                                        <div class="row">
                                            <div class="col-xs-4">
                                                <img src="UI_2018_03/images/graph.png" class="img-responsive" style="margin-top:20px;">
                                                <!--<h4 style="margin-top:40px;">@Posted</h4>-->
                                            </div>
                                            <div class="col-xs-8 text-right">
                                                <small class="text-muted">Pending Contracts</small>
                                                <h3>

                                                    {{dashboardStats.TOTAL_PENDING_CONTRACTS}}
                                                </h3>
                                            </div>
                                        </div>
                                        <div class="progress m-b-0">
                                            <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" style="width:{{(dashboardStats.TOTAL_PENDING_CONTRACTS/dashboardStats.TOTAL_CONTRACTS)*100}}%;"> <span class="sr-only"></span> </div>
                                        </div>
                                    </div>
                                </div>
                            </div>


                        </div>


                        <div class="col-md-6 col-lg-6" ng-if="!isVendor" style="padding-right:8px;padding-left:8px;">
                            <div class="white-box">
                                <h3 class="box-title text-left" ng-if="!requirementDetailsChartShow">Monthly Average Utilization</h3>
                                <hc-chart options="requirementDetails" ng-if="requirementDetailsChartShow">Loading...</hc-chart>
                                <h4 class="text-center" ng-if="!requirementDetailsChartShow"> Currently there is no monthly average utilization. Kindly  post requirements to get more insights.</h4>
                            </div>

                        </div>
                    </div>
                    <div class="row header-cards">
                        <div class="col-lg-2 col-md-6 col-sm-6 col-xs-12" ng-if="isVendor" style="cursor:pointer;padding-right:0px;padding-left:8px;">
                            <!-- Clickable dashboard-->
                            <div class="white-box">
                                <h3 class="box-title"><small>Total RFQ's</small>  <strong> {{dashboardStats.TOTAL_RFQS}}</strong></h3>
                                <div class="row">
                                    <div class="col-xs-4">
                                        <img src="UI_2018_03/images/graph.png" class="img-responsive" style="margin-top:20px;">
                                        <!--<h4 style="margin-top:40px;">@Posted</h4>-->
                                    </div>
                                    <div class="col-xs-8 text-right">
                                        <span class="text-muted">Total</span>
                                        <h3>
                                            {{((dashboardStats.TOTAL_RFQS > 0)?dashboardStats.TOTAL_RFQS:"N/A")}}
                                        </h3>
                                    </div>
                                </div>
                                <div class="progress m-b-0">
                                    <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" style="width:{{dashboardStats.TOTAL_RFQS}}%;"> <span class="sr-only"></span> </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-2 col-md-6 col-sm-6 col-xs-12" ng-if="isVendor" style="cursor:pointer;padding-right:0px;padding-left:8px;">
                            <div class="white-box">
                                <h3 class="box-title"><small>Completed RFQ's</small><strong>{{}}</strong></h3>
                                <div class="row">
                                    <div class="col-xs-4">
                                        <img src="UI_2018_03/images/graph.png" class="img-responsive" style="margin-top:20px;">
                                        <!--<h4 style="margin-top:40px;">@Posted</h4>-->
                                    </div>
                                    <div class="col-xs-8 text-right">
                                        <span class="text-muted">Monthly</span>
                                        <h3>
                                            {{((dashboardStats.totalAuctionsCompleted > 0)?dashboardStats.totalAuctionsCompleted:"N/A")}} <!--<span ng-show=" "> %</span>-->
                                        </h3>
                                    </div>
                                </div>
                                <div class="progress m-b-0">
                                    <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" style="width:{{}}%;"> <span class="sr-only"></span> </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-2 col-md-6 col-sm-6 col-xs-12" ng-if="isVendor" style="cursor:pointer;padding-right:0px;padding-left:8px;">
                            <div class="white-box">
                                <h3 class="box-title"><small>Open RFQ's</small><strong>{{dashboardStats.TOTAL_OPEN_RFQS}}</strong></h3>
                                <div class="row">
                                    <div class="col-xs-4">
                                        <img src="UI_2018_03/images/graph.png" class="img-responsive" style="margin-top:20px;">
                                        <!--<h4 style="margin-top:40px;">@Posted</h4>-->
                                    </div>
                                    <div class="col-xs-8 text-right">
                                        <span class="text-muted">Monthly</span>
                                        <h3>
                                            {{((totalOpenRFQsPercentage > 0)?totalOpenRFQsPercentage:"N/A")}} <span ng-show="totalOpenRFQsPercentage > 0"> %</span>
                                        </h3>
                                    </div>
                                </div>
                                <div class="progress m-b-0">
                                    <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" style="width:{{totalOpenRFQsPercentage}}%;"> <span class="sr-only"></span> </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-2 col-md-6 col-sm-6 col-xs-12" ng-if="isVendor" style="cursor:pointer;padding-right:0px;padding-left:8px;">
                            <div class="white-box" style="padding-top:10px;">
                                <h3 class="box-title"><small>Turn around time</small></h3>
                                <div class="row">
                                    <div class="col-xs-4">
                                        <img src="UI_2018_03/images/clock.png" class="img-responsive" style="margin-top:20px;">
                                    </div>
                                    <div class="col-xs-8 text-right">
                                        <span class="text-muted">Time</span>
                                        <h4>{{D}}<small title="Days">D </small>{{H}}<small title="Hours">H </small>{{M}}<small title="Minutes">M </small></h4>
                                    </div>
                                </div>

                                <div class="progress m-b-0">
                                    <div class="progress-bar progress-bar-inverse" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" style="width:98%;"> <span class="sr-only">230% Complete</span> </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-2 col-md-6 col-sm-6 col-xs-12" ng-if="isVendor" style="cursor:pointer;padding-right:0px;padding-left:8px;">
                            <div class="white-box">
                                <h3 class="box-title"><small>Pending PO's</small><strong>{{totalPurchaseOrdersCount}}</strong></h3>
                                <div class="row">
                                    <div class="col-xs-4">
                                        <img src="UI_2018_03/images/graph.png" class="img-responsive" style="margin-top:20px;">
                                        <!--<h4 style="margin-top:40px;">@Posted</h4>-->
                                    </div>
                                    <div class="col-xs-8 text-right">
                                        <span class="text-muted">Pending PO's</span>
                                        <h3>
                                            {{totalPurchaseOrdersCount}}
                                        </h3>
                                    </div>
                                </div>
                                <div class="progress m-b-0">
                                    <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" style="width:{{totalPurchaseOrdersCount}}%;"> <span class="sr-only"></span> </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-2 col-md-6 col-sm-6 col-xs-12" ng-if="isVendor" style="cursor:pointer;padding-right:0px;padding-left:8px;">
                            <div class="white-box">
                                <h3 class="box-title"><small>Delivery Schedule</small></h3>
                                <div class="row">
                                    <div class="col-xs-4">
                                        <img src="UI_2018_03/images/graph.png" class="img-responsive" style="margin-top:20px;">
                                        <!--<h4 style="margin-top:40px;">@Posted</h4>-->
                                    </div>
                                    <div class="col-xs-8 text-right">
                                        <small class="text-muted">Delivery Schedule</small>
                                        <h3>
                                            {{((totaldeliverySchedulesCount > 0)?totaldeliverySchedulesCount:"N/A")}}
                                        </h3>
                                    </div>
                                </div>
                                <div class="progress m-b-0">
                                    <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" style="width:{{totalAuctionsPendingPercentage}}%;"> <span class="sr-only"></span> </div>
                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="row">
                        <div class="col-md-12">
                            <div class="row">

                                <div class="col-md-6" style="padding-right:0px;padding-left:8px;">
                                    <div class="white-box live-req-section" ng-if="isVendor">
                                        <h3 class="box-title">LEADS</h3>
                                        <div class="table-responsive" style="height:400px;max-height: 400px;overflow-y: auto" ng-if="dashboardStats && dashboardStats.requirementsList && dashboardStats.requirementsList.length > 0">
                                            <table class="table-striped table table-fixed">
                                                <thead>
                                                    <tr>
                                                        <th style="color:white;">Number</th>
                                                        <th style="color:white;">Title</th>
                                                        <!--<th style="color:white;width:20%;"><strong>LEADS</strong></th>-->
                                                        <th style="color:white;">Req Status</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr ng-repeat="req in dashboardStats.requirementsList | limitTo:liveAuctionsTableLimit">
                                                        <td class="">{{req.requirementNumber}}</td>
                                                        <td class=""><a data-ui-sref="view-requirement({Id:req.requirementID})">{{req.title}}</a></td>

                                                        <td ng-if="!isVendor" class="text-center">{{req.noOfVendorsParticipated}} / {{req.noOfVendorsInvited}} </td>
                                                        <td data-title="'Status'" sortable="'Is Closed'">
                                                            {{ prmStatus(isCustomer,req.status)}}
                                                        </td>

                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                        <h4 class="text-center" ng-if="!dashboardStats || !dashboardStats.requirementsList || dashboardStats.requirementsList.length <= 0"> Currently there are no Leads. Kindly post requirements to get more insights</h4>

                                    </div>

                                </div>
                                <div class="col-md-6" style="padding-right:0px;padding-left:8px;">
                                    <div class="white-box live-req-section" ng-if="isVendor">
                                        <h3 class="box-title">PENDING PO's</h3>
                                        <div class="table-responsive" style="height:400px;max-height: 400px;overflow-y: auto" ng-if="purchaseOrders && purchaseOrders.length > 0">
                                            <table class="table-striped table table-fixed">
                                                <thead>
                                                    <tr>
                                                        <th style="color:white;">Purchase Order ID</th>
                                                        <!--<th style="color:white;width:50%;text-align:center;"><strong>PENDING PO's</strong></th>-->
                                                        <th style="color:white;">PO status</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr ng-repeat="po in purchaseOrders">
                                                        <td class="">{{po.PURCHASE_ORDER_ID}}</td>
                                                        <td class="">{{po.PO_STATUS}}</td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                        <h4 class="text-center" ng-if="!purchaseOrders || purchaseOrders.length <= 0"> Currently there are no Pending PO's. </h4>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <!-- col-md-3 -->
                        <div class="col-md-12">
                            <div class="row">
                                <!-- col-md-3 -->
                                <div class="col-md-6">
                                    <div class="white-box live-req-section" ng-if="isVendor" style="padding-right:0px;padding-left:8px;">
                                        <h3 class="box-title">Delivery Scheduled</h3>
                                        <div class="table-responsive" style="height:400px;max-height: 400px;overflow-y: auto" ng-if="deliverySchedules && deliverySchedules.length > 0">
                                            <table class="table-striped table table-fixed">
                                                <thead>
                                                    <tr>
                                                        <th style="color:white;width:30%;">PURCHASE ORDER ID</th>
                                                        <th style="color:white;width:30%;">DELIVERY DATE</th>
                                                        <th style="color:white;width:30%;">QUANITTY</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr ng-repeat="delivery in deliverySchedules">
                                                        <td class="">{{delivery.PURCHASE_ORDER_ID}}</td>
                                                        <td class="">{{delivery.DELIVERY_DATE}}</td>
                                                        <td class="">{{delivery.QUANITTY}}</td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                        <h4 class="text-center" ng-if="!deliverySchedules || deliverySchedules.length <= 0"> Currently there are no Delivery Schedules.</h4>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row header-cards">
                        <div class="col-md-5 col-lg-5" ng-if="!isVendor" style="padding-right:0px;padding-left:8px;">
                            <div class="white-box" ng-if="!isVendor" style="padding:0px">

                                <div class="table-responsive" style="height:400px;max-height: 400px;overflow-y: auto" ng-if="dashboardStats && dashboardStats.requirementsList && dashboardStats.requirementsList.length > 0">
                                    <table class="table-striped table table-fixed">
                                        <thead>

                                            <tr style="font-weight: bold">
                                                <th style="width:30%;">Name</th>
                                                <th style="width:50%;"><strong>Live Requirements</strong></th>
                                                <th style="width:30%;" ng-if="!isVendor">Quotations</th>

                                                <th style="width:20%;" ng-if="isVendor">Price</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr ng-repeat="req in dashboardStats.requirementsList | limitTo:liveAuctionsTableLimit">
                                                <td class="dashboardLiveReqEllipsis"><a class="dashboardLiveReqEllipsis" title="{{req.title}}" data-ui-sref="view-requirement({Id:req.requirementID})">{{req.title}}</a></td>
                                                <td></td>
                                                <td ng-if="!isVendor" class="text-center">{{req.noOfVendorsParticipated}} / {{req.noOfVendorsInvited}} </td>
                                                <td ng-if="isVendor" class="text-center">{{req.savings}}</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <h4 class="text-center" ng-if="!dashboardStats || !dashboardStats.requirementsList || dashboardStats.requirementsList.length <= 0"> Currently there are no Live Requirement. Kindly post requirements to get more insights.</h4>
                                <div class="rq-btm text-right">
                                    <!--<a ng-hide="!dashboardStats || !dashboardStats.requirementsList || dashboardStats.requirementsList.length <= 0" href="#">View more</a>-->
                                </div>
                            </div>

                        </div>
                        <div class="col-md-5" style="padding:0px;">
                            <div class="col-md-12 col-lg-12" ng-if="!isVendor" style="padding-right:0px;padding-left:8px;">
                                <div class="white-box">
                                    <h3 class="box-title " ng-if="!transactionDetailsChartShow">My Transactional Trend</h3>
                                    <hc-chart options="transactionDetails" ng-if="transactionDetailsChartShow">Loading...</hc-chart>
                                    <h4 class="text-center" ng-if="!transactionDetailsChartShow"> Currently there are no transactions. Kindly  post requirements to get more insights.</h4>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-2 col-lg-2" ng-if="!isVendor" style="padding-right:8px;padding-left:8px;">
                            <div class="white-box" ng-if="!isVendor" style="padding:0px">

                                <div class="table-responsive" style="height:400px;max-height: 400px;overflow-y: auto" ng-if=" chartData || chartData.topPerformers || chartData.topPerformers.length > 0">
                                    <table class="table table-fixed">
                                        <thead>
                                            <tr>
                                                <th><strong>Top Performers - Previous Month</strong></th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr ng-repeat="performer in chartData.topPerformers">
                                                <td>
                                                    <div>
                                                        <span>
                                                            <i class="fa fa-user-circle fa-2x"></i>
                                                        </span>
                                                        <span style="color:#337ac7">
                                                            <strong>{{performer.key1}}</strong>
                                                        </span>
                                                        <h5 class="text-muted m-b-0"><strong class="ng-binding" style="color:#ed5789">{{((performer.decimalVal/performer.decimalVal1)*100).toFixed(2)}}%</strong> RFQ- ({{performer.decimalVal}}/{{performer.decimalVal1}})</h5>
                                                    </div>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <h4 class="text-center" ng-if="!chartData || !chartData.topPerformers || chartData.topPerformers.length <= 0"> Currently there are no Top performers. Kindly post requirements to get more insights.</h4>
                                <div class="rq-btm text-right">
                                    <!--<a ng-hide="!dashboardStats || !dashboardStats.requirementsList || dashboardStats.requirementsList.length <= 0" href="#">View more</a>-->
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row header-cards">
                        <div class="col-md-5" style="padding:0px;">
                            <div class="col-md-12 col-lg-12" ng-if="!isVendor" style="padding-right:0px;padding-left:8px;">
                                <div class="white-box">
                                    <h3 class="box-title " ng-if="!monthlyDetailsChartShow">Monthly Average Savings</h3>
                                    <hc-chart options="monthlyDetails" ng-if="monthlyDetailsChartShow">Loading...</hc-chart>
                                    <h4 class="text-center" ng-if="!monthlyDetailsChartShow"> Currently there are no monthly average savings. Kindly  post requirements to get more insights.</h4>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-7" style="padding:0px;">
                            <div class="col-md-6 col-lg-6" ng-if="!isVendor" style="padding-right:0px;padding-left:8px;">
                                <div class="white-box">
                                    <h3 class="box-title " ng-if="!quotationRangeChartShow">Pending Requirement By Value</h3>
                                    <hc-chart options="quotationRange" ng-if="quotationRangeChartShow">Loading...</hc-chart>
                                    <h4 class="text-center" ng-if="!quotationRangeChartShow"> Currently there are no pending Requirements to display. Kindly post requirements to get more insights.</h4>
                                </div>
                            </div>
                            <div class="col-md-6 col-lg-6" ng-if="!isVendor" style="padding-right:8px;padding-left:8px;">
                                <div class="white-box">
                                    <h3 class="box-title " ng-if="!urgencyChartShow">Pending Requirement By Priority</h3>
                                    <hc-chart options="reqUrgency" ng-if="urgencyChartShow">Loading...</hc-chart>
                                    <h4 class="text-center" ng-if="!urgencyChartShow"> Currently there are no pending Requirements to display. Kindly post requirements to get more insights.</h4>
                                </div>
                            </div>
                        </div>

                    </div>

                </div>

            </div>
        </div>
    </div>
</div>
<footer id="footer" data-ng-include src="'template/footer.html'"></footer>