﻿<div class="white-box">
    <div class="row">

        <div ng-controller="RealTimePriceImportController as _realCtrl">


            <div class="pmb-block" >
                <div class="pmbb-header">
                    <div class="row" style="margin-bottom:10px">
                        <div class="col-md-4">
                            <h2 style="display:inline-block;margin:0">
                                <i class="zmdi zmdi-view-list"></i> Real time price Imports
                            </h2>

                        </div>

                    <div class="row" style="margin-bottom:10px">

                        <div class="col-md-12 text-left" style="padding-top:40px;">
                            <div style="margin-right:10px;margin-left:15px;display:inline-block">
                                <span>
                                  Product  Type :
                                </span>
                                <select style="display:inline-block;width:auto;margin-left:15px"  ng-model="_realCtrl.RealTimePriceType" class="form-control">
                                    <option value="">-- select product type --</option>
                                    <option value="1">Chemicals</option>
                                </select>
                            </div>

                            <div style="margin-right:10px;display:inline-block">

                                <button class="btn btn-info"
                                        ng-model="_realCtrl.exportFiles"
                                        ngf-multiple="true"
                                        ngf-pattern="'application/vnd.ms-excel,application/vnd.openxmlformats-officedocument.spreadsheetml.sheet'"
                                        ngf-accept="'application/vnd.ms-excel,application/vnd.openxmlformats-officedocument.spreadsheetml.sheet'"
                                        ngf-max-files="60"
                                        ngf-select="_realCtrl.onFileSelect(_realCtrl.exportFiles)">
                                    Import
                                </button>
                                <button class="btn btn-info"
                                        ng-click="_realCtrl.sendNotification()">
                                    Notify
                                </button>

                            </div>



                        </div>
                    </div>

                </div>

            </div>
        </div>
    </div>
</div>