<div class="col-md-3 oneTile ">
    <div class="card bg-white z-depth-2">
        <div class="ih-item ih-material">
            <a data-ui-sref="view-requirement({Id:item.auctionID})">
                <div class="img" ng-show="false">
                    <img ng-src="data:image/gif;base64,{{item.attachment}}">
                </div>
                <div class="info">
                    <div class="info-mask bg-info"></div>
                    <div class="info-content">
                        <div class="info-inner">
                            <h3>{{item.title}}</h3>
                            <h3>{{item.description}}</h3>
                        </div>
                    </div>
                </div>
            </a>
        </div>
        <div class="card-content">
            <h4 class="titlelink">
                <a  data-ui-sref="view-requirement({Id:item.auctionID})" alt="{{item.title}}">
                    <span class="tileTitle" >{{item.title}}</span>
                </a>
            </h4>
            <div class="row">
                <div class="col-md-6 col-sm-6 col-xs-6 "><b> <i class="fa fa-inr"></i> {{item.price}}</b></div>
                <div class="col-md-6 col-sm-6 col-xs-6 text-right"><span class="bids">{{item.bids}} bid<span ng-show="item.bids != 1">s</span></span></div>
            </div>
            <div class="row reduceseconds">
                <div ng-if="auctionStarted">
                    <button class='btn btn-info btn-sm' href='javascript:void(0);' ng-if="customerBtns" ng-click="updateTime(item.auctionID,-60);" ng-disabled="disablereduceTime">Reduce 60 <sub>sec</sub></button>
                    <button class='btn btn-info btn-sm' href='javascript:void(0);' ng-if="customerBtns" ng-disabled="disableStopBids" ng-click="updateTime(item.auctionID,60);" >Add 60 <sub>sec</sub></button>
                    <button class='btn btn-danger btn-sm' href='javascript:void(0);' data-ui-sref="" ng-if="customerBtns" ng-disabled="disableStopBids" ng-click="stopBids(item.auctionID);" >Stop Bids</button>
                </div>
                <div ng-if="!auctionStarted">
                    <button  data-ui-sref="view-requirement({Id:item.auctionID})" ng-if="customerBtns" class='btn btn-info btn-sm' >Update Time</button>
                    <button class='btn btn-danger btn-sm' ng-if="customerBtns" href='javascript:void(0);' ng-disabled="disableStopBids" ng-click="cancelBid(item.auctionID);" >Cancel</button>
                </div>
    <button  data-ui-sref="view-requirement({Id:item.auctionID})" class='btn btn-info btn-sm' ng-if="vendorBtns">Make a Bid
    </button>

                <!-- <div class="text-center top-buffer col-md-12 fltleft">
                    <div class="form-group fg-float col-sm-12 m-b-30">
                        <div class="fg-line">
                            <input id="makebidvalue" type="number" ng-model="vendorBidPrice" class="form-control fg-input">
                            <label class="fg-label">Bid Amount</label>
                        </div>
                        <div ng-show="bidPriceEmpty">
                            <div class="help-block error logininput" ng-show="bidPriceEmpty">Please enter Bidamount</div>
                        </div>
                        <div ng-show="bidPriceValidation">
                            <div class="help-block error logininput" ng-show="bidPriceValidation">Bidamount be less then min price</div>
                        </div>
                    </div>
                    <div class="text-left top-buffer col-md-4 fltleft">
                        <button class='btn btn-primary btn-sm' href='javascript:void(0);' ng-click="makeaBid()">Make a Bid</button>
                    </div>
                </div> -->

            </div>
        </div>
        <div class="card-action" id="{{item.auctionID}}" ng-if="item.auctionTimerId>0">
            <span ng-show="!auctionStarted">Starts</span>
            <span ng-show="auctionStarted">Ends</span> in: 
            <timer countdown="item.auctionTimerId" interval="1000">
                <span class="countdown_section">
                <span class="countdown_amount">{{days}}:{{hhours}}:{{mminutes}}:{{sseconds}}</span></span>
            </timer>            
        </div>
        <div class="card-action" ng-if="item.auctionTimerId<0" style="height: 58px;font-size: 14px;" class="text-center"> 
            <span class="text-right">Negotiation has not started yet.</span>                     
        </div>
    </div>
</div>