<!--<div class="col-md-3 oneTile ">
    <div class="white-box bg-white z-depth-2">
    <div class="row">
    <div class="table table-responsive z-depth-2 " style="overflow:scroll">
        
            <table ng-table="tctrl.tableSorting" class="table table-striped table-vmiddle" show-filter="false">
               
                <tr ng-repeat-data-ui-sref="view-requirement({Id:item.requirementID})" target="_blank" alt="{{item.title}}">
                    <td data-title="'Item No'" sortable="'Item No'">
                        {{item.requirementID}} 
                    </td>
                    <td data-title="'Title'" sortable="'Title'">
                         {{item.title}}
                    </td>
                    <td data-title="'Category'" sortable="'Category'">
                        {{item.stringCategory}}
                    </td>
                    <td data-title="'L1 Price'" sortable="'L1 Price'">
                        <b ng-bind-html="item.leastVendorPrice | numToCurrency"></b>
                    </td>
                    <td data-title="'Posted'" sortable="'Posted'">
                     {{item.postedOn}}
                    </td>


                </tr>-->
                    <!--<h4>
                        <a data-ui-sref="view-requirement({Id:item.requirementID})" target="_blank" alt="{{item.title}}">
                            <span class="tileTitle prmellipsis"> {{item.requirementID}} : {{item.title}}</span>
                        </a>
                    </h4>
                    <h5>
                        Category : {{item.stringCategory}}
                    </h5>
                    <h5>
                        L1 Price : <b ng-bind-html="item.leastVendorPrice | numToCurrency"></b>
                    </h5>
                    <h5>
                        Posted : {{item.postedOn}}
                    </h5>-->


                    <!--<div>
            <div class="col-md-8 col-sm-8 col-xs-8 ">
                Savings : <b ng-bind-html="item.savings | numToCurrency"></b>
            </div>
            <div class="col-md-4 col-sm-4 col-xs-4 text-right item_rank_c">
                <span class="bids">Vendors: {{(item.vendorsCount==0)?"0":item.vendorsCount}}</span>
            </div>
        </div>-->
</table>
                <!--<div class="row reduceseconds">
                    uc
                    tn
                    <button class='btn btn-primary btn-sm' ng-show="vendorBtns && item.price==0 && !auctionStarted && !isUserOwner">
                        Make a Quotation
                    </button>
                </div>
                
</div>
    </div>
</div>-->

<!--<tr>
    <td>
        {{item.title}}==================================
    </td>
</tr>-->