<div class="white-box">
    <div class="pmb-block" ng-controller="profileLeadsCtrl">
        <div class="pmbb-header">
            <div class="row">
                <div class="col-md-6">
                    <h3 style="margin-bottom:0px;"><i class="zmdi zmdi-view-list"></i> My Leads</h3>
                </div>
                <div class="col-md-12">
                    <div class="col-md-2 m-t-20">
                        <select ng-model="filters.reqStatus" ng-change="getStatusFilter()" class="form-control" style="margin:5px">
                            <option selected value="">ALL STATUS</option>
                            <option value='NEW'>{{prmStatus(isCustomer,'NEW')}}</option>
                            <option value='STARTED'>{{prmStatus(isCustomer,'STARTED')}}</option>
                            <option value='NOTSTARTED'>{{prmStatus(isCustomer,'NOTSTARTED')}}</option>
                            <option value='Negotiation Ended'>{{prmStatus(isCustomer,'Negotiation Ended')}}</option>
                            <option value='DELETED'>{{prmStatus(isCustomer,'DELETED')}}</option>
                            <option value='WIP'>{{prmStatus(isCustomer,'WIP')}}</option>
                            <option value='Closed'>{{prmStatus(isCustomer,'Closed')}}</option>
                        </select>
                    </div>
                    <div class="col-md-2 m-t-20">
                        <select ng-model="filters.priority" ng-change="getStatusFilter()" class="form-control" style="margin:5px">
                            <option selected value="">ALL PRIORITIES</option>
                            <option value='High'>High</option>
                            <option value='Medium'>Medium</option>
                            <option value='Low'>Low</option>
                            <option value='Critical'>Critical</option>
                        </select>
                    </div>
                    <div style="display:inline-block;margin-right:10px;" class="col-md-2 m-t-20">
                        <input class="form-control white attribute-filter ng-pristine ng-valid ng-touched" style="margin:5px" ng-change="getStatusFilter();" ng-model="searchKeyword" type="text" placeholder="Search">
                    </div>
                    <div class="col-md-2">
                        <div class="form-group">
                            <label class="col-md-12">From date</label>
                            <div class="col-md-12" moment-picker="postedFromDate" format="DD-MM-YYYY">
                                <input class="form-control" placeholder="Select a date" ng-model="postedFromDate" ng-model-options="{ updateOn: 'blur' }">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="form-group">
                            <label class="col-md-12">To date</label>
                            <div class="col-md-12" moment-picker="postedToDate" format="DD-MM-YYYY">
                                <input class="form-control" placeholder="Select a date" ng-model="postedToDate" ng-model-options="{ updateOn: 'blur' }">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-1"><button class="btn btn-info pull-right m-t-20 waves-effect waves-light" ng-click="getStatusFilter();">Apply</button></div>

                </div>

                <div class="col-md-6" style="margin-left:0px !important;margin-top:10px;">
                    <!--<div class="col-md-12">
            <button ng-click="downloadTemplate('BULK_MARGIN_VEND_QUOTATION')" class="padding-lft pull-right btn btn-info btn-sm waves-effect editRequirement_btn ng-scope" href="javascript:void(0);">
                Download Quotations Template
            </button>
            <button ng-click="downloadTemplate('BULK_MARGIN_VEND_BIDDING')" class="padding-lft pull-right btn btn-info btn-sm waves-effect editRequirement_btn ng-scope" href="javascript:void(0);">
                Download Negotiations Template
            </button>
            <div class="col-md-2">
                <div class="fileinput fileinput-new" data-provides="fileinput">
                    <span class="btn btn-info btn-file m-r-10">
                        <span class="fileinput-new">Upload Excel</span>
                        <span class="fileinput-exists">Edit</span>
                        <input type="file" accept=".xlsx" id="excelquotation" itemid="excelquotation" ng-file-select-items="onFileSelect($files)" />
                    </span>
                    <span class="fileinput-filename"></span>
                    <a href="#" class="close fileinput-exists" data-dismiss="fileinput">&times;</a>
                </div>
            </div>
        </div>-->
                </div>
            </div>
        </div>        
        <div class="table-responsive z-depth-2">
            <table ng-table="tctrl.tableSorting" class="table table-striped table-vmiddle">
                <tr ng-repeat="auction in myActiveLeads.slice(((currentPage-1)*itemsPerPage), ((currentPage)*itemsPerPage))">
                    <td data-title="'Req Number'" sortable="'ID'">
                        <!--<a class="prmellipsis" data-ui-sref="view-requirement-test({Id:auction.requirementID})">{{ auction.requirementID}}</a>-->
                        {{ auction.requirementNumber}}
                        <!--<a class="prmellipsis" data-ui-sref="view-requirement-price({Id:auction.requirementID})" ng-if="auction.isDiscountQuotation ==0">{{ auction.requirementID}}</a>
        <a class="prmellipsis" data-ui-sref="view-requirement-discount({Id:auction.requirementID})" ng-if="auction.isDiscountQuotation ==1">{{ auction.requirementID}}</a>
        <a class="prmellipsis" data-ui-sref="view-requirement-margin({Id:auction.requirementID})" ng-if="auction.isDiscountQuotation ==2">{{ auction.requirementID}}</a>-->
                    </td>
                    <td data-title="'Title'" sortable="'Name'">
                        <a class="prmellipsis" ng-if="auction.biddingType ==='' || auction.biddingType === 'REVERSE' || auction.biddingType === 'SPOT'" title="{{auction.title}}" data-ui-sref="view-requirement({Id:auction.requirementID})">{{auction.title}}</a>
                        <a class="prmellipsis" ng-if="auction.biddingType === 'TENDER'" title="{{auction.title}}" data-ui-sref="view-tender({Id:auction.requirementID})">{{auction.title}}</a>
                    </td>
                    <!--<td data-title="'Category'" sortable="'Category'">
        {{ auction.category[0]}}
    </td>-->
                    <td data-title="'Price'" sortable="'Budget'">
                        <span ng-bind-html="auction.price | numToCurrency:auction.currency"></span>
                    </td>
                    <td data-title="'Requirement Posted'">
                        {{auction.postedOn}}
                    </td>
                    <td data-title="'Freeze Time'">
                        {{auction.quotationFreezTime}}
                    </td>
                    <td data-title="'Negotiation Start Time'">
                        {{auction.startTime}}
                    </td>
                    <td data-title="'Priority'">
                        {{auction.urgency.split(' ')[0]}}
                    </td>
                    <td data-title="'Status'" sortable="'Is Closed'">
                        <span ng-if="auction.selectedVendorID == 0 && (auction.status != 'NOTSTARTED' || auction.status != 'UNCONFIRMED' || auction.status != 'STARTED')">{{ prmStatus(isCustomer,auction.status)}}</span>
                        <span ng-if="auction.selectedVendorID > 0 && auction.selectedVendorID == uId">{{ prmStatus(isCustomer,auction.status)}}</span>
                        <span ng-if="auction.selectedVendorID > 0 && auction.selectedVendorID != uId">Negotiation Ended</span>
                    </td>
                    <td data-title="'Type'" sortable="'Type'">
                        {{ auction.biddingType}}
                    </td>
                    <td data-title="'Actions'" sortable="''">
                        <a title="Open Chat" role="button" ng-click="chatRequirement(auction)" class=""><i class="fa fa-comment-alt" aria-hidden="true"></i></a>
                        <!--<a title="Requirement PDF" target="_blank" ng-if="auction.reqPDF" href="FileDownload.aspx?attachid={{auction.reqPDF}}&sessionid={{sessionid}}"><i class="fa fa-download"></i></a>-->
                    </td>
                    <!--<td data-title="'Tech Eval'" ng-if="true == true">
    <a title="View Details" role="button" ng-click="goToEvaluation(auction)" class="tm-icon zmdi zmdi-hc-2x zmdi-edit"></a>
    </td>-->
                    <!--<td  data-title="'STATUS'" sortable="'Is Closed'">
    {{ prmStatus(isCustomer,auction.status)}}
    </td>
    <td  data-title="'STATUS'" sortable="'Is Closed'">
        Negotiation Ended
    </td>-->
                </tr>
            </table>
            <ul uib-pagination total-items="totalLeads" ng-model="currentPage" items-per-page="itemsPerPage" max-size="maxSize" ng-change="pageChanged()" class="pagination-sm" boundary-links="true" force-ellipses="true" style="float: right;"></ul>
        </div>
        <div class="clearfix" style="margin-bottom:150px;"></div>
    </div>
</div>