<div class="login-content" data-ng-controller="loginCtrl" >
    <!-- Login -->
    <div class="col-md-8">
        <div>
            <h1 class="openingpage-content">Purchasing is now simplified with PRM360.</h1>
        </div>
        <div class="assurance1">
            Helping Buyers and Sellers Close the Deal In just 15 minutes.
        </div>
        <div class="col-md-8">
            <div class="assurance clearfix">
                <div class="col-md-2">
                    <i class="zmdi zmdi-account-add zmdi-css"></i>
                </div>
                <div class="col-md-10">
                    Effective grading system to build trust among the buyers and sellers.
                </div>
            </div>
            <div class="assurance clearfix">
                <div class="col-md-2">
                    <i class="zmdi zmdi-accounts-outline zmdi-css"></i>
                </div>
                <div class="col-md-10">
                    Customer Relation ship solidified on top of a Reliable Support System.
                </div>
            </div>
            <div class="assurance clearfix">
                <div class="col-md-2">
                    <i class="zmdi zmdi-accounts-alt zmdi-css"></i>
                </div>
                <div class="col-md-10">
                    Vendor Relation ship Management enhanced by continuous Interaction and Communication.
                </div>
            </div>
            <div class="assurance clearfix">
                <div class="col-md-2">
                    <i class="zmdi zmdi-settings zmdi-css"></i>
                </div>
                <div class="col-md-10 ">
                    Fast, Easy & Effective execution, through and through.
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-4">

        <div class="lc-block" id="l-login" data-ng-class="{ 'toggled': login === 1 }" data-ng-controller="resetPassCtrl">

            <img class="logo text-center" src="img/logos/acadslogo_black.png">

            <form ng-submit="forgotPassForm.$valid && resetpassword()" class="forgotPassForm" name="forgotPassForm" novalidate>
                <div class="col-xs-12 padding0 text-right">
                    <a href="prm360.html#/login" tooltip-placement="top" uib-tooltip="Login" class="registerations">Log In</a>
                </div>
                <div class="input-group">
                    <span class="input-group-addon"><!-- <i class="zmdi zmdi-account"></i> --></span>
                    <div class="form-group fg-float">
                        <div class="fg-line input-field">
                            <i class="mdi-social-person-outline prefix"></i>
                            <!-- <input ng-model="user.username" name="username" type="text" class="form-control logininput" id="exampleInputEmail1"
                            ng-change="change()" required /> -->
                            <input ng-model="resetpass.NewPass" id="NewPass" name="NewPass" type="Password" class="form-control fg-input" ng-minlength="6" required>
                            <label class="fg-label" for="NewPass">New Password</label>
                            <!--  <label class="fg-label" for="OTP">Email/Phone No.</label> -->
                        </div>
                        <div ng-show="forgotPassForm.$submitted || forgotPassForm.NewPass.$touched">
                            <div class="help-block error logininput" ng-show="forgotPassForm.NewPass.$error.required">Please enter New Password</div>
                            <div class="help-block error logininput" ng-show="forgotPassForm.NewPass.$error.minlength">Password must be at least 6 characters.</div>
                        </div>
                    </div>
                </div>
                <div class="input-group">
                    <span class="input-group-addon"><!-- <i class="zmdi zmdi-account"></i> --></span>
                    <div class="form-group fg-float">
                        <div class="fg-line input-field">
                            <i class="mdi-social-person-outline prefix"></i>
                            <!-- <input ng-model="user.username" name="username" type="text" class="form-control logininput" id="exampleInputEmail1"
                            ng-change="change()" required /> -->
                            <input ng-model="resetpass.ConfNewPass" id="ConfNewPass" name="ConfNewPass" type="Password" class="form-control fg-input" pw-check="NewPass" required>
                            <label class="fg-label" for="ConfNewPass">Confirm New Password</label>
                            <!--  <label class="fg-label" for="OTP">Email/Phone No.</label> -->
                        </div>
                        <div ng-show="forgotPassForm.$submitted || forgotPassForm.ConfNewPass.$touched">
                            <div class="help-block error logininput" ng-show="forgotPassForm.ConfNewPass.$error.required">Please enter New Password</div>
                            <div class="help-block error logininput" ng-show="!forgotPassForm.ConfNewPass.$error.required && forgotPassForm.ConfNewPass.$error.pwmatch">Passwords don't match.</div>
                        </div>
                    </div>
                </div>
                <div class="clearfix text-right">
                    <button type="submit" class="btn btn-login btn-danger">Submit</button>
                </div>
            </form>
            <!--<div class="col-xs-12 text-center registrationDiv">                
                <div class="text-center">
                    <a href="" tooltip-placement="top" data-ng-click="vendorregistrationbtn()" uib-tooltip="Registration" class="">Registration</a>
                </div>
            </div>-->
        </div>
    </div>
</div>