﻿<!--<header id="header" data-ng-include="'template/header.html'"></header>-->
<div class="fix-header">
    <div id="wrapper">

        <header data-ng-include="'template/header.html'" data-ng-controller="headerCtrl as hctrl"></header>
        <aside id="sidebar" data-ng-include="'template/sidebar-left.html'" data-ng-class="{ 'toggled': mactrl.sidebarToggle.left === true }"></aside>
        <!--<aside id="chat" data-ng-include="'template/chat.html'" data-ng-class="{ 'toggled': mactrl.sidebarToggle.right === true }"></aside>-->
        <div id="page-wrapper">
            <div class="container-fluid" ng-controller="listprv2Ctrl">
                <div class="white-box">
                    <div class="row">
                        <div class="col-md-2" ng-if="prDet.prLevel">
                            <h5><strong>From date</strong></h5>
                            <div class="col-md-12" moment-picker="filters.prFromDate" format="YYYY-MM-DD">
                                <input class="form-control" placeholder="Select a date" ng-model="filters.prFromDate" ng-model-options="{ updateOn: 'blur' }">
                            </div>
                        </div>
                        <div class="col-md-2" ng-if="prDet.prLevel">
                            <h5><strong>To date</strong></h5>
                            <div class="col-md-12" moment-picker="filters.prToDate" format="YYYY-MM-DD">
                                <input class="form-control" placeholder="Select a date" ng-model="filters.prToDate" ng-model-options="{ updateOn: 'blur' }">
                            </div>
                        </div>
                        <div class="col-md-2">
                            <h5><strong>Search</strong></h5>
                            <input class="form-control white attribute-filter ng-pristine ng-valid ng-touched" ng-model="filters.searchKeyword"
                                   ng-model-options="{debounce:1000}" type="text" placeholder="Search" ng-change="setFilters(currentPage-1);">
                        </div>
                        <div class="col-md-1" ng-if="prDet.prLevel"><button class="btn btn-info waves-effect waves-light" style="margin-top: 30px;" ng-click="filterByDate(currentPage-1);">Apply</button></div>
                        <div class="col-md-2" style="margin-top: 30px;">
                            <input class="form-control white attribute-filter ng-pristine ng-valid ng-touched" ng-model="sapPRSearch" type="text" placeholder="Check PR History (SAP)">
                        </div>
                        <div class="col-md-1" style="margin-top: 30px;">
                            <button class="btn btn-sm btn-info pull-right waves-effect waves-light" data-target="#sapHistoryModal" data-toggle="modal" ng-click="getSAPPRHistory();">SAP History</button>
                        </div>

                    </div>

                    <div class="row">
                        <div class="col-md-2" ng-if="prDet.prLevel">
                            <h5><strong>Status</strong></h5>
                            <multiselect class="input-xlarge" multiple="true"
                                         ng-model="filters.newPrStatus"
                                         options="item.name for item in filtersList.statusList"
                                         change="setFilters(currentPage-1)"></multiselect>
                        </div>
                        <div class="col-md-2">
                            <h5><strong>Creator Name</strong></h5>
                            <multiselect class="input-xlarge" multiple="true"
                                         ng-model="filters.requisitionerName"
                                         options="item.name for item in filtersList.requisitionList"
                                         change="setFilters(currentPage-1)"></multiselect>
                        </div>
                        <div class="col-md-2">
                            <h5><strong>Plants</strong></h5>
                            <multiselect class="input-xlarge" multiple="true"
                                         ng-model="filters.plant"
                                         options="item.name for item in filtersList.plantList"
                                         change="setFilters(currentPage-1)"></multiselect>
                        </div>
                        <div class="col-md-2">
                            <h5><strong>Purchase Group Code</strong></h5>
                            <multiselect class="input-xlarge" multiple="true"
                                         ng-model="filters.purcahseGroup"
                                         options="item.name for item in filtersList.purchaseGroupList1"
                                         change="setFilters(currentPage-1)"></multiselect>
                        </div>
                    </div>
                    <div class="row">


                    </div>
                    <div class="row">
                        <div class="col-md-2 m-t-20" ng-if="prDet.prLevel" style="margin-top: 10px;">
                            <button class="btn btn-info btn-sm dropdown-toggle" data-target="#templateSelection" data-toggle="modal" type="button" ng-if="showRequirementButton()"
                                    ng-click="requirementMappingClick()">
                                <i class="fa fa-plus" aria-hidden="true"></i> &nbsp; &nbsp; Post Requirement
                            </button>
                        </div>
                        <div class="col-md-2" ng-if="showRequirementButton()" style="margin-top: 10px;">
                            <div class="col-md-12"><div class="row"><label><strong>PR's Selected</strong></label></div></div>
                            <textarea style="background:#efefef;padding:3px;margin-right:5px;border-radius:4px;margin-bottom:5px;display:inline-block;">{{selectedPRNumbers}}</textarea>
                        </div>
                        <div class="col-md-4" style="margin-top: 10px;" ng-if="showRequirementButton()">
                            <div class="col-md-12"><div class="row"><label><strong>Select Requirement To Link</strong></label></div></div>
                            <div class="col-md-12">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="has-feedback" style="width:200px">
                                            <input class="form-control white attribute-filter ng-pristine ng-valid ng-touched" ng-change="searchRequirement();" ng-model="filters.searchRequirement"
                                                   ng-model-options="{debounce:1000}" type="text" placeholder="Search">
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <multiselect class="input-xlarge" multiple="false" hideoptions="true" fieldtitle="REQ_TITLE"
                                                     fieldtitledefault="Results"
                                                     ng-model="filters.selectedRequirement"
                                                     options="rfq.REQ_TITLE for rfq in filteredRequirements"
                                                     change="selectRequirement()"></multiselect>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row" ng-if="prDet.prLevel">
                        <div class="col-md-12 pull-left" style="margin-bottom:10px">
                            <div class="col-md-2">
                                <div style="border:1px solid #ccc">
                                    <h5 class="text-center" style="margin-top:5px;">New PR's ::  {{ PRStats.newPRs }}</h5>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div style="border:1px solid #ccc">

                                    <h5 class="text-center" style="margin-top:5px;">Partial PR's ::  {{ PRStats.partialPRs }}</h5>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div style="border:1px solid #ccc">
                                    <h5 class="text-center" style="margin-top:5px;">In-Progress PR's ::  {{ PRStats.inProgressPRs }}</h5>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div style="border:1px solid #ccc">
                                    <h5 class="text-center" style="margin-top:5px;">No.of Items in PR'S ::  {{PRStats.totalPRItems}}</h5>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div style="border:1px solid #ccc">
                                    <h5 class="text-center" style="margin-top:5px;">No.of RFQ's Posted ::  {{PRStats.totalRFQPosted}}</h5>
                                </div>
                            </div>
                            <div class="col-md-1" ng-if="prDet.prLevel">
                                <div style="border:1px solid #ccc">
                                    <h5 class="text-center" style="margin-top:5px;" role="button" ng-click="getPRListV2(true)" aria-hidden="true"><i class="fa fa-download"></i>&nbsp;&nbsp; Export</h5>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12 table-responsive z-depth-2">
                            <div class="col-md-12  table-responsive" double-scroll-bar-horizontal>
                                <table class="table table-striped">
                                    <!--table table-bordered table-striped-->
                                    <thead>
                                        <tr style="font-weight: bold">
                                            <th style="min-width:65px;">
                                                ARC
                                                <input type="radio" name="prType" ng-click="handlePRTypeFilter('ARC')" ng-init="filters.prType_old = filters.prType"
                                                       ng-model="filters.prType" value="ARC" />
                                            </th>

                                            <th style="min-width:100px;">
                                                New Req
                                                <input type="radio" name="prType" ng-click="handlePRTypeFilter('NO_RFQ')" ng-init="filters.prType_old = filters.prType"
                                                       ng-model="filters.prType" value="NO_RFQ" />
                                            </th>
                                            <th style="min-width:200px;">
                                                Req. Id
                                            </th>
                                            <th>Link RFQ</th>
                                            <th></th>
                                            <th style="min-width:200px;">PR Number </th>
                                            <th style="min-width:100px;">Item of Requisition</th>
                                            <th style="min-width:100px;">Location </th>
                                            <th style="min-width:150px;">Material</th>
                                            <th style="min-width:150px;">Item Name</th>
                                            <th style="min-width:50px;">Quantity Requested</th>
                                            <th style="min-width:150px;">Unit of Measure </th>
                                            <th style="min-width:200px;">Status</th>
                                            <th style="min-width:200px;">Release Date</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="prDetails in filteredPRList">
                                            <td>
                                                <span class="fa fa-check" ng-show="prDetails.HAS_CONTRACT > 0" role="button" ng-click="navigateToProduct(prDetails)"></span>
                                                <span class="fa fa-times" ng-show="prDetails.HAS_CONTRACT <= 0"></span>
                                            </td>
                                            <td>
                                                <span class="fa fa-check" ng-show="prDetails.HAS_CONTRACT <= 0"></span>
                                                <span class="fa fa-times" ng-show="prDetails.HAS_CONTRACT > 0"></span>
                                            </td>
                                            <td>
                                                <a class="prmellipsis" ng-if="prDetails.REQ_ID" target="_blank" title="{{auction.title}}" data-ui-sref="view-requirement({Id:prDetails.REQ_ID})">{{prDetails.REQ_NUMBER}}</a>
                                                <span ng-if="prDetails.CONTRACT_NUMBER">{{prDetails.CONTRACT_NUMBER}}</span>
                                            </td>
                                            <td>
                                                <i class="fa fa-link" role="button" style="margin-left:10px;" data-target="#linkRFP" data-toggle="modal" aria-hidden="true"
                                                   ng-click="showLinkToRFP(prDetails);" title="Link to RFP"></i>
                                            </td>
                                            <td>
                                                <input type="checkbox" class="top-buffer" ng-model="prDetails.selectPRSForRFQ" role="button"
                                                       ng-show="(prDetails.PR_STATUS === 'New' || prDetails.PR_STATUS === 'Partial') && prDetails.REQ_ID <= 0 && !prDetails.CONTRACT_NUMBER"
                                                       ng-click="createRFQWithMultiplePRV2(prDetails)" />
                                            </td>
                                            <td>
                                                {{prDetails.PR_NUMBER}}
                                            </td>
                                            <td>
                                                <input type="checkbox" class="top-buffer" ng-model="prDetails.isCheckedPrItem" role="button"
                                                       ng-show="prDetails.REQ_ID <= 0 && !prDetails.CONTRACT_NUMBER" ng-click="handleItemLevelSelectV2(prDetails)" />
                                                {{prDetails.ITEM_NUM}}
                                            </td>
                                            <td>
                                                {{prDetails.PLANT}}
                                            </td>
                                            <td>
                                                <a role="button" data-target="#PRItemlevelPrice" ng-click="getItemLevelPrice(prDetails)" data-toggle="modal">{{prDetails.ITEM_CODE}}</a>
                                            </td>
                                            <td>{{prDetails.ITEM_NAME}}</td>
                                            <td>
                                                {{prDetails.REQUIRED_QUANTITY}}
                                            </td>
                                            <td>{{prDetails.UOM}}</td>
                                            <td>
                                                {{prDetails.PR_STATUS}}
                                            </td>
                                            <td>
                                                {{prDetails.RELEASE_DATE}}
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                                <strong>Total Item{s): {{ filteredPRList.length }}</strong>
                                <ul uib-pagination total-items="totalItems" ng-model="currentPage" items-per-page="itemsPerPage" max-size="maxSize" ng-click="setPageV2(currentPage);" class="pagination-sm" boundary-links="true" force-ellipses="true" style="float: right;"></ul>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="pull-right">
                    <div class="modal" id="prItemRequirement" tabindex="-1">
                        <div class="modal-dialog" style="width: 90%;height:90%">
                            <div class="modal-content">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="modal-header">
                                            <button class="close" data-dismiss="modal" style="color:black">&times;</button>
                                            <h4 class="modal-title">&nbsp;&nbsp;Select Requirement</h4>
                                        </div>
                                        <div class="modal-body" style="margin:25px;">
                                            <div class="pmbb-view" style="overflow-wrap: break-word;">
                                                <div class="row" ng-if="ProductRequirements && ProductRequirements.length > 0">
                                                    <h3 style="margin: 50px 0px 0px 20px;">Requirements Found</h3>
                                                    <div class="col-md-12 table-responsive" double-scroll-bar-horizontal>
                                                        <table class="table table-striped table-bordered table-sm">
                                                            <thead>
                                                                <tr>
                                                                    <th style="width:1%;text-align:center">Req Number</th>
                                                                    <th style="width:10%;text-align:center">Title</th>
                                                                    <th style="width:10%;text-align:center">End Date</th>
                                                                </tr>
                                                            </thead>
                                                            <tbody>
                                                                <tr ng-repeat="requirement in ProductRequirements">
                                                                    <td style="text-align:left" width="15%">
                                                                        {{requirement.REQ_NUMBER}}
                                                                    </td>
                                                                    <td style="text-align:left" width="25%">
                                                                        {{requirement.REQ_TITLE}}
                                                                    </td>
                                                                    <td style="text-align:left" width="25%">
                                                                        {{requirement.endTime}}
                                                                    </td>
                                                                </tr>
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                </div>
                                                <div class="row">

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <span class="pull-right">
                    <div class="modal" id="sapHistoryModal" tabindex="-1">
                        <div class="modal-dialog" style="width: 70%;height:100%">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button class="close" data-dismiss="modal" style="color:black">&times;</button>
                                    <h5 class="modal-title">SAP PR History</h5>
                                </div>
                                <div class="modal-body" style="margin:25px;">
                                    <div class="pmbb-view" style="overflow-wrap: break-word;">
                                        <div class="row" style="max-height: 400px; overflow-y: auto;" ng-if="sapPRHistoryList.length>0">
                                            <div class="col-md-12 col-sm-12 col-lg-12 table-responsive">
                                                <table class="table table-hover">
                                                    <thead>
                                                        <tr style="font-weight: bold">
                                                            <th>JOB ID</th>
                                                            <th>PR NUMBER</th>
                                                            <th>Line Item</th>
                                                            <th>Delete Indicator</th>
                                                            <th>Closed Indicator</th>
                                                            <th>Release Date</th>
                                                            <th>Date Created/Updated</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr style="font-weight: bold" ng-repeat="item in sapPRHistoryList">
                                                            <th>{{item.JOB_ID}} </th>
                                                            <th>{{item.PR_NUMBER}}</th>
                                                            <th>{{item.ITEM_OF_REQUESITION}}</th>
                                                            <th>{{item.LOEKZ}}</th>
                                                            <th>{{item.EBAKZ}}</th>
                                                            <th>{{item.RELEASE_DATE}}</th>
                                                            <th>
                                                                {{item.CREATED_DATE}}
                                                            </th>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                        <div class="row" ng-if="sapPRHistoryList.length==0">
                                            <p>
                                                <h5><strong>Oops.. The PR currently being searched is not available in PRM360.</strong></h5><br />
                                                <strong>The following could be the reasons for the same:</strong><br />
                                                <span style="color:red">
                                                    1. Kindly review your date/other filters to ensure valid search<br />
                                                    2. PR Should have been created atleast 30 minutes prior<br />
                                                    3. PR should be in approved status with valid release date<br />
                                                    4. PR should not be in closed status<br />
                                                    5. PR should not be in deleted status<br />
                                                    6. PR should not be in held status<br /><br />
                                                </span>
                                                <strong>Kindly review the same in your SAP and if the above criteria is met but still the PR is not visible here, kindly reach out to SAP Syngene IT Team. For any other assistance, you may reach out to <a href="mailto: CS@PRM360.com">CS@PRM360.com</a> / <a href="mailto: Support@prm360.com">Support@prm360.com</a></strong><br />
                                            </p>
                                        </div><br />
                                        <div class="row" ng-if="sapDeleteIndictaorErrorShow && sapPRHistoryList.length>0">
                                            <p style="color:red;text-align:center"><strong>PR is not found due to Delete Indicator</strong></p>
                                        </div>
                                        <div class="row" ng-if="sapClosedIndicatorErrorShow && sapPRHistoryList.length>0">
                                            <p style="color:red;text-align:center"><strong>PR is not found due to Closed Indicator</strong></p>
                                        </div>
                                        <div class="row" ng-if="sapReleasedDateErrorShow && sapPRHistoryList.length>0">
                                            <p style="color:red;text-align:center"><strong>PR is not found due unavailability of Release Date</strong></p>
                                        </div>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" data-dismiss="modal" class="btn btn-info">Close</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </span>

                <span class="pull-right">
                    <div class="modal" id="linkRFP" tabindex="-1">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button class="close" data-dismiss="modal" style="color:black">&times;</button>
                                    <h4 class="modal-title">Link RFP/RFQ</h4>
                                </div>
                                <div class="modal-body" style="margin:25px;">
                                    <div class="pmbb-view" style="overflow-wrap: break-word;">
                                        <div class="row">
                                            <div class="col-md-6">
                                                <!--<select data-placeholder="Select a RFP..." name="RFP" ng-model="selectedRFP" ng-options="item.title for item in myAuctions1" class="form-control p-0"></select>-->
                                                <div class="multiple-selection-dropdown">
                                                    <div class="selected-items-box">
                                                        --------- Select RFPs ---------
                                                        <span><i class="fa fa-caret-down pull-right" aria-hidden="true"></i></span>
                                                    </div>
                                                    <div class="list">
                                                        <div class="has-feedback" style="width:200px">
                                                            <input class="form-control" ng-change="searchRFPs(rfpSearch);" ng-model="rfpSearch" type="text" placeholder="Title or REQ Number">
                                                            <span class="form-control-feedback">
                                                                <i class="fa fa-search"></i>
                                                            </span>
                                                        </div>
                                                        <ul class="items-list">
                                                            <li ng-repeat="rfq in myAuctionsFiltred">
                                                                <input type="checkbox" ng-model="rfq.isSelected" ng-true-value="true" value="true" />
                                                                <span>{{rfq.REQ_TITLE }} ({{rfq.REQ_NUMBER}})</span>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-2">
                                                <br />
                                                <button type="button"
                                                        class="btn btn-info"
                                                        ng-click="LinkToRFP()">
                                                    Link
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" data-dismiss="modal" class="btn btn-info">Close</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </span>



                <div class="modal" id="PRItemlevelPrice" tabindex="-1">
                    <div class="modal-dialog" style="width: 98%;height:100%">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button class="close" data-dismiss="modal" style="color:black">&times;</button>
                                <h3></h3>
                            </div>
                            <div class="modal-body">
                                <div class="pmbb-view" style="overflow-wrap: break-word; max-height:50%">
                                    <div>
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div>
                                                    <label class="pull-right" ng-if="itemLastPriceArr.length > 0"></label>
                                                </div>
                                                <div class="col-md-12 table-responsive" ng-show="itemLastPriceArr.length > 0">
                                                    <table class="table table-hover ">
                                                        <thead>
                                                            <tr>
                                                                <th>
                                                                    <strong>Req Number</strong>
                                                                </th>
                                                                <th>
                                                                    <strong>Unit Price</strong>
                                                                </th>
                                                                <th>
                                                                    <strong>Quantity</strong>
                                                                </th>
                                                                <th>
                                                                    <strong>Vendor Company Name</strong>
                                                                </th>
                                                                <th>
                                                                    <strong>Date</strong>
                                                                </th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            <tr ng-repeat="itemlast in itemLastPriceArr" ng-style="isBestPrice && {'color':'red'}">
                                                                <td>
                                                                    {{itemlast.requirementNumber}}
                                                                </td>
                                                                <td>
                                                                    {{itemlast.unitPrice}}
                                                                </td>
                                                                <td>
                                                                    {{itemlast.quantity}}
                                                                </td>
                                                                <td>
                                                                    {{itemlast.companyName}}
                                                                </td>
                                                                <td>
                                                                    {{itemlast.currentTime}}
                                                                </td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                                <label style="color:red;margin-left:15px;" ng-if="!itemLastPriceArr || itemLastPriceArr.length <= 0">
                                                    No historical records are currently available in the System.
                                                </label>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="pull-right">
                    <div class="modal" id="templateSelection" tabindex="-1">
                        <div class="modal-dialog" style="width: 90%;height:90%">
                            <div class="modal-content">
                                <div class="row m-t-20 m-l-5">
                                    <!--<div class="col-md-1">
                            <button type="button" ng-click="prRequirementContractToggle = !prRequirementContractToggle" class="btn btn-info">{{prRequirementContractToggle ? 'Select Requirement': 'Select Template (Contract)'}}</button>
                        </div>-->
                                </div>
                                <!-- Contracts Start-->
                                <div class="row" ng-if="prRequirementContractToggle">
                                    <div class="col-md-12">
                                        <div class="modal-header">
                                            <button class="close" data-dismiss="modal" style="color:black">&times;</button>
                                            <h4 class="modal-title">&nbsp;&nbsp;{{(filters.selectedRequirement && filters.selectedRequirement.requirementId) ? 'Click to Continue' : 'Select Template'}} </h4>
                                        </div>
                                        <div class="modal-body" style="margin:25px;">
                                            <div class="pmbb-view" style="overflow-wrap: break-word;">
                                                <div class="row" ng-if="!chooseContractOption">
                                                    <div class="col-md-12" ng-hide="filters.selectedRequirement && filters.selectedRequirement.requirementId">
                                                        <select data-placeholder="Select a Template..." name="template"
                                                                ng-model="selectedTemplate" ng-options="value.TEMPLATE_NAME for value in prmTemplates" class="form-control p-0"></select>
                                                    </div>
                                                    <div class="col-md-12" ng-if="filters.selectedRequirement && filters.selectedRequirement.requirementId">
                                                        Selected Requirement: <strong>{{filters.selectedRequirement.REQ_TITLE}}</strong>
                                                    </div>
                                                </div>

                                                <div class="row" ng-if="contractPODetails.contractTable && contractPODetails.contractTable.length > 0 && ProductContracts && ProductContracts.length > 0">
                                                    <div class="col-md-12" ng-if="!chooseContractOption">&nbsp;</div>
                                                    <div class="col-md-12 table-responsive" double-scroll-bar-horizontal>
                                                        <h3>Contracts Found</h3>
                                                        <table class="table table-striped table-bordered table-sm">
                                                            <thead>
                                                                <tr>
                                                                    <td style="width:1%;text-align:center"></td>
                                                                    <th style="width:1%;text-align:center">Product</th>
                                                                    <th style="width:1%;text-align:center">PR Location</th>
                                                                    <th style="width:10%;text-align:center">PR(s)</th>
                                                                    <th style="width:5%;text-align:center">PR Quantity</th>
                                                                </tr>
                                                            </thead>
                                                            <tbody>
                                                                <tr ng-repeat-start="contactItem in contractPODetails.contractTable">
                                                                    <td style="text-align:center;width:1%;text-align:center">
                                                                        <a role="button" ng-hide="contactItem.expanded" ng-click="contactItem.expanded = true;" title="More Details"><i class="fa fa-angle-right fa-2x"></i></a>
                                                                        <a role="button" ng-hide="!contactItem.expanded" ng-click="contactItem.expanded = false" title="Hide Details"><i class="fa fa-angle-down fa-2x"></i></a>
                                                                    </td>
                                                                    <td style="text-align:left" width="15%">
                                                                        {{contactItem.productName}}
                                                                    </td>
                                                                    <td style="text-align:left" width="25%">
                                                                        {{contactItem.plantCode}}
                                                                    </td>
                                                                    <td style="text-align:left" width="20%">
                                                                        {{contactItem.prNumber}}
                                                                    </td>
                                                                    <td style="text-align:center" width="15%">
                                                                        {{contactItem.prQuantity}}
                                                                    </td>
                                                                </tr>
                                                                <tr ng-repeat-end ng-if="contactItem.expanded">
                                                                    <td colspan="5">
                                                                        <div class="row">
                                                                            <div class="col-md-12">
                                                                                <div class="table-responsive" style="max-height:300px;max-height: 400px;overflow-y: auto">
                                                                                    <h4 style="color:red">{{(contactItem.contactsArrayTemp.length > 0 && contactItem.contactsArray.length <= 0) ? 'No Contract is matched with the PR Location' : ''}}</h4>
                                                                                    <table class="table-striped table table-fixed table-bordered table-sm">
                                                                                        <thead>
                                                                                            <tr style="font-weight: bold">
                                                                                                <th style="width:2%;text-align:center">

                                                                                                </th>
                                                                                                <th style="width:2%;text-align:center"> Vendor</th>
                                                                                                <th style="width:3%;text-align:center"> Contract Number</th>
                                                                                                <th style="width:3%;text-align:center"> Total Quantity</th>
                                                                                                <th style="width:3%;text-align:center"> Utilised Quantity</th>
                                                                                                <th style="width:3%;text-align:center"> Price</th>
                                                                                                <th style="width:3%;text-align:center"> Allocation %</th>
                                                                                                <th style="width:3%;text-align:center"> Qty Selection</th>
                                                                                                <th style="width:1%;text-align:center"> Start Date </th>
                                                                                                <th style="width:1%;text-align:center"> End Date </th>
                                                                                                <!--<th style="width:1%;text-align:center"> Document </th>-->
                                                                                            </tr>
                                                                                        </thead>
                                                                                        <tr ng-repeat="contract in contactItem.contactsArray">
                                                                                            <td style="text-align:center"> <input type="checkbox" ng-model="contract.isSelected" ng-if="!contract.isValid" ng-click="chooseContract()" /> </td>
                                                                                            <td style="text-align:center"> {{contract.companyName}} ({{contract.selectedVendorCode}})</td>
                                                                                            <td style="text-align:center"> {{contract.number}}</td>
                                                                                            <td style="text-align:center"> {{contract.quantity}}</td>
                                                                                            <td style="text-align:center"> {{contract.availedQuantity}}</td>
                                                                                            <td style="text-align:center"> {{contract.price}}</td>
                                                                                            <td style="text-align:center"> {{contract.allocationPercentage}}</td>
                                                                                            <td style="text-align:center">
                                                                                                <input class="form-control" placeholder="Edit Quantity"
                                                                                                       valid-number allow-decimal="false" allow-negative="false"
                                                                                                       ng-model="contract.editQuantity"
                                                                                                       ng-change="validateQuantity(contract)" />
                                                                                                <span ng-if="contract.showQtyErrorMessage" style="color:tomato">{{contract.showQtyErrorMessage}}</span>
                                                                                            </td>
                                                                                            <td style="text-align:center"> {{contract.startTime}} </td>
                                                                                            <td style="text-align:center"> {{contract.endTime}} </td>
                                                                                            <!--<td style="text-align:center"> {{contract.document}} </td>-->
                                                                                        </tr>
                                                                                    </table>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </td>
                                                                </tr>
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                    <!--<div class="col-md-12" style="margin: 20px 0px 0px 0px;" ng-if="chooseContractOption">
                                            <select ng-model="stateDetails.poTemplate" class="form-control p-0" data-placeholder="template" id="template" required="">
                                                <option value="po-contract-domestic-zsdm">Domestic ZSDM</option>
                                                <option value="po-contract-import-zsim">Import ZSIM</option>
                                                <option value="po-contract-bonded-wh">Bonded WH ZSBW</option>
                                                <option value="po-contract-service-zssr">Service ZSSR</option>
                                            </select>
                                        </div>-->
                                                </div>
                                            </div>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" data-target="#potemplateSelection" data-toggle="modal" ng-click="savePOForm()" class="btn btn-info" ng-if="chooseContractOption">Create PO</button>
                                            <button type="button" data-dismiss="modal" ng-disabled="!selectedTemplate.TEMPLATE_ID" ng-if="!chooseContractOption" ng-click="navigateToRequirement()" class="btn btn-info">Continue with Requirement</button>
                                            <button type="button" data-dismiss="modal" ng-click="linkContract()" ng-if="chooseContractOption" class="btn btn-info">Save PR Items With Contract</button>
                                        </div>
                                    </div>
                                </div>
                                <!-- Contracts END-->
                                <!-- Requirements Start-->
                                <div class="row" ng-if="!prRequirementContractToggle">
                                    <div class="col-md-12">
                                        <div class="modal-header">
                                            <button class="close" data-dismiss="modal" style="color:black">&times;</button>
                                            <h4 class="modal-title">&nbsp;&nbsp;Select Requirement</h4>
                                        </div>
                                        <div class="modal-body" style="margin:25px;">
                                            <div class="pmbb-view" style="overflow-wrap: break-word;">
                                                <div class="row" ng-if="ProductRequirements && ProductRequirements.length > 0">
                                                    <h3 style="margin: 50px 0px 0px 20px;">Requirements Found</h3>
                                                    <div class="col-md-12 table-responsive" double-scroll-bar-horizontal>
                                                        <table class="table table-striped table-bordered table-sm">
                                                            <thead>
                                                                <tr>
                                                                    <th style="width:1%;text-align:center"></th>
                                                                    <!--<th style="width:1%;text-align:center">Req Id</th>-->
                                                                    <th style="width:1%;text-align:center">Req Number</th>
                                                                    <th style="width:10%;text-align:center">Title</th>
                                                                    <th style="width:10%;text-align:center">End Date</th>
                                                                </tr>
                                                            </thead>
                                                            <tbody>
                                                                <tr ng-repeat="requirement in ProductRequirements">
                                                                    <td style="text-align:center;width:1%;text-align:center">
                                                                        <input type="radio" ng-model="requirement.isSelected" name="requirement" value="true" />
                                                                    </td>
                                                                    <!--<td style="text-align:left" width="15%">
                                                            {{requirement.requirementId}}
                                                        </td>-->
                                                                    <td style="text-align:left" width="15%">
                                                                        {{requirement.REQ_NUMBER}}
                                                                    </td>
                                                                    <td style="text-align:left" width="25%">
                                                                        {{requirement.REQ_TITLE}}
                                                                    </td>
                                                                    <td style="text-align:left" width="25%">
                                                                        {{requirement.endTime}}
                                                                    </td>
                                                                </tr>
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                </div>
                                                <div class="row">

                                                </div>
                                            </div>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" data-dismiss="modal" ng-click="navigateToQCSForm()" ng-disabled="isRequirementSelected()" class="btn btn-info">Continue</button>
                                        </div>
                                    </div>
                                </div>
                                <!-- Requirements END-->
                            </div>
                        </div>
                    </div>
                </div>


                <div class="pull-right">
                    <div class="modal" id="potemplateSelection" tabindex="-1">
                        <div class="modal-dialog" style="width: 90%;height:90%">
                            <div class="modal-content">
                                <div class="row m-t-20 m-l-5">
                                    <h3 style="margin: 50px 0px 0px 20px;text-align:center">Preview</h3>


                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="modal-body" style="margin:25px;">
                                                <div class="pmbb-view" style="overflow-wrap: break-word;">
                                                    <div class="row" ng-if="ContractRequirements && ContractRequirements.length > 0">
                                                        <div class="col-md-12 table-responsive" double-scroll-bar-horizontal>
                                                            <table class="table table-striped table-bordered table-sm">
                                                                <thead>
                                                                    <tr>
                                                                        <th style="width:5%;text-align:center">REQ ID</th>
                                                                        <th style="width:5%;text-align:center">QCS ID</th>
                                                                        <th style="width:5%;text-align:center">Contract Number</th>
                                                                        <th style="width:10%;text-align:center">Vendor</th>
                                                                        <th style="width:5%;text-align:center">Vendor Site Code</th>
                                                                        <th style="width:10%;text-align:center">Item</th>
                                                                        <th style="width:5%;text-align:center">Quantity</th>
                                                                        <th style="width:5%;text-align:center">Utilized Quantity</th>
                                                                        <th style="width:5%;text-align:center">Contract Price</th>
                                                                        <th style="width:5%;text-align:center">QTY Selected</th>
                                                                        <th style="width:5%;text-align:center">Total Price</th>


                                                                    </tr>
                                                                </thead>
                                                                <tbody>
                                                                    <tr ng-repeat="requirement in ContractRequirements">

                                                                        <td style="text-align:left" width="5%">
                                                                            {{requirement.REQ_ID}}
                                                                        </td>

                                                                        <td style="text-align:left" width="5%">
                                                                            {{requirement.QCS_ID}}
                                                                        </td>
                                                                        <td style="text-align:left" width="5%">
                                                                            {{requirement.contractNumber}}
                                                                        </td>

                                                                        <td style="text-align:left" width="15%">
                                                                            {{requirement.companyName}}
                                                                        </td>

                                                                        <td style="text-align:left" width="5%">
                                                                            {{requirement.VENDOR_SITE_CODE}}
                                                                        </td>

                                                                        <td style="text-align:left" width="15%">
                                                                            {{requirement.ProductName}}
                                                                        </td>

                                                                        <td style="text-align:left" width="5%">
                                                                            {{requirement.quantity}}
                                                                        </td>

                                                                        <td style="text-align:left" width="5%">
                                                                            {{requirement.availedQuantity}}
                                                                        </td>

                                                                        <td style="text-align:left" width="5%">
                                                                            {{requirement.price}}
                                                                        </td>

                                                                        <td style="text-align:left" width="5%">
                                                                            {{requirement.editQuantity}}
                                                                        </td>

                                                                        <td style="text-align:left" width="5%">
                                                                            {{requirement.TOTAL_PRICE}}
                                                                        </td>
                                                                    </tr>
                                                                </tbody>
                                                            </table>
                                                        </div>
                                                    </div>
                                                    <div class="row">

                                                    </div>
                                                </div>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" data-dismiss="modal" ng-click="linkContract()" class="btn btn-info">Generate PO</button>
                                                <button type="button" data-dismiss="modal" ng-click="cancelContractRequirements()" class="btn btn-info">Cancel</button>

                                            </div>
                                        </div>
                                    </div>
                                    <!-- Requirements END-->
                                </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

<footer id="footer" data-ng-include="'template/footer.html'"></footer>
