﻿<div class="fix-header">
    <div id="wrapper">
        <header data-ng-include="'template/header.html'" data-ng-controller="headerCtrl as hctrl"></header>
        <aside data-ng-include="'template/sidebar-left.html'" data-ng-class="{ 'toggled': mactrl.sidebarToggle.left === true }"></aside>
        <div id="page-wrapper">
            <div class="container-fluid">
                <div ng-controller="prActionsCtrl">
                    <h4>PR Details</h4>
                    <fieldset>
                        <div class="row white-box">
                            <div class="col-md-2">
                                <div class="row">
                                    <div class="col-md-12">
                                        <label>PR Code</label>
                                        <input ng-disabled="true" type="text" ng-model="PRDetails.PR_NUMBER" name="prno" id="prno" class="form-control" />
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-2">
                                <div class="row">
                                    <div class="col-md-12">
                                        <label>Status</label>
                                        <select class="form-control" ng-model="PRDetails.PR_STATUS" ng-options="type.value as type.display for type in prStatus"></select>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row white-box">
                            <div class="col-md-2">
                                <div class="row">
                                    <div class="col-md-12">
                                        <label>Comments</label>
                                        <textarea ng-model="PRDetails.COMMENTS" name="prno" id="prno" class="form-control" />
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <!--<label>Do send Communication</label>-->
                                        <input type="checkbox" ng-model="sendcommunication" ng-show="false" value="false" />
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row text-center">
                            <button type="submit" class="btn btn-info btn-file btn-new-look" ng-click="savePr()">Submit</button>
                            <button class="btn btn-info btn-file btn-new-look" ng-click="goToPrList();">Cancel</button>
                            <br />
                        </div>
                    </fieldset>
                </div>
            </div>
        </div>
    </div>
</div>
<footer id="footer" data-ng-include src="'template/footer.html'"></footer>
