﻿<div class="fix-header">
    <div id="wrapper">
        <header data-ng-include="'template/header.html'" data-ng-controller="headerCtrl as hctrl"></header>
        <aside data-ng-include="'template/sidebar-left.html'" data-ng-class="{ 'toggled': mactrl.sidebarToggle.left === true }"></aside>
        <div id="page-wrapper">

            <div class="white-box">
                <div class="pmb-block ng-scope" ng-controller="reqFwdListCtrl">
                    <div class="pmbb-header">
                        <div class="row" style="margin-bottom:10px;">

                            <div>
                                <div class="col-md-3">
                                    <h3 style="display:inline-block;margin:5px">
                                        <i class="zmdi zmdi-view-list"></i>  My Requirements List
                                    </h3>
                                </div>
                                <div class="col-md-2">
                                    <select ng-model="reqStatus" ng-change="getStatusFilter(reqStatus)" class="form-control" style="margin:5px">
                                        <option selected value="ALL">ALL STATUS</option>
                                        <option value='UNCONFIRMED'>UNCONFIRMED</option>
                                        <option value='STARTED'>STARTED</option>
                                        <option value='Not Started'>NOT STARTED</option>
                                        <option value='Negotiation Ended'>NEGOTIATION ENDED</option>
                                        <option value='DELETED'>DELETED</option>
                                    </select>
                                </div>
                                <div style="display:inline-block;margin-right:10px;" class="col-md-2">
                                    <input class="form-control white attribute-filter ng-pristine ng-valid ng-touched" style="margin:5px" ng-change="searchTable(searchKeyword);" ng-model="searchKeyword" type="text" placeholder="Search">
                                </div>
                            </div>
                            <div class="text-right" ng-hide="true">
                                <div class="dropdown btn-group fg-float col-md-2 m-b-30">
                                    <button class="btn btn-info dropdown-toggle" type="button" data-toggle="dropdown" style="margin:5px">
                                        <i class="fa fa-cog" aria-hidden="true"></i> Reports
                                        <span class="caret"></span>
                                    </button>

                                    <ul class="dropdown-menu">
                                        <li><a class="" role="button" data-ui-sref="consalidatedReport()" aria-hidden="true"><strong>Consolidated Report</strong></a></li>
                                    </ul>

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="table table-responsive z-depth-2">

                        <div class="row" style="margin-left:0px !important;margin-top:10px;" ng-hide="true">
                            <div class="col-md-12">
                                <div class="toggle-switch">
                                    <input id="forwardBidding" ng-model="formRequest.isForwardBidding" type="checkbox" hidden="hidden" ng-change="getAuctions()" />
                                    <label for="forwardBidding" class="ts-helper"></label>
                                    <label for="forwardBidding" class="fg-label">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;View Forward Bidding</label>
                                </div>
                            </div>
                        </div>
                        <table ng-table="tctrl.tableSorting" class="table table-vmiddle" show-filter="false">
                            <tr ng-repeat-start="auction in myAuctions.slice(((currentPage-1)*itemsPerPage), ((currentPage)*itemsPerPage))">
                                <td data-title="''">
                                    <a role="button" ng-hide="auction.expanded" ng-click="auction.expanded = true" style="margin-right:15px" title="More Details"><i class="fa fa-angle-right fa-2x"></i></a>
                                    <a role="button" ng-hide="!auction.expanded" ng-click="auction.expanded = false" style="margin-right:15px" title="Hide Details"><i class="fa fa-angle-down fa-2x"></i></a>
                                </td>
                                <td data-title="'Req ID'" sortable="'ID'">
                                    {{ auction.requirementID}}
                                </td>
                                <td data-title="'Title'" sortable="'Name'" ng-if="!formRequest.isForwardBidding">
                                    <a class="prmellipsis" title="{{auction.title}}" data-ui-sref="view-fwd-req({Id:auction.requirementID})">{{auction.title}}</a>
                                </td>
                                <td data-title="'Category'" sortable="'Category'">
                                    {{ auction.category[0]}}
                                </td>
                                <td data-title="'Title'" sortable="'Name'" ng-if="formRequest.isForwardBidding">
                                    <a class="prmellipsis" data-ui-sref="view-fwd-req({Id:auction.requirementID})">{{auction.title}}</a>
                                </td>
                                <td data-title="'Posted By'">{{auction.userName}}</td>
                                <td data-title="'Quotations Status'">{{auction.noOfVendorsParticipated}} / {{auction.noOfVendorsInvited}} </td>
                                <td data-title="'Posted On'">
                                    {{ auction.postedOn}}
                                </td>
                                <td data-title="'Freeze Time'">
                                    {{ auction.quotationFreezTime}}
                                </td>
                                <td data-title="'Negotiation Time'">
                                    <span ng-if="auction.IS_CB_ENABLED == false && auction.status != 'DELETED'">
                                        {{auction.status == 'UNCONFIRMED'? auction.expStartTime : auction.startTime}}
                                    </span>
                                    <span ng-if="auction.IS_CB_ENABLED == true || auction.status == 'DELETED'">
                                        {{auction.expStartTime}}
                                    </span>
                                </td>
                                <td data-title="'STATUS'" sortable="'Is Closed'">
                                    {{ auction.status}}
                                </td>
                                <td data-title="''">
                                    <a title="Clone Requirement" role="button" ng-click="cloneRequirement(auction.requirementID)" class="">Clone</a>
                                </td>

                            </tr>
                            <tr ng-repeat-end ng-if="auction.expanded">
                                <td colspan="11">
                                    <div class="row">
                                        <div class="col-md-4"><strong>Title</strong></div>
                                        <div class="col-md-8">{{auction.title}}</div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-4"><strong>Priority</strong></div>
                                        <div class="col-md-8">{{auction.urgency}}</div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-4"><strong>Delivery Terms</strong></div>
                                        <div class="col-md-8">{{auction.deliveryTime}}</div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-4"><strong>Delivery Location</strong></div>
                                        <div class="col-md-8">{{auction.deliveryLocation}}</div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-4"><strong>Payment Terms</strong></div>
                                        <div class="col-md-8">{{auction.paymentTerms}}</div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-4"><strong>Requirement Type</strong></div>
                                        <div class="col-md-8">
                                            <span ng-if="auction.isDiscountQuotation == 0">PRICE <span ng-if="auction.IS_CB_ENABLED == true">(COUNTER BID)</span> </span>
                                            <span ng-if="auction.isDiscountQuotation == 1">DISCOUNT</span>
                                            <span ng-if="auction.isDiscountQuotation == 2">MARGIN</span>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        </table>
                        <ul uib-pagination total-items="totalItems" ng-model="currentPage" items-per-page="itemsPerPage" max-size="maxSize" ng-change="pageChanged()" class="pagination-sm" boundary-links="true" force-ellipses="true" style="float: right;"></ul>
                    </div>

                    <div class="clearfix" style="margin-bottom:150px;"></div>
                </div>

                <script>
                    function filterText() {
                        var rex = new RegExp($('#filterText').val());
                        if (rex == "/all/") { clearFilter() } else {
                            $('.content').hide();
                            $('.content').filter(function () {
                                return rex.test($(this).text());
                            }).show();
                        }
                    }

                    function clearFilter() {
                        $('.filterText').val('');
                        $('.content').show();
                    }
                </script>

            </div>



        </div>
    </div>
</div>
<footer id="footer" data-ng-include src="'template/footer.html'"></footer>
