﻿
<div class="fix-header">
    <div id="wrapper">
        <header data-ng-include="'template/header.html'" data-ng-controller="headerCtrl as hctrl"></header>
        <!--<aside data-ng-include="'template/sidebar-left.html'" data-ng-class="{ 'toggled': mactrl.sidebarToggle.left === true }"></aside>-->
        <div>
            <div class="container-fluid" ng-controller="workflowApprovalCtrl">
                <div class="white-box">
                    <br />
                    <br />
                    <br />
                    <div class="box-title">
                        <div class="card-header col-md-12">
                            <div class="col-md-6 pull-left">
                                <h3>Workflow - {{itemWorkflow[0].workflowTitle}}</h3>
                            </div>

                        </div>
                    </div>
                    <div class="row">
                        <div class="row text-center"
                             ng-if="itemWorkflow[0].WorkflowTracks && itemWorkflow[0].WorkflowTracks.length > 0">
                            <!--style="margin-left:15px !important; margin-right:15px !important;max-width:100%; overflow-x:auto;"-->
                            <div class="col-md-12">


                                <div class="col-md-6">
                                    <label class="pull-left">Comments</label>
                                    <div class="form-group fg-float bottom-buffer" ng-if="!formRequest.isTabular">
                                        <div class="fg-line input-field" ng-class="{'fg-toggled': true===true}">
                                            <textarea ng-model="WorkflowTrack.comments" id="Comments" name="Comments" rows="3" style="resize: vertical;" class="form-control fg-input"></textarea>
                                        </div>
                                        <div ng-show="commentsError !== ''">
                                            <div class="help-block error logininput" ng-show="commentsError !== ''">{{commentsError}}</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4 pull-left">
                                    <button class="btn btn-danger" ng-click="SaveEmailApproval()">Save</button>
                                </div>
                            </div>
                        </div>
                    </div>


                </div>
            </div>
        </div>

    </div>
</div>
<!--<footer id="footer" data-ng-include src="'template/footer.html'"></footer>-->

