﻿<header data-ng-include="'template/header.html'" data-ng-controller="headerCtrl as hctrl"></header>
<aside data-ng-include="'template/sidebar-left.html'" data-ng-class="{ 'toggled': mactrl.sidebartoggle.left === true }"></aside>
<section id="main">
    <section id="content">
        <div class="container" ng-controller="workflowStatusCtrl">
            <div class="row ">
            </div>
            <div class="card">
                <br />
                <br />
                <br />
                <br />
                <div class="row">
                    <div class="card-header col-md-12">
                        <div class="col-md-6 pull-left">
                            <h3>
                                Workflow Status - {{itemWorkflow[0].workflowTitle}}                                
                            </h3>
                        </div>
                        <div class="col-md-6">
                            <!--<br />
                            <button class="btn btn-info btn-sm pull-right" ng-click="goToModuleView();">
                                View
                                Module
                            </button>-->
                        </div>
                    </div>
                </div>
                <br />
                <div class="card-body card-padding">

                    <div class="row">
                        <div class="col-md-12">
                            <div class="row">
                                <div class="col-md-6" ng-repeat="step in itemWorkflow[0].WorkflowTracks track by $index">
                                    <br />
                                    <br />
                                    <div class="row approvalRowHeight">
                                        <div class="col-md-12">
                                            <P ng-style="step.status == 'APPROVED' && {'color':'#266A2D'} || step.status == 'REJECTED' && {'color':'Red'}">
                                                <strong> {{step.status + ' By '+' - ' + step.approver.desigCode + ' ' + step.department.deptCode }}</strong>
                                            </P>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-md-12 list-group-item" href="#"
                                             ng-style="step.status == 'APPROVED' && {'color':'#266A2D'} || step.status == 'REJECTED' && {'color':'Red'}"
                                             style="min-height:90px;">
                                            <div class="row">
                                                <div class="col-md-1 col-xs-1">
                                                    <h5>{{$index + 1}}. </h5>
                                                </div>
                                                <div ng-class="(isApproverDisable($index) == true?'col-md-10 col-xs-11':'col-md-5 col-xs-5')" title="{{step.comments}}">
                                                    <textarea rows="2" cols="50" ng-model="step.comments" ng-disabled="isApproverDisable($index);" placeholder="Comments" type="text" class="form-control fg-input" style="resize: vertical;"></textarea>
                                                    <lable ng-hide="isApproverDisable($index);" class="text-danger">  {{commentsError}} </lable>
                                                </div>
                                                <div class="col-md-5 col-xs-5" ng-show="!isApproverDisable($index);">
                                                    <div class="row">
                                                        <div class="col-md-4 col-xs-4">
                                                            <i role="button" ng-click="updateTrack(step, 'HOLD')"><i class="fa fa-stop-circle fa-2x" style="color:brown;" title="Hold" aria-hidden="true"></i></i>
                                                            <small>Hold</small>
                                                        </div>
                                                        <div class="col-md-4 col-xs-4">
                                                            <i role="button" ng-click="updateTrack(step, 'APPROVED')"><i class="fa fa-thumbs-up fa-2x" style="color:#266A2D;" title="Approve" aria-hidden="true"></i></i>
                                                            <small>Approve</small>
                                                        </div>
                                                        <div class="col-md-4 col-xs-4">
                                                            <i role="button" ng-click="updateTrack(step, 'REJECTED')"><i class="fa fa-thumbs-down fa-2x" style="color:red;" title="Reject" aria-hidden="true"></i></i>
                                                            <small>Reject</small>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div style='border-bottom:1px solid #ccc;'></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        &nbsp;
                        <div class="col-md-12" ng-show="deptType == 2 && assignToShow == 'APPROVED'">
                            <div class="row">
                                <div class="text-center">
                                    <div class="col-md-4">
                                        &nbsp;
                                        <br />
                                        <b class="pull-left"> Assign To</b>
                                    </div>
                                </div>
                                <div class="col-md-12  list-group-item">
                                    <div class="col-md-4" ng-repeat="purchaseUser in PurchaseDept">
                                        &nbsp;
                                        <input type="checkbox" ng-model="purchaseUser.isIndentAssigned" ng-change="consoleLog(purchaseUser.isIndentAssigned);">&nbsp;{{purchaseUser.firstName + ' ' + purchaseUser.lastName}}
                                    </div>
                                </div>
                                <div class="col-md-12 text-center">
                                    <br />
                                    &nbsp;
                                    <button class="btn-primary btn" ng-click="SaveRFQCreators();">Assign Indent</button>
                                </div>
                            </div>
                            <br />
                        </div>
                    </div>


                </div>
            </div>
        </div>
    </section>
</section>
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br /><br />
<br /><br />
<br /><br />
<br />
<br />
<br />
<br />
<footer id="footer" data-ng-include="'template/footer.html'"></footer>