<a class="btn btn-new-look pull-right add-new-btn" ng-if="userObj.isSuperUser && userObj.credentialsVerified && userDetails.role === 'CUSTOMER' && isOTPVerified && isEmailOTPVerified" ng-click="addUserFunction(1);" data-ng-show="addUser === 0"><b><i class="zmdi zmdi-plus m-r-5"></i> New User</b></a>
<div ng-class="{'pmb-block':addUser==1}" ng-if="userObj.isSuperUser && userObj.credentialsVerified && userDetails.role === 'CUSTOMER' && isOTPVerified && isEmailOTPVerified && (showAccess || addUser == 1)">
    
    <div class="pmbb-body" data-ng-show="addUser === 1">
        <div class="pmbb-header" class="pmbb-edit">
            <h2><i class="zmdi zmdi-plus m-r-5"></i> New User</h2>
        </div>
        <form name="vendorregisterForm" data-ng-submit="AddNewUser()" class="pmbb-edit">            
            <div class="input-group col-sm-12">
                <div class="form-group fg-float">
                    <div class="fg-line input-field fg-toggled">
                        <i class="mdi-social-person-outline prefix"></i>
                        <input ng-model="addnewuserobj.firstName" name="firstName" type="text" class="form-control logininput" id="firstName" required />                        
                        <label class="fg-label" for="firstName">First Name</label>
                    </div>
                    <div ng-show="vendorregisterForm.$submitted || vendorregisterForm.firstName.$touched">
                        <div class="help-block error logininput" ng-show="vendorregisterForm.firstName.$error.required">Please enter First Name</div>
                    </div>
                </div>
            </div>
            <div class="input-group col-sm-12">
                <div class="form-group fg-float">
                    <div class="fg-line input-field fg-toggled">
                        <i class="mdi-social-person-outline prefix"></i>
                        <input ng-model="addnewuserobj.lastName" name="lastName" type="text" class="form-control logininput" id="lastName" required />
                        <label class="fg-label" for="lastName">Last Name</label>
                    </div>
                    <div ng-show="vendorregisterForm.$submitted || vendorregisterForm.lastName.$touched">
                        <div class="help-block error logininput" ng-show="vendorregisterForm.lastName.$error.required">Please enter Last Name</div>
                    </div>
                </div>
            </div>

            <div class="input-group col-sm-12">
                <div class="form-group fg-float">
                    <div class="fg-line input-field fg-toggled">
                        <i class="mdi-social-person-outline prefix"></i>
                        <input ng-model="addnewuserobj.email" ng-blur="checkUserUniqueResult('EMAIL',addnewuserobj.email)" name="email" type="email" class="form-control logininput" id="exampleInputEmail1" ng-change="EmailValidateVendor()" ;
                               required />
                        <label class="fg-label" for="email">Email Address</label>
                    </div>
                    <div ng-show="vendorregisterForm.$submitted || vendorregisterForm.email.$touched">
                        <div class="help-block error logininput" ng-show="vendorregisterForm.email.$error.required">Please enter Email</div>
                        <div class="help-block error logininput" ng-show="!vendorregisterForm.email.$error.required && vendorregisterForm.email.$error.email">Please enter a valid Email</div>
                    </div>
                    <div class="help-block error logininput" ng-show="checkEmailUniqueResult">Email already exists</div>
                </div>
            </div>

            <div class="input-group col-sm-12">
                <div class="form-group fg-float">
                    <div class="fg-line input-field fg-toggled">
                        <i class="mdi-social-person-outline prefix"></i>
                        <input type="number" ng-change="change()" ng-model="addnewuserobj.phoneNum" name="phoneNum" class="form-control logininput" id="phoneNum" ng-minlength="10" ng-maxlength="10"
                               ng-blur="checkUserUniqueResult('PHONE',addnewuserobj.phoneNum)" required />
                        <label class="fg-label" for="phoneNum">Phone Number</label>
                    </div>
                    <div ng-show="vendorregisterForm.$submitted || vendorregisterForm.phoneNum.$touched">
                        <div class="help-block error logininput" ng-show="vendorregisterForm.phoneNum.$error.required">Please enter Phone Number</div>
                        <div class="help-block error logininput" ng-show="addnewuserobj.phoneNum.$error.number">Please enter a valid phonenumber</div>
                        <div class="help-block error logininput nowrap" ng-show="vendorregisterForm.phoneNum.$error.minlength">Phone Number must be exactly 10 digits.</div>
                        <div class="help-block error logininput nowrap" ng-show="vendorregisterForm.phoneNum.$error.maxlength">Phone Number must be exactly 10 digits.</div>
                    </div>
                    <div class="help-block error logininput" ng-show="checkPhoneUniqueResult && !vendorregisterForm.phoneNum.$error.minlength && !vendorregisterForm.phoneNum.$error.minlength && !vendorregisterForm.phoneNum.$error.required">Phone number already exists</div>
                </div>
            </div>

            <div class="input-group col-sm-12">
                <div class="form-group fg-float">
                    <div class="fg-line input-field fg-toggled">
                        <i class="mdi-social-person-outline prefix"></i>
                        <select ng-model="addnewuserobj.category" name="category" class="form-control" ng-options="category for category in addVendorCats" data-placeholder="Select a category...">
                            <option value="">All Categories</option>
                        </select>
                    </div>
                </div>
            </div>

            <div class="input-group col-sm-12">
                <div class="form-group fg-float">
                    <div class="fg-line input-field fg-toggled">
                        <i class="mdi-social-person-outline prefix"></i>
                        <select ng-model="addnewuserobj.currency" name="currency" class="form-control" ng-options="currency.value for currency in currencies" data-placeholder="Select a currency..." required>
                            <!--<option value="">Select a Currency</option>-->
                        </select>
                    </div>
                    <div ng-show="vendorregisterForm.$submitted || vendorregisterForm.currency.$touched">
                        <div class="help-block error logininput" ng-show="vendorregisterForm.currency.$error.required">Please select Currency</div>
                    </div>
                </div>
            </div>

            <div class="m-t-30">
                <button type="submit" class="btn btn-primary btn-sm btn-new-look">Save</button>
                <button class="btn btn-link btn-sm" data-ng-click="addUserFunction(0);">Cancel</button>
            </div>
        </form>
    </div>
</div>
<div class="pmb-block" ng-if="!showAccess">
    <div class="pmbb-header">
        <h2><i class="zmdi zmdi-view-list"></i> Active Sub Users</h2>
    </div>
    <div class="table-responsive z-depth-2">
        <table ng-table="tctrl.tableSorting" class="table table-striped table-vmiddle" show-filter="false">
            <tr ng-repeat="user in subUsers">
                <td data-title="'User Name'" sortable="'Name'">
                    {{user.firstName + ' ' + user.lastName}}</a>
                </td>
                <td data-title="'EMAIL'">
                    {{ user.email}}
                </td>
                <td data-title="'PHONE'">
                    {{ user.phoneNum}}
                </td>
                <td data-title="'ACTIONS'">
                    <button class="btn btn-warning" ng-click="deleteUser(user.userID)">De-Activate</button>
                </td>
                <td data-title="'ACCESS'">
                    <button class="btn btn-warning" ng-click="loadAccess(true, user.userID, user.firstName + ' ' + user.lastName)">Access</button>
                </td>
            </tr>
        </table>
    </div>
</div>
<div class="pmb-block" ng-if="!showAccess">
    <div class="pmbb-header">
        <h2><i class="zmdi zmdi-view-list"></i> Inactive Sub Users</h2>
    </div>
    <div class="table-responsive z-depth-2">
        <table ng-table="tctrl.tableSorting" class="table table-striped table-vmiddle" show-filter="false">
            <tr ng-repeat="user in inactiveSubUsers">

                <td data-title="'User Name'" sortable="'Name'">
                    {{user.firstName + ' ' + user.lastName}}</a>
                </td>

                <td data-title="'EMAIL'">
                    {{ user.email}}
                </td>

                <td data-title="'PHONE'">
                    {{ user.phoneNum}}
                </td>

                <td data-title="'ACTIONS'">
                    <button class="btn btn-success" ng-click="activateUser(user.userID)">Activate</button>

                </td>
            </tr>
        </table>
    </div>
</div>      



<div class="pmb-block" ng-if="showAccess">
    <div class="pmbb-header">
        <h2><i class="zmdi zmdi-view-list"></i> Access Levels (<strong> {{UserName}}</strong> )</h2>
    </div>
    <div class="table-responsive z-depth-2">
        <table ng-table="tctrl.tableSorting" class="table table-striped table-vmiddle" show-filter="false">
            <tr ng-repeat="entitlement in subuserentitlements">
                <td data-title="'User Name'" sortable="'Name'">
                    <input type="checkbox" ng-change="validateAccess(entitlement.isEntitled, entitlement.accessType)" ng-model="entitlement.isEntitled">&nbsp;&nbsp;{{entitlement.accessType}}</input>
                </td>
            </tr>
        </table>
    </div>
    <br/>
    <button class="btn btn-warning" ng-click="saveUserAccess()">Save</button>
    <button class="btn btn-warning" ng-click="loadAccess(false, 0, '')">Cancel</button>
</div>
   