﻿<header id="header" data-ng-include="'template/header.html'"></header>
<section id="main">
    <aside id="sidebar" data-ng-include="'template/sidebar-left.html'" data-ng-class="{ 'toggled': mactrl.sidebarToggle.left === true }"></aside>
    <aside id="chat" data-ng-include="'template/chat.html'" data-ng-class="{ 'toggled': mactrl.sidebarToggle.right === true }"></aside>
    <section id="content">
        <div class="container" ng-controller="storeitempropertiesCtrl">
            <div class="row ">
            </div>
            <div class="card">
                <div class="card-header col-md-12">
                    <div class="col-md-6 pull-left">
                        <h3>Store Item Properties</h3>
                    </div>

                    <div class="col-md-8 pull-right">
                        <div class="col-md-3 top-buffer pull-right">
                            <button class="btn btn-info btn-file btn-new-look" ng-click="showSavePropertyFunction(true);">Add New Property</button>
                        </div>
                        <div class="col-md-2 top-buffer pull-right">
                            <button class="btn btn-info btn-file btn-new-look" ng-click="exportItemsToExcel();">Export</button>
                        </div>

                        <div class="col-md-2 top-buffer pull-right">
                            <div class="fileinput fileinput-new" data-provides="fileinput">
                                <span class="btn btn-info btn-file m-r-10">
                                    <span class="fileinput-new">Upload Excel</span>
                                    <span class="fileinput-exists">Edit</span>
                                    <input type="file" accept=".xlsx" id="excelItemProperties" itemid="excelItemProperties" ng-file-select-items="onFileSelect($files)" />
                                </span>
                                <span class="fileinput-filename"></span>
                                <a href="#" class="close fileinput-exists" data-dismiss="fileinput">&times;</a>
                            </div>
                        </div>

                        <div class="col-md-2 top-buffer pull-right">
                            <button class="btn btn-info btn-file btn-new-look" ng-click="cancelClick();">Back</button>
                        </div>
                    </div>
                </div>

                <div class="card-body card-padding">                                                                              
                    <div class="row">
                        <div class="row" ng-if="showSaveProperty" id="storeItemProperty">
                        <div class="col-md-12">
                            <div class="form-group fg-float col-md-4 m-b-30">
                                <div class="fg-line" ng-class="{'fg-toggled': (isEdit===true || storeItemProperty.custPropCode)}">
                                    <input type="text" ng-model="storeItemProperty.custPropCode" name="custPropCode" id="custPropCode" class="form-control fg-input" />
                                    <label class="fg-label">Property Name</label>
                                </div>
                            </div>

                            <div class="form-group fg-float col-md-4 m-b-30">

                                <div class="fg-line input-field" ng-class="{'fg-toggled': (isEdit===true || true)}">
                                    <i class="mdi-social-person-outline prefix"></i>
                                    <select chosen data-placeholder="ItemType" name="ItemType" ng-model="storeItemProperty.custPropType" required class="form-control">
                                        <option ng-selected="storeItemProperty.custPropType == 'String'" value="String">Text</option>
                                        <option ng-selected="storeItemProperty.custPropType == 'Number'" value="Number">Number</option>
                                        <option ng-selected="storeItemProperty.custPropType == 'Datetime'" value="Datetime">Date</option>
                                    </select>
                                    <label class="fg-label" for="role">Property Type</label>
                                </div>
                            </div>
                        </div>

                       <div class="col-md-12">
                            <div class="form-group fg-float col-md-4 m-b-30">
                                <div class="fg-line" ng-class="{'fg-toggled': (isEdit===true || storeItemProperty.custPropDefault)}">
                                    <input type="text" ng-model="storeItemProperty.custPropDefault" name="custPropDefault" id="custPropDefault" class="form-control fg-input" />
                                    <label class="fg-label">Default Value</label>
                                </div>
                            </div>
                            <div class="form-group fg-float col-md-4 m-b-30">
                                <div class="fg-line" ng-class="{'fg-toggled': (isEdit===true || storeItemProperty.custPropValue)}">
                                    <input type="text" ng-model="storeItemProperty.custPropValue" name="custPropValue" id="custPropValue" class="form-control fg-input" />
                                    <label class="fg-label">Propert Value</label>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group fg-float col-md-8 m-b-30">
                                <div class="fg-line" ng-class="{'fg-toggled': (isEdit===true || storeItemProperty.custPropDesc)}">
                                    <input type="text" ng-model="storeItemProperty.custPropDesc" name="custPropDesc" id="custPropDesc" class="form-control fg-input" />
                                    <label class="fg-label">Property Description</label>
                                </div>
                            </div>
                        </div>
                    </div>
                    </div>

                    <div class="row text-center" ng-if="showSaveProperty">
                        <button class="btn btn-info btn-file btn-new-look" ng-click="savestoreitemprop(storeItemProperty, false)">Save Details</button>
                        <button class="btn btn-info btn-file btn-new-look" ng-click="showSavePropertyFunction(false);">Cancel</button>
                    </div>

                    <div class="row text-center">
                        <div class="pmbb-header text-center">
                            <div class="row text-center col-md-12">
                                <div class="col-md-2">
                                    <h4>Name</h4>
                                </div>
                                <div class="col-md-2">
                                    <h4>Type</h4>
                                </div>
                                <div class="col-md-2">
                                    <h4>Value </h4>
                                </div>
                                <div class="col-md-2">

                                </div>
                                <div class="col-md-2">

                                </div>
                            </div>
                            <div class="pmbb-body" ng-repeat="itemProperty in storeItemProperties track by $index">
                                <div class="pmbb-view col-md-12">
                                    <div class="col-md-2">
                                        {{itemProperty.custPropCode}}
                                    </div>
                                    <div class="col-md-2">
                                        <select chosen data-placeholder="custPropType" name="custPropType" ng-model="itemProperty.custPropType" required class="form-control">
                                            <option ng-selected="itemProperty.custPropType == 'String'" value="String">Text</option>
                                            <option ng-selected="itemProperty.custPropType == 'Number'" value="Number">Number</option>
                                            <option ng-selected="itemProperty.custPropType == 'Datetime'" value="Datetime">Date</option>
                                        </select>
                                    </div>
                                    <div class="col-md-2">
                                        {{itemProperty.custPropValue}}
                                    </div>
                                    <div class="col-md-2">
                                        <input type="text" ng-model="itemProperty.custPropValue" />
                                    </div>
                                    <div class="col-md-2">
                                        <a title="Save details" ng-click="savestoreitemprop(itemProperty, true);" class="zmdi zmdi-check zmdi-hc-2x" style="width:30px; height:30px"></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                      </div>
                   </div>
            </div>
        </div>
    </section>
</section>

<footer id="footer" data-ng-include="'template/footer.html'"></footer>