﻿<!--<header id="header" data-ng-include="'template/header.html'"></header>-->
<div class="fix-header">
    <div id="wrapper">

        <header data-ng-include="'template/header.html'" data-ng-controller="headerCtrl as hctrl"></header>
        <aside id="sidebar" data-ng-include="'template/sidebar-left.html'" data-ng-class="{ 'toggled': mactrl.sidebarToggle.left === true }"></aside>
        <div id="page-wrapper">
            <div class="container-fluid" ng-controller="contractUtilisationCtrl">
                <div class="white-box">
                    <div class="row">
                        <div class="col-md-3">
                            <h5><strong>Contract</strong></h5>
                            <multiselect class="input-xlarge" multiple="true"
                                         ng-model="filters.contracts"
                                         options="item.name for item in filtersList.contractList"
                                         change="setFilters(currentPage-1)"></multiselect>
                        </div>

                        <div class="col-md-3">
                            <h5><strong>PR</strong></h5>
                            <multiselect class="input-xlarge" multiple="true"
                                         ng-model="filters.pr"
                                         options="item.name for item in filtersList.prList"
                                         change="setFilters(currentPage-1)"></multiselect>
                        </div>

                        <div class="col-md-3">
                            <h5><strong>PO</strong></h5>
                            <multiselect class="input-xlarge" multiple="true"
                                         ng-model="filters.po"
                                         options="item.name for item in filtersList.poList"
                                         change="setFilters(currentPage-1)"></multiselect>
                        </div>

                        <div class="col-md-3">
                            <h5><strong>Products</strong></h5>
                            <multiselect class="input-xlarge" multiple="true"
                                         ng-model="filters.products"
                                         options="item.name for item in filtersList.productList"
                                         change="setFilters(currentPage-1)"></multiselect>
                        </div>

                        <div class="col-md-3">
                            <h5><strong>Vendors</strong></h5>
                            <multiselect class="input-xlarge" multiple="true"
                                         ng-model="filters.vendors"
                                         options="item.name for item in filtersList.vendorList"
                                         change="setFilters(currentPage-1)"></multiselect>
                        </div>
                        <div class="col-md-3" style="margin-top: -3px;">
                            <label class="col-md-12"><h5><strong>From date</strong></h5></label>
                            <div class="col-md-12" moment-picker="filters.fromDate" format="YYYY-MM-DD">
                                <input class="form-control" placeholder="Select a date" ng-model="filters.fromDate" ng-model-options="{ updateOn: 'blur' }">
                            </div>
                        </div>
                        <div class="col-md-3" style="margin-top: -3px;">
                            <label class="col-md-12"><h5><strong>To date</strong></h5></label>
                            <div class="col-md-12" moment-picker="filters.toDate" format="YYYY-MM-DD">
                                <input class="form-control" placeholder="Select a date" ng-model="filters.toDate" ng-model-options="{ updateOn: 'blur' }">
                            </div>
                        </div>
                        <div class="col-md-1" ><button class="btn btn-info pull-right m-t-20 waves-effect waves-light" 
                                                       ng-click="setFilters(0);">Apply</button></div>
                        <!--<div class="col-md-3">
        <h5><strong>Search</strong></h5>
        <input class="form-control white attribute-filter ng-pristine ng-valid ng-touched" ng-change="setFilters(currentPage-1);" ng-model="filters.searchKeyword"
               ng-model-options="{debounce:1000}" type="text" placeholder="Search">
    </div>-->
                        <!--<div class="col-md-3">
        <button ng-click="GetReport()" ng-show="!downloadExcel" style="margin-top: 30px;" class="pull-right btn btn-info ng-scope pull-left">
            Export
        </button>
        <img id="mySpinner" ng-show="downloadExcel" align="middle" src="img/AcadsLoding.gif" />
    </div>-->

                    </div>
                    <div class="row">&nbsp;</div>
                    <div class="row">
                        <div class="col-md-12  table-responsive" double-scroll-bar-horizontal>
                            <table class="table table-striped">
                                <thead>
                                    <tr style="font-weight: bold">
                                        <th style="min-width:100px;">Contract Number</th>
                                        <th style="min-width:100px;">Product Name</th>
                                        <th style="min-width:100px;">Vendor Name</th>
                                        <th style="min-width:100px;">Plant Code</th>
                                        <th style="min-width:100px;">PR Number</th>
                                        <th style="min-width:100px;">PR Line Item</th>
                                        <th style="min-width:100px;">PO Number</th>
                                        <th style="min-width:100px;">PO Line Item</th>
                                        <th style="min-width:100px;">Quantity Utilised</th>
                                        <th style="min-width:100px;">Created By</th>
                                        <th style="min-width:100px;">Created On</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="contract in contractUtilised">
                                        <td>{{contract.CONTRACT_NUMBER}}</td>
                                        <td>{{contract.PRODUCT_NAME}}</td>
                                        <td>{{contract.VENDOR_COMP_NAME}}</td>
                                        <td>{{contract.PLANT_CODE}}</td>
                                        <td>{{contract.PR_NUMBER}}</td>
                                        <td>{{contract.PR_LINE_ITEM}}</td>
                                        <td>{{contract.PO_NUMBER}}</td>
                                        <td>{{contract.PO_LINE_ITEM}}</td>
                                        <td>{{contract.QTY_UTILISED}}</td>
                                        <td>{{contract.CREATED_BY_NAME}}</td>
                                        <td>{{contract.DATE_CREATED}}</td>
                                    </tr>
                                </tbody>
                            </table>
                            <!--<strong>Displaying: {{ pageSizeTemp }} - {{ ((pageSizeTemp +9)>PRStats.totalPRs)?(PRStats.totalPRs):(pageSizeTemp+9) }} of {{ PRStats.totalPRs }}</strong>-->
                            <ul uib-pagination total-items="totalItems" ng-model="currentPage" items-per-page="itemsPerPage" max-size="maxSize" ng-click="setPage(currentPage)" class="pagination-sm" boundary-links="true" force-ellipses="true" style="float: right;"></ul>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

<footer id="footer" data-ng-include="'template/footer.html'"></footer>
