﻿<div class="fix-header">
    <div id="wrapper">
        <header data-ng-include="'template/header.html'" data-ng-controller="headerCtrl as hctrl"></header>
        <aside data-ng-include="'template/sidebar-left.html'" data-ng-class="{ 'toggled': mactrl.sidebartoggle.left === true }"></aside>
        <div id="page-wrapper">
            <div ng-controller="createProductContractCtrl">
                <div class="white-box">
                    <div class="pmb-block">
                        <div style="padding-left:20px">
                            <div>

                                <div class="row m-b-10">
                                    <div class="col-md-3" ng-if="(stateName == 'costProductContract' || stateName == 'importProductContract')">
                                        <div class="row">
                                            <div class="col-md-12">
                                                <label>Contract Start Info</label>
                                                <div moment-picker="qcsvendordetails.startTime" format="DD-MM-YYYY">
                                                    <input name="startTime" id="startTime"
                                                           class="form-control"
                                                           placeholder="Select a start date"
                                                           style="{{qcsvendordetails.startTimeError}}"
                                                           title="{{qcsvendordetails.startTime}}"
                                                           ng-model="qcsvendordetails.startTime" ng-model-options="{ updateOn: 'blur' }" />
                                                    <label ng-if="qcsvendordetails.startTimeError" style="color:red">
                                                        Please Select Contract Start Info
                                                    </label>
                                                </div>
                                            </div>
                                        </div>

                                    </div>

                                    <div class="col-md-3" ng-if="(stateName == 'costProductContract' || stateName == 'importProductContract')">
                                        <div class="row">
                                            <div class="col-md-12">
                                                <label>Contract End Info</label>
                                                <div moment-picker="qcsvendordetails.endTime" format="DD-MM-YYYY">
                                                    <input name="endTime" id="endTime"
                                                           class="form-control"
                                                           placeholder="Select a end date"
                                                           style="{{qcsvendordetails.endTimeError}}"
                                                           title="{{qcsvendordetails.endTime}}"
                                                           ng-model="qcsvendordetails.endTime" ng-model-options="{ updateOn: 'blur' }" />
                                                    <label ng-if="qcsvendordetails.endTimeError" style="color:red">
                                                        Please select Contract End Info
                                                    </label>
                                                </div>
                                            </div>

                                        </div>
                                    </div>

                                    <div class="col-md-3" ng-if="(stateName == 'costProductContract' || stateName == 'importProductContract')">
                                        <button class="btn btn-info" ng-click="updateDateForAllItems()" style="position: relative;top: 20px;">
                                            Update Date For All Items
                                        </button>
                                    </div>

                                </div>

                                <div class="row">
                                    <div class="white-box">
                                        <div class="row" ng-repeat="selectedVendors in ContractVendors">
                                            <h3 class="text-warning" ng-if="selectedVendors.vendorName">
                                                <i class="fa-2x fa fa-angle-right" ng-click="selectedVendors.showData = false" ng-if="selectedVendors.showData"></i>
                                                <i class="fa-2x fa fa-angle-down" ng-click="selectedVendors.showData = true" ng-if="!selectedVendors.showData"></i>
                                                <span style="position: relative;top: -8px;">Vendor : {{selectedVendors.vendorName}}</span>
                                            </h3>
                                            <div class="white-box col-md-12" ng-if="selectedVendors.vendorName" ng-repeat="selectedProductContract in selectedVendors.QCS_VENDOR_CONTRACT_ITEMS">
                                                <i class="fa-2x fa fa-angle-right" ng-click="selectedVendors.showItemData = false;selectedVendors.showData = false" ng-if="selectedVendors.showData"></i>
                                                <i class="fa-2x fa fa-angle-down" ng-click="selectedVendors.showItemData = true;selectedVendors.showData = true" ng-if="!selectedVendors.showData"></i>
                                                <span style="position: relative;top: -5px;">Item {{$index + 1}} : {{selectedProductContract.ProductName}}</span>

                                                <div ng-if="!selectedVendors.showData">
                                                    <div class="row">
                                                        <div class="col-md-2">
                                                            <label>Number</label>
                                                            <input required type="text" placeholder="Number" class="form-control"
                                                                   name="number" ng-model="selectedProductContract.number" style="border:{{contract.errorColorNum}};"
                                                                   ng-disabled="true" />
                                                        </div>
                                                        <div class="col-md-2">
                                                            <label>Contract Price <span class="text-danger">*</span></label>
                                                            <input type="text" valid-number allow-decimal="true" allow-negative="false" placeholder="Value" class="form-control" name="value" ng-change="calculateNetPrice(selectedProductContract);"
                                                                   ng-model="selectedProductContract.value" style="border:{{selectedProductContract.errorColorVal}};"
                                                                   ng-disabled="selectedProductContract.isDisabled" />
                                                        </div>
                                                        <div class="col-md-2">
                                                            <label>Quantity<span class="text-danger">*</span></label>
                                                            <input type="text" valid-number allow-decimal="true" allow-negative="false" placeholder="Quantity" class="form-control" name="quantity" ng-model="selectedProductContract.quantity"
                                                                   style="border:{{selectedProductContract.errorColorQty}};" ng-change="validateMatry()" ng-disabled="selectedProductContract.isDisabled" />
                                                        </div>
                                                        <div class="col-md-2">
                                                            <label>Availed Quantity</label>
                                                            <input type="text" valid-number allow-decimal="true" allow-negative="false" placeholder="Availed Qty" class="form-control" name="availedQuantity"
                                                                   ng-model="selectedProductContract.availedQuantity"
                                                                   ng-disabled="true" ng-change="validateAvailedQty()" />
                                                        </div>
                                                        <div class="col-md-2">
                                                            <label>Allocation Percentage</label>
                                                            <input type="text" valid-number allow-decimal="true" allow-negative="false" placeholder="Allocation Percentage" class="form-control" name="allocPerc" ng-model="selectedProductContract.allocationPercentage"
                                                                   ng-change="calculateAllocation(selectedProductContract)" ng-disabled="selectedProductContract.isDisabled" />
                                                        </div>
                                                    </div>
                                                    <div class="row">&nbsp;</div>
                                                    <div class="row">
                                                        <div class="col-md-2">
                                                            <label>Start Date<span class="text-danger">*</span></label>
                                                            <div moment-picker="selectedProductContract.startTime" format="DD-MM-YYYY">
                                                                <input class="form-control" placeholder="Select Start date" ng-model="selectedProductContract.startTime" ng-model-options="{ updateOn: 'blur' }"
                                                                 ng-disabled="selectedProductContract.isDisabled">
                                                            </div>
                                                        </div>
                                                        <div class="col-md-2">
                                                            <label>End Date<span class="text-danger">*</span></label>
                                                            <div moment-picker="selectedProductContract.endTime" format="DD-MM-YYYY">
                                                                <input class="form-control" placeholder="Select End date" ng-model="selectedProductContract.endTime" ng-model-options="{ updateOn: 'blur' }"
                                                                 ng-disabled="selectedProductContract.isDisabled">
                                                            </div>
                                                        </div>
                                                        <div class="col-md-2">
                                                            <label>Vendor <span class="text-danger">*</span></label>
                                                            <div class="input-group" style="border:{{selectedProductContract.errorColorNme}};border-radius: 5px;">
                                                                <input type="text" placeholder="companyName" class="form-control" name="companyName" ng-model="selectedProductContract.companyName" data-toggle="modal"
                                                                       data-target="{{selectedProductContract.REQ_ID}} > 0 ? '' : #myModal1" readonly ng-click="contractIndex($index)" />
                                                                <span ng-hide="selectedProductContract.isDisabled || selectedProductContract.REQ_ID > 0" class="input-group-addon" data-toggle="modal" data-target="#myModal1"><i class="fa fa-user-plus" aria-hidden="true" ng-click="contractIndex($index)"></i></span>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-2">
                                                            <label>Payment Terms</label>
                                                            <input ng-model="selectedProductContract.PAYMENT_TERMS"
                                                                   ng-disabled="selectedProductContract.isDisabled"
                                                                   type="text" class="form-control" />
                                                        </div>
                                                        <div class="col-md-2">
                                                            <label>Inco Terms</label>
                                                            <input ng-model="selectedProductContract.INCO_TERMS"
                                                                   ng-disabled="selectedProductContract.isDisabled"
                                                                   type="text" class="form-control" />
                                                        </div>
                                                    </div>
                                                    <div class="row">&nbsp;</div>
                                                    <div class="row">
                                                        <div class="col-md-2">
                                                            <label>Delivery Terms</label>
                                                            <input ng-model="selectedProductContract.DELIVERY_TERMS"
                                                                   ng-disabled="selectedProductContract.isDisabled"
                                                                   type="text" class="form-control" />
                                                        </div>
                                                        <div class="col-md-2">
                                                            <label>Other Terms</label>
                                                            <input ng-model="selectedProductContract.GENERAL_TERMS"
                                                                   ng-disabled="selectedProductContract.isDisabled"
                                                                   type="text" class="form-control" />
                                                        </div>
                                                        <div class="col-md-2">
                                                            <label>Delivery From</label>
                                                            <input type="text" ng-model="selectedProductContract.DELIVERY_FROM"
                                                                   ng-disabled="selectedProductContract.isDisabled"
                                                                   placeholder="Delivery From" class="form-control" />
                                                        </div>
                                                        <div class="col-md-2">
                                                            <label>Delivery At</label>
                                                            <input ng-model="selectedProductContract.DELIVERY_AT"
                                                                   ng-disabled="selectedProductContract.isDisabled"
                                                                   type="text" class="form-control" />
                                                        </div>
                                                        <div class="col-md-2">
                                                            <label>Lead Time</label>
                                                            <input ng-model="selectedProductContract.LEADTIME"
                                                                   ng-disabled="selectedProductContract.isDisabled"
                                                                   type="text" class="form-control" />
                                                        </div>
                                                    </div>
                                                    <div class="row">&nbsp;</div>
                                                    <div class="row">
                                                        <div class="col-md-2">
                                                            <label>Warranty</label>
                                                            <input ng-model="selectedProductContract.WARRANTY"
                                                                   ng-disabled="selectedProductContract.isDisabled"
                                                                   type="text" class="form-control" />
                                                        </div>
                                                        <div class="col-md-2">
                                                            <label>Special Instructions</label>
                                                            <input ng-model="selectedProductContract.SPECIAL_INSTRUCTIONS"
                                                                   ng-disabled="selectedProductContract.isDisabled"
                                                                   type="text" class="form-control" />
                                                        </div>
                                                        <div class="col-md-2">
                                                            <label>Net Price</label>
                                                            <input type="text" valid-number allow-decimal="true" allow-negative="false" class="form-control"
                                                                   ng-model="selectedProductContract.NET_PRICE" readonly ng-disabled="true" />
                                                        </div>
                                                        <div class="col-md-2">
                                                            <label>Discount</label>
                                                            <input type="text" valid-number allow-decimal="true" allow-negative="false" class="form-control"
                                                                   ng-disabled="selectedProductContract.isDisabled"
                                                                   ng-model="selectedProductContract.DISCOUNT"
                                                                   ng-change="calculateDiscount(selectedProductContract, 'gst', 100)" />
                                                        </div>
                                                        <div class="col-md-2">
                                                            <label>GST %</label>
                                                            <input type="text" valid-number allow-decimal="true" allow-negative="false" class="form-control"
                                                                   ng-disabled="selectedProductContract.isDisabled"
                                                                   ng-model="selectedProductContract.GST" ng-change="calculateGST(selectedProductContract, 'gst', 100)" />
                                                        </div>
                                                    </div>
                                                    <div class="row">&nbsp;</div>
                                                    <div class="row">
                                                        <div class="col-md-2">
                                                            <label>Custom Duty %</label>
                                                            <input type="text" valid-number allow-decimal="true" allow-negative="false" class="form-control"
                                                                   ng-disabled="selectedProductContract.isDisabled"
                                                                   ng-model="selectedProductContract.CUSTOM_DUTY" ng-change="calculateCustomDuty(selectedProductContract, 'customDuty', 100)" />
                                                        </div>
                                                        <div class="col-md-2">
                                                            <label>
                                                                Eligibility to redeem Discount
                                                            </label>
                                                            <input ng-model="selectedProductContract.DISCOUNT_ELIGIBILITY"
                                                                   ng-disabled="selectedProductContract.isDisabled"
                                                                   type="text" class="form-control" />
                                                        </div>
                                                        <div class="col-md-2">
                                                            <label>Reconciliation timelines</label>
                                                            <input ng-model="selectedProductContract.RECONCILIATION_TIMELINES"
                                                                   ng-disabled="selectedProductContract.isDisabled"
                                                                   type="text" class="form-control" />
                                                        </div>
                                                        <div class="col-md-2">
                                                            <label>Currency</label>
                                                            <input type="text" class="form-control" ng-model="selectedProductContract.CURRENCY"
                                                                   ng-disabled="selectedProductContract.isDisabled" />
                                                        </div>
                                                        <div class="col-md-2">
                                                            <label>Exchange Rate</label>
                                                            <input type="text" valid-number allow-decimal="true" allow-negative="false" class="form-control"
                                                                   ng-disabled="selectedProductContract.isDisabled"
                                                                   ng-model="selectedProductContract.EXCHANGE_RATE" />
                                                        </div>
                                                    </div>
                                                    <div class="row">&nbsp;</div>
                                                    <div class="row">
                                                        <div class="col-md-2">
                                                            <label>PO Currency</label>
                                                            <input type="text" class="form-control" ng-model="selectedProductContract.PO_CURRENCY"
                                                                   ng-disabled="selectedProductContract.isDisabled" />
                                                        </div>
                                                        <div class="col-md-2">
                                                            <label>Plant Name<span class="text-danger">*</span></label>
                                                            <input type="text" ng-disabled="true" class="form-control" ng-model="selectedProductContract.PLANT_CODE" />
                                                            <!--<select type="text" class="form-control" ng-model="selectedProductContract.PLANT_CODE" ng-options="value.deptBranch as value.deptBranch for value in companyPlants"></select>-->
                                                        </div>

                                                        <div class="col-md-6">
                                                            <label><strong>Selected Vendor Codes<span class="text-danger">*</span></strong>:</label>

                                                            <div class="row" 
                                                                 ng-disabled="selectedProductContract.isDisabled"
                                                                 ng-if="selectedProductContract && selectedProductContract.vendor.vendorCodeList && selectedProductContract.vendor.vendorCodeList.length > 0 && PC_ID > 0"
                                                                 ng-repeat="code in selectedProductContract.vendor.vendorCodeList track by $index">
                                                                <div class="col-md-12">
                                                                    <label style="font-size:15px">
                                                                        <input type="radio"
                                                                               ng-click="selectVendorCode(vendor)"
                                                                               ng-model="selectedProductContract.selectedVendorCode"
                                                                               ng-disabled="selectedProductContract.isDisabled"
                                                                               ng-value="code.VENDOR_CODE" /> {{code.VENDOR_CODE}} - {{code.VENDOR_SITE_CODE}} - {{code.GST_NUMBER}} - {{code.GST_ADDR}}
                                                                    </label>
                                                                </div>
                                                            </div>

                                                            <div class="row"
                                                                 ng-disabled="selectedProductContract.isDisabled"
                                                                 ng-if="selectedProductContract.VENDOR_GST_ADDRESS">
                                                                <div class="col-md-12">
                                                                    <label style="font-size:15px">
                                                                        <input type="radio"
                                                                               ng-click="selectVendorCode(vendor)"
                                                                               ng-model="selectedProductContract.selectedVendorCode"
                                                                               ng-disabled="selectedProductContract.isDisabled"
                                                                               ng-value="selectedProductContract.selectedVendorCode"/> {{selectedProductContract.VENDOR_GST_ADDRESS}}
                                                                    </label>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="row">&nbsp;</div>
                                                </div>



                                            </div>
                                        </div>

                                        <div class="row" style="margin-top: 15px;" ng-if="showContractSaveValidationError">
                                            <div class="col-md-12">
                                                <span><label style="font-size:15px;color:red">{{showContractSaveValidationError}}</label></span>
                                            </div>
                                        </div>

                                        <div class="row" style="margin-top: 15px;">
                                            <div class="row text-center">
                                                <button type="button" class="btn btn-info" ng-click="CancelProductContractInfo()">
                                                    Cancel
                                                </button>
                                                <button type="button" class="btn btn-info" ng-click="SaveProductContractInfo()">
                                                    Save
                                                </button>
                                            </div>
                                        </div>

                                    </div>

                                    <!--<div class="row" style="margin-top: 15px;" ng-if="false">
                                        <div class="col-md-2">
                                            <button ng-click="downloadContractTemplate()" class="btn btn-info ng-scope">
                                                Export Template
                                            </button>
                                            <img id="mySpinner" ng-show="downloadExcel" align="middle" src="img/AcadsLoding.gif" />
                                        </div>
                                        <div class="col-md-2">
                                            <div class="fileinput fileinput-new" data-provides="fileinput">
                                                <span class="btn btn-info btn-file m-r-10">
                                                    <span class="fileinput-new">Upload Excel..</span>
                                                    <span class="fileinput-exists">Edit</span>
                                                    <input type="file" accept=".xlsx" id="contractsupload" itemscope="" itemid="contractsupload" ng-file-select-items="onFileSelect($files)" />
                                                </span>
                                                <span class="fileinput-filename"></span>
                                                <a href="#" class="close fileinput-exists" style="color:#000;position:unset;padding:5px 0px 0px 5px;" data-dismiss="fileinput">&times;</a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12 bg-warning" ng-if="productContractUploadStatus" style="margin:15px;height: 550px;max-height: 550px;overflow-y: auto;">
                                            <span ng-bind-html="productContractUploadStatus"></span>
                                        </div>

                                    </div>-->

                                    <div class="row" ng-if="stateName == 'createProductContract' ">
                                        <!--<div ng-if="productId > 0" class="btn btn-info btn-wide pull-right m-b-15" ng-click="addProductContractInfo()">Add Contract</div>-->
                                        <div class="col-md-12" ng-show="prodEditDetails.contractManagement && prodEditDetails.contractManagement.length > 0">
                                            <table class="table table-bordered">
                                                <thead>
                                                    <tr>
                                                        <th>Vendor</th>
                                                        <th>Vendor Code</th>
                                                        <th>Contract Number</th>
                                                        <th>Plant Name</th>
                                                        <th>Value</th>
                                                        <th>Quantity</th>
                                                        <th>Availed Quantity</th>
                                                        <th>Contract Start Info</th>
                                                        <th>Contract End Info</th>
                                                        <th>Price Type</th>
                                                        <th>Contract Status</th>
                                                        <th>Allocation Percentage</th>
                                                        <th></th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr ng-repeat="contract in prodEditDetails.contractManagement" ng-if="prodEditDetails.contractManagement.length > 0">
                                                        <!--contract.isValid == 1 && -->
                                                        <td>
                                                            {{contract.companyName}}
                                                        </td>
                                                        <td>
                                                            {{contract.selectedVendorCode}}
                                                        </td>
                                                        <td>
                                                            {{contract.number}}
                                                        </td>
                                                        <td>
                                                            {{contract.PLANT_CODE}}
                                                        </td>
                                                        <td>
                                                            {{contract.value}}
                                                        </td>
                                                        <td>
                                                            {{contract.quantity}}
                                                        </td>
                                                        <td>
                                                            {{contract.availedQuantity}}
                                                        </td>
                                                        <td>
                                                            {{contract.startTime}}
                                                        </td>
                                                        <td>
                                                            {{contract.endTime}}
                                                        </td>
                                                        <td>
                                                            {{contract.priceType == 'PRICE_INFO' ? 'Price Info' : 'Contract'}}
                                                        </td>
                                                        <td>
                                                            {{contract.contractStatus}}
                                                        </td>
                                                        <td>
                                                            {{contract.allocationPercentage}}
                                                        </td>
                                                        <td>
                                                            <div class="row text-center">
                                                                <div class="col-md-4">
                                                                    <button type="button" class="btn btn-info btn-sm" ng-click="editProduct(contract)">
                                                                        Edit
                                                                    </button>
                                                                </div>
                                                                <!--<div class="col-md-4">
                                    <button type="button" class="btn btn-info btn-sm" ng-click="deleteProductCotractInfo(contract)">
                                        Delete
                                    </button>
                                </div>-->
                                                            </div>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>

                </div>


                <div class="text-center" ng-if="stateName == 'costProductContract' || stateName == 'importProductContract'">
                    <button type="button" class="btn btn-info btn-sm" ng-click="routeToQCS()">Back TO QCS Page</button>
                </div>

            </div>
    </div>
</div>
</div>
