﻿<header id="header" data-ng-include="'template/header.html'"></header>
<div id="wrapper">
    <aside id="sidebar" data-ng-include="'template/sidebar-left.html'" data-ng-class="{ 'toggled': mactrl.sidebarToggle.left === true }"></aside>
    <aside id="chat" data-ng-include="'template/chat.html'" data-ng-class="{ 'toggled': mactrl.sidebarToggle.right === true }"></aside>
    <div id="page-wrapper">
        <div class="container-fluid" ng-controller="storeginCtrl">
            <div class="row ">
            </div>
            <div class="white-box">
                <div class="box-title col-md-12">
                    <div class="col-md-3 pull-left">
                        <h3>Create GIN</h3>
                    </div>
                    <div class="col-md-9 pull-right">
                        <div class="col-md-1 top-buffer pull-right">
                            <button class="btn btn-info btn-new-look" ng-click="cancelClick()">Cancel</button>
                        </div>
                        <div class="col-md-2 top-buffer pull-right">
                            <button class="btn btn-info btn-new-look" ng-click="generateGin()">Submit</button>
                        </div>
                    </div>                    
                </div>

                <!--<div class="card-body card-padding">-->
                <div class="row">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group fg-float col-md-4 m-b-30 top-half-buffer">
                                <div class="fg-line" ng-class="{'fg-toggled': (isEdit===true || GinObject.indentNo)}">
                                    <input type="text" ng-model="ginObject.indentNo" name="IndentNo" id="IndentNo" class="form-control fg-input" />
                                    <label class="fg-label">Indent No.</label>
                                </div>
                            </div>

                            <div class="form-group fg-float col-md-4 m-b-30 top-half-buffer">
                                <div class="fg-line" ng-class="{'fg-toggled': (isEdit===true || ginObject.ginCode)}">
                                    <input type="text" ng-model="ginObject.ginCode" name="GINNo" id="GINNo" class="form-control fg-input" readonly />
                                    <label class="fg-label">GIN No.</label>
                                </div>
                            </div>
                            <div class="form-group fg-float col-md-4 m-b-30">
                                <div class="fg-line" ng-class="{'fg-toggled': (isEdit===true || ginObject.issueDate)}">
                                    <div moment-picker="IssueDateVal" format="DD-MM-YYYY HH:mm ">
                                        <input type="text" ng-model="IssueDateVal" name="IssueDate" id="IssueDate" date-only class="form-control fg-input" />
                                        <label class="fg-label">Issue Date *</label>
                                    </div>
                                </div>
                                <div ng-show="issueDateError">
                                    <div class="help-block error logininput">Please enter Valid Date</div>
                                </div>
                            </div>

                           
                        </div>
                        <div class="col-md-12">
                            <div class="form-group fg-float col-md-4 m-b-30">
                                <!--<div class="fg-line input-field" ng-class="{'fg-toggled': (isEdit===true || ginObject.shipCity)}">
                                <input type="text" ng-model="ginObject.shipCity" name="ShipTo" id="ShipTo" class="form-control fg-input" />
                               <label class="fg-label">Ship City</label>
                                      </div>-->
                                <div configkey="GIN_SHIP_CITY" prm-config-select ng-model="ginObject.shipCity"></div>
                                <label class="fg-label">Ship City</label>
                            </div>
                            
                            
                            
                            <div class="form-group fg-float col-md-4 m-b-30">
                                <!--<div class="fg-line input-field" ng-class="{'fg-toggled': (isEdit===true || ginObject.shipLine1)}">
                                    <input type="text" ng-model="ginObject.shipLine1" name="ShipTo" id="ShipTo" class="form-control fg-input" />
                                    <label class="fg-label">Ship To</label>
                                </div>-->
                                <div configkey="GIN_SHIP_TO" prm-config-select ng-model="ginObject.shipLine1"></div>
                                <label class="fg-label">Ship To</label>

                            </div>
                            <div class="form-group fg-float col-md-4 m-b-30">
                                <!--<div class="form-group fg-float col-md-4 m-b-30">
                               <label class="fg-label">Issue Location:</label>
                                      </div>-->
                                <div class="form-group fg-float col-md-12 m-b-30">
                                    <!--<div class="fg-line" ng-class="{'fg-toggled': (isEdit===true || ginObject.issueLocation)}">-->
                                    <!--<input type="text" ng-model="ginObject.issueLocation" ng-change="generateGinValidations();" name="IssueLocation" id="IssueLocation" class="form-control fg-input" />-->
                                    <div configkey="TEMP" prm-config-select ng-model="configValue"></div>
                                    <label class="fg-label">Issue Location:</label>
                                    <!--</div>-->
                                </div>

                            </div>
                            
                           

                            
                        </div>
                        <div class="col-md-12">
                            
                            <div class="form-group fg-float col-md-4 m-b-30">
                                <div class="fg-line" ng-class="{'fg-toggled': (isEdit===true || ginObject.shipMode)}">
                                    <input type="text" ng-model="ginObject.shipMode" ng-change="generateGinValidations();" name="DeliveryMode" id="DeliveryMode" class="form-control fg-input" />
                                    <label class="fg-label">Delivery Mode</label>
                                </div>
                            </div>
                            
                            <div class="form-group fg-float col-md-4 m-b-30 top-half-buffer">
                                <div class="fg-line" ng-class="{'fg-toggled': (isEdit===true || ginObject.shipName)}">
                                    <input type="text" ng-model="ginObject.shipName" name="Name" id="Name" class="form-control fg-input" />
                                    <label class="fg-label">Indenter Name</label>
                                </div>
                            </div>
                            <div class="form-group fg-float col-md-4 m-b-30">
                                <div class="fg-line" ng-class="{'fg-toggled': (isEdit===true || ginObject.phone)}">
                                    <input type="number" ng-model="ginObject.phone" name="Phone" id="Phone" class="form-control fg-input" required />
                                    <label class="fg-label">Phone *</label>
                                </div>
                                <div ng-show="phoneError">
                                    <div class="help-block error logininput">Please enter Valid Mobile No</div>
                                </div>
                            </div>

                            

                            
                        </div>
                        <div class="col-md-12">
                            <!--<div class="form-group fg-float col-md-4 m-b-30 top-half-buffer">
                                <div class="fg-line" ng-class="{'fg-toggled': (isEdit===true || ginObject.shipModeDetails)}">
                                    <input type="text" ng-model="ginObject.shipModeDetails" ng-change="generateGinValidations();" name="CarrierName" id="CarrierName" class="form-control fg-input" />
                                    <label class="fg-label">Carrier Name</label>
                                </div>
                            </div>-->

                            <!--<div class="form-group fg-float col-md-4 m-b-30 top-half-buffer">
                                <div class="fg-line" ng-class="{'fg-toggled': (isEdit===true || ginObject.shipTrackNo)}">
                                    <input type="text" ng-model="ginObject.shipTrackNo" ng-change="generateGinValidations();" name="TrackingNo" id="TrackingNo" class="form-control fg-input" />
                                    <label class="fg-label">Tracking No.</label>
                                </div>
                            </div>-->

                            <div class="form-group fg-float col-md-4 m-b-30">
                                <div class="fg-line" ng-class="{'fg-toggled': (isEdit===true || ginObject.comments)}">
                                    <textarea ng-model="ginObject.comments" ng-change="generateGinValidations();" name="storeAddress" id="storeAddressID" rows="2" style="resize: vertical;" class="form-control fg-input"></textarea>
                                    <label class="fg-label">Comments</label>
                                </div>
                            </div>
                        </div>                        
                        </div>
                    <div class="table table-responsive">
                        <table class="table table-hover z-depth-1 clear-both" style="background-color:#f5f5f5">
                            <thead>
                                <tr style="font-weight: bold">
                                    <td style="width:20%">Item Code (HSN)</td>
                                    <td style="width:20%">Sub Code</td>
                                    <td style="width:10%">Units</td>
                                    <td style="width:10%">In-Stock</td>
                                    <td style="width:10%">Price</td>
                                    <td style="width:10%">Requested Qty</td>
                                    <td style="width:10%">Ship Qty</td>
                                    <td style="width:10%">Serial No.</td>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="storeitem in companyStoreItems">
                                    <td>{{storeitem.itemCode}}</td>
                                    <td>{{storeitem.itemName}}</td>
                                    <td>{{storeitem.itemUnits}}</td>
                                    <td>{{storeitem.inStock}}</td>
                                    <td>{{storeitem.itemPrice}}</td>
                                    <td>
                                        <input min="0" max="{{storeitem.inStock}}" number-input-val type="number" ng-model="storeitem.orderQty" required name="orderQty" id="orderQty" class="form-control fg-input" />
                                    </td>
                                    <td>
                                        <input min="0" max="{{storeitem.inStock}}" number-input-val type="number" ng-model="storeitem.shipQty" required name="orderQty" id="orderQty" class="form-control fg-input" />
                                    </td>
                                    <td>
                                        <button class="btn btn-info btn-file btn-new-look" data-target="#storeItemDetails" data-toggle="modal" ng-click="selectSerialNo(storeitem.itemID)">Select</button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div> 
                    </div>
            </div>

            <span class="pull-right">
                <div class="modal" id="storeItemDetails" tabindex="-1">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button class="close" data-dismiss="modal">&times;</button>
                                <h4 class="modal-title">Details</h4>
                            </div>
                            <div class="modal-body" style="max-height:400px;overflow-y:auto;">
                                <div class="pmbb-view" style="overflow-wrap: break-word;">
                                    <table class="table table-hover table-responsive z-depth-1 clear-both" style="background-color:#f5f5f5">
                                        <thead>
                                            <tr style="font-weight: bold">
                                                <td style="width:5%"></td>
                                                <td style="width:25%">Serial No.</td>
                                                <td style="width:20%">Warranty</td>
                                                <td style="width:20%">Warranty Date</td>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr ng-repeat="itemDetails in storeItemSerialNos[currentStoreItemID]">
                                                <td style="width:5%">
                                                    <input type="checkbox" value="" ng-model="itemDetails.isSelected" id="chk{{itemDetails.itemDetailID}}" ng-change="itemDetailsSelect(itemDetails)">
                                                </td>
                                                <td>{{itemDetails.serialNo}}</td>
                                                <td>{{itemDetails.warrantyNo}}</td>
                                                <td>{{handleDate(itemDetails.warrantyDate)}}</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" data-dismiss="modal" class="btn btn-info">Done</button>
                            </div>
                        </div>
                    </div>
                </div>
            </span>


        </div>
    </div>
</div>

<footer id="footer" data-ng-include="'template/footer.html'"></footer>






 <!--ng-if="showStoreItemObj.StoreItem"-->