﻿<div class="fix-header">
    <div id="wraper">
        <header data-ng-include="'template/header.html'" data-ng-controller="headerCtrl as hctrl"></header>
        <aside data-ng-include="'template/sidebar-left.html'" data-ng-class="{ 'toggled': mactrl.sidebartoggle.left === true }"></aside>
        <div id="page-wrapper">
            <div class="container-fluid" data-ng-controller="purchaserAnalysisCtrl">
                <div class="box-title">
                    <h4 style="text-align:center;"><strong>Purchaser Analysis</strong></h4>
                </div>
                <div class="white-box">
                    <div class="row">
                        <div class="col-md-2">
                            <div class="form-group">
                                <label class="col-md-12">From date</label>
                                <div class="col-md-12" moment-picker="FromDate" format="YYYY-MM-DD">
                                    <!--<input type="text" class="form-control form-control-line" value="11/10/2017">-->
                                    <input class="form-control" placeholder="Select a date" ng-model="FromDate" ng-model-options="{ updateOn: 'blur' }">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="form-group">
                                <label class="col-md-12">To date</label>
                                <div class="col-md-12" moment-picker="ToDate" format="YYYY-MM-DD">
                                    <!--<input type="text" class="form-control form-control-line" value="11/10/2017">-->
                                    <input class="form-control" placeholder="Select a date" ng-model="ToDate" ng-model-options="{ updateOn: 'blur' }">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <label class="col-md-12">&nbsp;</label>
                            <button class="btn btn-danger pull-right m-l-20 waves-effect waves-light" ng-click="getPurchaserAnalysis();">Apply</button>
                        </div>
                        <div class="col-md-2">
                            <label>User </label>
                            <select ng-model="SUB_U_ID" class="form-control" ng-options="sub.userID as sub.firstName+' '+sub.lastName for sub in subUsers"></select>
                        </div>
                        <div class="col-md-2"><label class="col-md-12">&nbsp;</label><button class="btn btn-danger pull-right m-l-20 waves-effect waves-light" ng-click="getPurchaserAnalysis();">Get Analysis</button></div>
                    </div>
                </div>
                <div class="white-box text-center">
                    <h5><strong>TURN AROUND TIME</strong></h5>
                    <div class="row text-center">
                        <div class="col-md-2">
                            <h3 class="box-title"><strong> PR </strong></h3>
                            <div class="col-md-12">
                                <h3>
                                    --
                                </h3>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <h3 class="box-title"><strong> RFQ </strong></h3>
                            <div class="col-md-12">
                                <!--<h3>{{D}}<small title="Days">D </small>{{H}}<small title="Hours">H </small>{{M}}<small title="Minutes">M </small></h3>-->
                                <h3>6<small title="Days">D </small>0<small title="Hours">H </small>46<small title="Minutes">M </small></h3>

                            </div>
                        </div>
                        <div class="col-md-3">
                            <h3 class="box-title"><strong> QCS </strong></h3>
                            <div class="col-md-12">
                                <!--<h3>{{D1}}<small title="Days">D </small>{{H1}}<small title="Hours">H </small>{{M1}}<small title="Minutes">M </small></h3>-->
                                <h3>0<small title="Days">D </small>15<small title="Hours">H </small>40<small title="Minutes">M </small></h3>

                            </div>
                        </div>
                        <div class="col-md-2">
                            <h3 class="box-title"><strong> PO </strong></h3>
                            <div class="col-md-12">
                                <h3>--</h3>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <h3 class="box-title"><strong> DELIVERY </strong></h3>
                            <div class="col-md-12">
                                <h3>--</h3>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="white-box">
                    <div class="row">
                        <div class="col-md-12 text-center">
                            <div class="col-md-4 text-center">
                                <h5><strong>TCS</strong></h5>
                                <div class="text-center">
                                    --
                                </div>
                            </div>
                            <!--<div style="border-left:3px solid green;height:65px;position:absolute;left:50%;margin-left: -3px;top:0"></div>-->
                            <div class="col-md-4">
                                <h5><strong>SAVINGS</strong></h5>
                                <div class="text-center">
                                    <!--{{PurchaserAnalysis.USER_SAVINGS | number: companyRoundingDecimalSetting}}-->
                                    18,085.70
                                </div>
                            </div>
                            <!--<div style="border-left:3px solid green;height:65px;position:absolute;left:50%;margin-left: -3px;top:0"></div>-->
                            <div class="col-md-4">
                                <h5><strong>No.Of Pending PR's</strong></h5>
                                <div class="text-center">
                                    --
                                </div>
                            </div>
                        </div>
                        <!--<div class="col-md-6 text-center">


            </div>-->
                    </div>
                </div>
                <div class="white-box">
                    <div class="row">
                        <div class="col-md-6">
                            <label><strong>MATERIAL</strong></label>
                            <table class="tablesaw table-striped table" data-tablesaw-mode="swipe">
                                <thead>
                                    <tr>
                                        <th style="color:white;">No.Of Materials</th>
                                        <!--<th style="color:white;">Total Volume</th>-->
                                        <th style="color:white;">Total Value</th>
                                        <th style="color:white;">No.Of Transactions</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <!--<td class="">{{PurchaserAnalysis.TOTAL_MATERIAL}}</td>-->
                                        <!--<td class="">{{PurchaserAnalysis.TOTAL_VOLUME}}</td>-->
                                        <!--<td>{{PurchaserAnalysis.TOTAL_ITEM_SUM | number : companyRoundingDecimalSetting}} </td>
                                        <td>
                                            {{PurchaserAnalysis.TOTAL_RFQ}}
                                        </td>-->
                                        <td>24</td>
                                        <td>3,282,346.87</td>
                                        <td>8</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="col-md-6">
                            <label><strong>VENDORS</strong></label>
                            <table class="tablesaw table-striped table" data-tablesaw-mode="swipe">
                                <thead>
                                    <tr>
                                        <th style="color:white;">No.Of Vendors</th>
                                        <th style="color:white;">No.Of Vendors Added</th>
                                        <th style="color:white;">No.Of Vendors Deleted</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <!--<td class="">{{PurchaserAnalysis.TOTAL_VENDORS}}</td>
                                        <td>{{PurchaserAnalysis.ADDED_VENDORS}} </td>
                                        <td class="">{{PurchaserAnalysis.DELETED_VENDORS}}</td>-->
                                        <td>37</td>
                                        <td>5331</td>
                                        <td>0</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <!--<div class="white-box">
        <div class="row">
            <div class="col-md-12">
                <label><strong>VENDORS</strong></label>
                <table class="tablesaw table-striped table" data-tablesaw-mode="swipe">
                    <thead>
                        <tr>
                            <th style="color:white;">No.Of Vendors</th>
                            <th style="color:white;">No.Of Vendors Added</th>
                            <th style="color:white;">No.Of Vendors Deleted</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td class="">{{PurchaserAnalysis.TOTAL_VENDORS}}</td>
                            <td>{{PurchaserAnalysis.ADDED_VENDORS}} </td>
                            <td class="">{{PurchaserAnalysis.DELETED_VENDORS}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>-->
            </div>
        </div>
    </div>

</div>