﻿<div class="fix-header">
    <div id="wraper">
        <header data-ng-include="'template/header.html'" data-ng-controller="headerCtrl as hctrl"></header>
        <aside data-ng-include="'template/sidebar-left.html'" data-ng-class="{ 'toggled': mactrl.sidebartoggle.left === true }"></aside>
       
        <div id="page-wrapper">
            <div class="container-fluid" data-ng-controller="savingsDashBoardCtrl">
                <div class="white-box col-md-12 form-group">
                    <div class="col-md-12 text-center">
                        <h4><label>Procurement Savings Dashboard</label></h4>
                        <div class="col-md-6 hoverTransition04">
                            <!--<div class="col-md-12 white-box whiteBorders">
                <div class="col-md-12 " style="overflow-x :auto">
                    <div id="savingsFunnel"></div>
                </div>
            </div>-->
                            <!--<div class="row">-->
                            <div class="col-md-5" style="margin-top: 5px">
                                <input ng-model="searchCategory" class="form-control" placeholder="Search With Category" ng-change="filterCategories(searchCategory)" />
                            </div>
                            <!--</div>-->
                            <h3 style="text-align: justify;">Category Wise</h3>
                            <div style="max-height:350px; overflow-y:auto;">
                                <table class="table table-striped  table-fixed">
                                    <!--table table-bordered table-striped-->
                                    <thead>
                                        <tr style="font-weight: bold;">
                                            <th width="30%" style="text-align:center;">Category</th>
                                            <th width="20%" style="text-align:center;">Savings</th>
                                            <th width="20%" style="text-align:center;">Spend</th>
                                            <th width="20%" style="text-align:center;">Percentage</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                      
                                        <tr>
                                            <td>4 FT M/C</td>
                                            <td>54.28</td>
                                            <td>3,85,695.38</td>
                                            <td>0.01%</td>
                                        </tr>
                                        <tr>
                                            <td>PLATE</td>
                                            <td>6,39,529.32</td>
                                            <td>7,34,58,042.45</td>
                                            <td>0.87%</td>
                                        </tr>
                                        <tr>
                                            <td>V BELT</td>
                                            <td>3,024</td>
                                            <td>73,913</td>
                                            <td>4.09%</td>
                                        </tr>
                                        <tr>
                                            <td>125KVA</td>
                                            <td>162.84</td>
                                            <td>11,57,086.14</td>
                                            <td>0.01%</td>
                                        </tr>
                                        <tr>
                                            <td>18MM STARKE PNL LIGHT PVC SHEET</td>
                                            <td>0</td>
                                            <td>7,410.40</td>
                                            <td>0.00%</td>
                                        </tr>
                                        <tr>
                                            <td>250KVA</td>
                                            <td>54.28</td>
                                            <td>3,85,695.38</td>
                                            <td>0.01%</td>
                                        </tr>
                                        <tr>
                                            <td>275KVA</td>
                                            <td>54.28</td>
                                            <td>3,85,695.38</td>
                                            <td>0.01%</td>
                                        </tr>
                                        <tr>
                                            <td>320KVA M/C</td>
                                            <td>54.28</td>
                                            <td>3,85,695.38</td>
                                            <td>0.01%</td>
                                        </tr>
                                        <tr>
                                            <td>365KVA</td>
                                            <td>54.28</td>
                                            <td>3,85,695.38</td>
                                            <td>0.01%</td>
                                        </tr>
                                        <tr>
                                            <td>4 FT M/C</td>
                                            <td>108.56</td>
                                            <td>7,71,390.76</td>
                                            <td>0.01%</td>
                                        </tr>
                                        <tr>
                                            <td>400KVA</td>
                                            <td>54.28</td>
                                            <td>4,02,793.58</td>
                                            <td>0.01%</td>
                                        </tr>
                                        <tr>
                                            <td>500KVA</td>
                                            <td>54.28</td>
                                            <td>3,85,695.38</td>
                                            <td>0.01%</td>
                                        </tr>
                                        <tr>
                                            <td>600KVA</td>
                                            <td>54.28</td>
                                            <td>3,85,695.38</td>
                                            <td>0.01%</td>
                                        </tr>
                                        <tr>
                                            <td>625KVA</td>
                                            <td>54.28</td>
                                            <td>3,85,695.38</td>
                                            <td>0.01%</td>
                                        </tr>
                                        <tr>
                                            <td>7.5</td>
                                            <td>54.28</td>
                                            <td>3,85,695.38</td>
                                            <td>0.01%</td>
                                        </tr>
                                        <tr>
                                            <td>8 FT M/C</td>
                                            <td>1,07,852.9</td>
                                            <td>65,55,927.45</td>
                                            <td>1.65%</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>

                        </div>
                        <div class="col-md-6 hoverTransition04">
                            <div class="col-md-5" style="margin-top: 5px;">
                                <input ng-model="searchDepartment" class="form-control" style="cursor:pointer" placeholder="Search With Department" ng-change="filterDeapartment(searchDepartment)" />
                            </div>
                            <h3 style="text-align: justify;">Department Wise</h3>
                            <div style="max-height:350px; overflow-y:auto;">
                                <table class="table table-striped table-fixed">
                                    <!--table table-bordered table-striped-->
                                    <thead>
                                        <tr style="font-weight: bold">
                                            <th width="30%" style="text-align:center;">Department</th>
                                            <th width="20%" style="text-align:center;">Savings</th>
                                            <th width="20%" style="text-align:center;">Spend</th>
                                            <th width="20%" style="text-align:center;">Percentage</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                       
                                        <tr>
                                            <td>123</td>
                                            <td>61,26,481.33</td>
                                            <td>1,91,86,951.04</td>
                                            <td>26.72%</td>
                                        </tr>
                                        <tr>
                                            <td>345</td>
                                            <td>71,30,176.17</td>
                                            <td>8,23,20,573.39</td>
                                            <td>8.66%</td>
                                        </tr>
                                        <tr>
                                            <td>231</td>
                                            <td>56,88,287.64</td>
                                            <td>4,81,06,070.77</td>
                                            <td>11.82%</td>
                                        </tr>
                                        <tr>
                                            <td>432</td>
                                            <td>1,06,80,999.83</td>
                                            <td>22,64,90,186.64</td>
                                            <td>4.72%</td>
                                        </tr>
                                        <tr>
                                            <td>486</td>
                                            <td>67,61,991.27</td>
                                            <td>7,16,12,601.88</td>
                                            <td>9.44%</td>
                                        </tr>
                                        <tr>
                                            <td>454</td>
                                            <td>51,26,481.33</td>
                                            <td>1,91,86,951.04</td>
                                            <td>26.72%</td>
                                        </tr>
                                        <tr>
                                            <td>234</td>
                                            <td>51,26,481.33</td>
                                            <td>1,91,86,951.04</td>
                                            <td>26.72%</td>
                                        </tr>
                                        <tr>
                                            <td>234</td>
                                            <td>51,26,481.33</td>
                                            <td>1,91,86,951.04</td>
                                            <td>26.72%</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>

                            <!--<div class="col-md-12 white-box whiteBorders">
                <div class="col-md-12 " style="overflow-x :auto">
                    <div id="savingsPie"></div>
                </div>
            </div>-->
                        </div>
                    </div>
                    <div class="row">
                        &nbsp;
                    </div>
                    <div class="col-md-12 text-center">
                        <div class="col-md-6 hoverTransition04">
                            <!--<div class="col-md-12 white-box whiteBorders">
                <div class="col-md-12 " style="overflow-x :auto">
                    <div id="savingsByMonth"></div>
                </div>
            </div>-->
                            <div class="col-md-5" style="margin-top: 5px;">
                                <input ng-model="searchMonth" class="form-control" style="cursor:pointer" placeholder="Search With Month" ng-change="filterMonth(searchMonth)" />
                            </div>
                            <h3 style="text-align: justify;">Month Wise</h3>
                            <div style="max-height:350px; overflow-y:auto;">
                                <table class="table table-striped table-fixed">
                                    <!--table table-bordered table-striped-->
                                    <thead>
                                        <tr style="font-weight: bold">
                                            <th width="30%" style="text-align:center;">Month</th>
                                            <th width="20%" style="text-align:center;">Savings</th>
                                            <th width="20%" style="text-align:center;">Spend</th>
                                            <th width="20%" style="text-align:center;">Percentage</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                       
                                        <tr>
                                            <td>January</td>
                                            <td>16,60,968.54</td>
                                            <td>35,02,59,28,692.62</td>
                                            <td>0.00%</td>
                                        </tr>
                                        <tr>
                                            <td>February</td>
                                            <td>28,14,033.24</td>
                                            <td>74,78,50,90,992.36</td>
                                            <td>0.00%</td>
                                        </tr>
                                        <tr>
                                            <td>March</td>
                                            <td>36,16,009.35</td>
                                            <td>1,47,67,68,88,541.87</td>
                                            <td>0.00%</td>
                                        </tr>
                                        <tr>
                                            <td>April</td>
                                            <td>5,75,250</td>
                                            <td>1,89,32,93,442.84</td>
                                            <td>0.03%</td>
                                        </tr>
                                        <tr>
                                            <td>May</td>
                                            <td>19,13,617.5</td>
                                            <td>26,50,61,08,199.82</td>
                                            <td>0.01%</td>
                                        </tr>
                                        <tr>
                                            <td>June</td>
                                            <td>7,51,720.05</td>
                                            <td>58,69,20,96,728.18</td>
                                            <td>0.00%</td>
                                        </tr>
                                        <tr>
                                            <td>July</td>
                                            <td>53,57,489.16</td>
                                            <td>1,01,29,11,99,192.17</td>
                                            <td>0.01%</td>
                                        </tr>
                                        <tr>
                                            <td>August</td>
                                            <td>31,00,780.15</td>
                                            <td>1,12,65,09,59,849.23</td>
                                            <td>0.00%</td>
                                        </tr>
                                        <tr>
                                            <td>September</td>
                                            <td>2,36,301.35</td>
                                            <td>44,49,23,95,906.84</td>
                                            <td>0.00%</td>
                                        <tr>
                                            <td>November</td>
                                            <td>1,281.17</td>
                                            <td>10,41,31,13,935.64</td>
                                            <td>0.00%</td>
                                        <tr>
                                            <td>December</td>
                                            <td>19,26,347.62</td>
                                            <td>31,23,93,41,806.93</td>
                                            <td>0.01%</td>
                                        </tr>
                                        
                                    </tbody>
                                </table>
                            </div>

                        </div>
                        <div class="col-md-6 hoverTransition04">
                            <!--<div class="col-md-12 white-box whiteBorders">
                <div class="col-md-12 " style="overflow-x :auto">
                    <div id="targetBar"></div>
                </div>
            </div>-->
                            <div class="col-md-12 white-box whiteBorders">
                                <div class="col-md-12 " style="overflow-x :auto">
                                    <div id="savingsByMonth"></div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>

</div>